@media screen and (max-width:768px) {
	p{
		font-size:14px !important;
		line-height:21px !important;
		font-weight:lighter;
		margin-bottom:20px;
		text-align:left;
	}
	
	#sidebar_client{display:none;}
	
	div.navbar{padding-left:0;}
	
	header div.navbar-header{float:left;}
	
	#close_sidebar_block{
		display:block;
		color: #fff;
		cursor: pointer;
		float: left;
		font-size: 16px;
		font-weight: 700;
		position: absolute;
		right: 5px;
		text-decoration: none;
		top: 9px;
	}
	
	#wrapper_client{
		padding:40px 5px 80px 10px;
	}
	
	#graph_options.account_synthesis{padding-left:5px;}
	
	/*table.respond_table thead{display:none;}
	
	table.respond_table td:before {
		left:6px;
		padding-right:10px;
		position:absolute;
		white-space:nowrap;
		width:45%;
	}
	table.respond_table td{
		border-bottom:none;
		border-left:1px solid #f5f6f8;
		border-right:1px solid #f5f6f8;
		display: block;
		padding-left: 50%;
		position: relative;
		text-align:left;
	}
	table.respond_table td:first-child{border-top:1px solid #f5f6f8;}
	table.respond_table tr:last-child td:last-child{border-bottom:1px solid #f5f6f8;}
	
	table.respond_table tr:nth-child(2n){background-color:#e8e8e8;}
	
	table#positions td:nth-of-type(1):before{content: "Nom valeur"; text-transform:none;}
	table#positions td:nth-of-type(2):before{content: "Quantité";}
	table#positions td:nth-of-type(3):before{content: "Cours de revient";}
	table#positions td:nth-of-type(4):before{content: "Dernier cours";}
	table#positions td:nth-of-type(5):before{content: "Estimation";}
	table#positions td:nth-of-type(6):before{content: "+/- val";}
	table#positions td:nth-of-type(7):before{content: "+/- val (%)";}
	
	table#mouvements td:nth-of-type(1):before{content: "Date"; text-transform:none;}
	table#mouvements td:nth-of-type(2):before{content: "Opération";}
	table#mouvements td:nth-of-type(3):before{content: "Quantité"; font-weight:normal;}
	table#mouvements td:nth-of-type(4):before{content: "Libellé"; text-align:left; text-transform:none;}
	table#mouvements td:nth-of-type(5):before{content: "Cours";}
	table#mouvements td:nth-of-type(6):before{content: "Montant brut"; font-weight:normal;}
	table#mouvements td:nth-of-type(7):before{content: "Montant net"; font-weight:normal;}*/
	
	div#mandat_wrapper{
		width:100%;
		padding:50px 10px;
	}
	
	div#mandat_wrapper img{
		width:100%;
	}
	
	#mandat_wrapper h2{
		font-size:4vw;
	}
	
	#mandat_wrapper p {
		font-size:3vw !important;
		line-height:2vh !important;
	}
	
	form.step_form{
		padding:30px 10px 14px;
	}
	
	div.navbar{
		height:50px;
		min-height:50px;
	}
	
	header #menu_container.container{
		margin:0 auto;
		position:relative;
		min-width:320px;
	}
	
	#account_breadcrump{top:50px;}
	
	div#header_profile {
		height:50px;
		padding-top:7px;
	}
	
	div#header_links a {
		height: 50px;
		line-height: 43px;
		width: 50px;
	}
	
	.navbar-toggle {
		background: none repeat scroll 0 0 #4f81b6;
		border: medium none;
		border-radius: 0;
		float: left;
		height:50px;
		margin:0 10px 0 0;
	}
	
	#wrapper{
		min-width:320px;
		padding:30px 0 0;
	}
	
	.navbar > .container .navbar-brand{
		height:32px;
		margin-left: 0;
		margin-right: 0;
		margin-top:9px;
		overflow: hidden;
		padding: 0;
		width:33px;
	}
	
	.navbar > .container .navbar-brand img{
		height:32px;
	}
	
	#account_breadcrump #breadcrump-nav .container {
		margin:0;
		padding-left:15px;
		min-width:320px;
	}
	
	#breadcrump-nav ul li {
		font-size:12px;
		padding:15px 5px 0;
	}
	
	h1.page_title {
		font-size:14px;
		line-height: 20px;
	}
	
	.filter_gp .form-group{
		padding:0;
	}

	.synthesis_sentence{
		font-size:16px;
	}

	.synthesis_sentence strong{
		font-size:20px;
	}

	#synthesis_date{
		font-size: 16px;
	}
	
	#wrapper .step_form{
		padding-top:50px;
		padding-left: 10px;
	}
	
	#wrapper .step_form{
		padding:50px 0 30px;
	}
	
	#wrapper .step_form fieldset{
		min-width:320px;
		width:100%;
	}
	
	#breadcrump_account{
		left: 24px;
		line-height: 19px;
		padding-left: 40px;
		padding-top:8px;
		position: absolute;
	}
	
	#breadcrump_account.PEA{background: url("../images/ico_pea.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}
	#breadcrump_account.PEA-PME{background: url("../images/ico_pme.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}
	#breadcrump_account.Neuflize.Vie{background: url("../images/ico_vie.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}
	
	#breadcrump_account span{
		color: #000;
		font-size:14px;
		font-weight:700;
	}
	
	#breadcrump_account div{
		display:none;
	}
	
	div#header_profile, div#header_profile a{font-size:12px;}
	
	div.row div.account_block_number, div.row div.account_block_number.first{
		border-left:none;
		border-bottom:1px solid #dad8d9;
		display:block;
		font-size:20px;
		line-height:25px;
		margin:0;
		padding:10px 0;
		width:100%;
	}
	div.row.five div.account_block_number, div.row.four div.account_block_number, div.row.third div.account_block_number, div.row.two div.account_block_number{
		width:100%;
	}
	div.row div.account_block_number.first{border-bottom:1px solid #dad8d9;}

	div.account_block_number > span.number_label{
		font-size:14px;
	}
	
	div.account_block_number > span.number_label a.tooltip_bottom{
		display:inline-block;
		margin:0 0 0 10px;
	}
	
	div.row div.account_block_number > br{display:none;}
	
	div.account_block_number > .number_label{margin-left:10px;}
	
	#mouvements{display:none;}
	#mouvements_mobile{display:block;}
	#mouvements_mobile td span.date{color:#bbb;}
	table.respond_table#mouvements_mobile td{line-height:22px; font-size:12px;}
	
	h2.table_title{font-size:18px;}
	
	#account_perf_pos .account_perf{
		width:100%;
	}
	
	#account_top_left{
		width:100%;
	}

	#account_top_right{
		text-align:center;
		width:100%;
	}
	
	.account_perf_pos{
		margin: 5px 0;
		width: 290px;
	}
	
	.account_synthesis > div.account_block_number{
		margin:5px 10px 5px 0;
	}
	
	#histo_container{display:none;}
	
	div.desktop_account{margin:5px 0;}
}