@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

*{
	font-family:'Lato', Arial;
	margin:0;
	padding:0;
}

html, body{
	background-color:#fff;
	height:100%;
	width:100%;
}

a{color:#4F81B6;}

.clearer{clear:both;}

p{
	font-size:16px;
	font-weight:lighter;
	line-height:26px;
	text-align:justify;
}

div.page-error {
	margin-top: 100px;
}
div.page-error p {
	text-align: center;
}

div.container{
	margin:0 auto;
	width:1200px;
}

/*
 * Barre de navigation
 */
 
div#header_profile{
	color: #fff;
	float:right;
	font-size: 15px;
    height:60px;
	line-height:18px;
	padding-top:11px;
	text-align:right;
}
div#header_profile a{
	color: #fff;
	display:block;
	font-size: 14px;
}

div.navbar{
	background:#002d5b;
	border:none;
	border-radius:0;
	height:60px;
	min-height:60px;
}

.navbar > .container .navbar-brand{
	margin-left:0;
	margin-right:50px;
	padding:0;
}

.navbar-inverse .navbar-nav > li > a{
	color:#fff;
	font-size:14px;
	font-weight:700;
	padding:20px 15px;
	text-transform:uppercase;
}

.navbar-inverse .navbar-nav > li > a#account_access{
	color:#7697c1;
	padding:20px 15px;
}

.navbar-inverse .navbar-nav > li > a.social_link{
	padding:20px 7px;
}

.navbar-inverse .navbar-nav > li > a.fondation_link{
	color:#f6b4d6;
	padding: 0 50px 0 0;
}

.navbar-inverse .navbar-nav.navbar-right > li.dropdown > a{
	background-color:#4f81b6;
	margin-left:10px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background:#4F81B6;
	color:#fff;
}

div#header_links{
	float: right;
	position:relative;
	right: -15px;
}

div#header_links a{
	background-color:#4f81b6;
	background-image:url('../images/notifications.png');
	background-repeat:no-repeat;
	background-position:center center;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:14px;
	height:60px;
	line-height:53px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:60px;
}
div#header_links a.unread{background-color:#d55300;}

div#header_links #noti_count{
	background:#d55300;
	color:#fff;
	font-size:12px;
	left: -10px;
    line-height: 1;
    padding: 4px 6px;
    position: absolute;
    top: 10px;
}

header{
	height:40px;
	position:fixed;
	width:100%;
	z-index:300;
}

header div.navbar{
	margin:0;
}

header .container#menu_container{
	margin:0;
	width:auto;
}

header .collapse.navbar-collapse{
	margin: 0 auto;
    width:750px;
}

header .nav.navbar-nav.navbar-right{
	position: absolute;
    right: 15px;
}

.dropdown-header {
    border-bottom:1px solid #eee;
}

a.btn{
	background-color:#fff;
	background-position:0 -3px;
	background-repeat:no-repeat;
	border:1px solid #4f81b6;
	border-radius:0;
	color:#4f81b6;
	cursor:pointer;
	font-size:15px;
	font-weight:lighter;
	line-height:50px;
	margin-bottom:10px;
	padding:0 20px 0 66px;
	position:relative;
	text-align:right;
	text-transform:uppercase;
	/*transition-duration:0.5s;
	transition-property:color, background-color;*/
	z-index:10;
}
#home_middle a.btn, div.page_section_blue a.btn{background-color:#4F81B6;color:#fff;border:1px solid #fff;background-position:0 -61px;}
div.page_section_blue a.btn.btn-play{background-position:5px -40px;margin-bottom: 4px;}

a.btn:hover{
	background-color:#4F81B6;
	background-position:0 -61px;
	color:#fff;
	/*transition-duration:0.5s;
	transition-property:color, background-color;*/
}
#home_middle a.btn:hover, div.page_section_blue a.btn:hover{background-color:#fff;color:#00002c;background-position:0 -3px;}
div.page_section_blue a.btn.btn-play:hover{background-position:5px 0px;}

a.btn.unchange:hover{
	background-position:0 -3px;
}
a.btn:hover .subcontent{
	color:#fff;
	/*transition:color 0.5s;*/
}

a.btn.btn-bl {background-image:url('../images/btn-bl.png');}
a.btn.btn-ask{background-image:url('../images/btn-ask.png');}
a.btn.btn-bar{background-image:url('../images/btn-bar.png');}
a.btn.btn-cal{background-image:url('../images/btn-cal.png');}
a.btn.btn-pie{background-image:url('../images/btn-pie.png');}
a.btn.btn-isr{background-image:url('../images/btn-isr.png');}
a.btn.btn-isr2{background-image:url('../images/btn-isr2.png');}
a.btn.btn-atom{background-image:url('../images/btn-atom.png');}
a.btn.btn-case{background-image:url('../images/btn-case.png');}
a.btn.btn-conf{background-image:url('../images/btn-conf.png');}
a.btn.btn-hand{background-image:url('../images/btn-hand.png');}
a.btn.btn-mail{background-image:url('../images/btn-mail.png');}
a.btn.btn-news{background-image:url('../images/btn-news.png');}
a.btn.btn-plan{background-image:url('../images/btn-plan.png');}
a.btn.btn-play{background-image:url('../images/btn-play.png'); line-height:40px;}
a.btn.btn-talk{background-image:url('../images/btn-talk.png');}
a.btn.btn-print{background-image:url('../images/btn-plan.png');}
a.btn.btn-write{background-image:url('../images/btn-write.png');}
a.btn.btn-convert{background-image:url('../images/btn-convert.png');}
a.btn.btn-article{background-image:url('../images/btn-article.png');}

a.btn.btn-full{width:100%;}
a.btn.btn-center{text-align:center;}
a.btn strong{
	font-weight:normal;
}
a.btn .subcontent{
	bottom: 7px;
    color: #1268B3;
	display:block;
    font-size: 12px;
    line-height: 12px;
    padding-right: 21px;
    position: absolute;
    right: 0;
	/*transition:color 0.5s;*/
}

a.btn.btn-go{background:#fff url('../images/btn-go.png') no-repeat left -3px;}
a.btn.btn-go:hover{background:#1268b3 url('../images/btn-go.png') no-repeat left -3px;}

a.btn.btn-right, div.page_section_blue a.btn.btn-right{
	background-position:right -3px;
	padding:0 66px 0 20px;
}

a.btn.btn-right:hover{
	background-position:right -3px;
}

h1.page_title{
	color:#000;
	font-size:16px;
	font-weight:lighter;
	line-height:60px;
	padding-left:0px;
	text-align: left;
} 
h1.page_title span{color:#bbb;}

h1.section_title, h1.section_subtitle{
	color:#000;
	font-size:36px;
	font-weight:lighter;
	padding:20px 0 5px;
} 
h1.section_subtitle{color:#4F81B6; padding:0 0 20px;}

h2.section_subtitle{
	color:#002d5b;
	font-size:26px;
	font-weight:lighter;
	margin-bottom:40px;
	padding-left:0px;
}

h2.section_title{
	color:#002d5b;
	font-size:36px;
	font-weight:lighter;
	line-height:60px;
	margin-bottom:40px;
}

div.page_section h3{
	color:#000;
    font-size:26px;
    font-weight:lighter;
    margin:20px 0;
}
div.page_section h4{
	border-bottom:1px dashed #000;
	color:#000;
	display:inline-block;
    font-size:22px;
	font-style:italic;
    font-weight:lighter;
    margin:15px 0;
}
div.page_section.page_section_blue h4{
	border-bottom:1px dashed #fff;
	color:#fff;
}
h2.subsection_title, h4.subsection_title{
	border-bottom:1px solid #344768;
	color:#002d5b;
	font-size:20px;
	font-weight:lighter;
	line-height:40px;
	margin-bottom:20px;
}
h2.subsection_title{margin-top:0;}
h2.subsection_title.job_title{
	cursor:pointer;
	font-size:26px;
	font-weight:normal;
	line-height:50px;
	margin-top:30px;
}
h1.page_title strong, h1.section_title strong, h1.section_subtitle strong, h2.section_subtitle strong, h2.section_title strong, div.page_section h3 strong{font-weight:normal;}

div.page_section{
	padding:75px 0 25px;
}
div.page_section.page_section_gray{
	background:#f5f5f5;
}
div.page_section.page_section_gray.first{
	margin-top:-20px;
}

div.page_section.header_fixed_section{
	padding-top:150px;
}
div.page_section.header_fixed_section_large{
	padding-top:250px;
}

div.document_block{
	background:url('../images/document.png') no-repeat left top;
	color:#010101;
	display:inline-block;
	font-size:14px;
	font-weight:lighter;
	margin:0 20px 20px 0;
	min-height:28px;
	padding-left:30px;
	padding-top:2px;
}

div.document_block.excel{
	background:url('../images/excel.png') no-repeat left top;
	min-height:28px;
	padding-left:35px;
}

div.document_block a{
	color:#d95802;
	font-size:12px;
	font-weight:lighter;
	text-transform:uppercase;
}

.tooltip.top .tooltip-arrow{
    border-top:5px solid #1268b3
}
.tooltip.left .tooltip-arrow{
    border-left:5px solid #1268b3
}
.tooltip.bottom .tooltip-arrow{
    border-bottom:5px solid #1268b3
}
.tooltip.right .tooltip-arrow{
    border-right:5px solid #1268b3
}
.tooltip-inner{
	background:#1268b3;
	font-size:12px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
	max-width:500px !important;
}

div.page_section:nth-child(2){
	padding:85px 0 25px;
}

#wrapper {
	height: 100%;
    min-height: 100%;
	padding:40px 0 0;
	position:relative;
}

#wrapper_client{
	padding:40px 40px 80px 260px;
}

.row > ul li,
.col-md-3 ul li,
.col-md-6 ul li,
.col-md-9 ul li,
.col-md-12 ul li{
	font-size: 16px;
    font-weight: lighter;
	line-height: 26px;
	margin-left:30px;
	text-align:justify;
}

.col-md-6 ul.cbp_tmtimeline li{
	margin-left:0px;
}

.row > ul > li,
.col-md-3 .col-content > ul > li,
.col-md-6 .col-content > ul > li,
.col-md-8 > ul > li,
.col-md-9 .col-content > ul > li,
.col-md-12 .col-content > ul > li,
.col-md-12 > ul > li{
	list-style-type:circle;
}


.page_section_blue .row > ul > li,
.page_section_blue .col-md-3 .col-content > ul > li,
.page_section_blue .col-md-6 .col-content > ul > li,
.page_section_blue .col-md-8 .col-content > ul > li,
.page_section_blue .col-md-9 .col-content > ul > li,
.page_section_blue .col-md-12 .col-content > ul > li,
.page_section_blue .col-md-12 > ul > li{
	list-style-type:circle;
}

.row > ul li li,
.col-md-3 .col-content > ul li li,
.col-md-6 .col-content > ul li li,
.col-md-8 .col-content > ul li li,
.col-md-9 .col-content > ul li li,
.col-md-12 .col-content > ul li li,
.col-md-12 > ul li li{
	list-style: disc outside none;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 7px 24px 7px 0;
}

img.alignright {
	margin: 7px 0 7px 24px;
}

img.aligncenter{
	margin-top: 7px;
	margin-bottom: 7px;
}

form{
	padding:10px;
}

form .col-md-4, form .col-md-8{
	padding:0 10px 0 0;
}

footer{
	background:#e8e8e8;
	bottom:0;
	height:40px; 
	overflow:hidden;
	padding:0;
	position:fixed;
	width:100%;
	z-index:50;
}

#footer_right{
	font-size: 16px;
    line-height: 40px;
    text-align:center;
}

#footer_right a{text-decoration:underline;}

div.page_section.page_section_blue{
    background:#4F81B6;
	background-size: 100% auto;
	color:#fff;
}

div.page_section.page_section_blue.page_section_dark{
    background:#00002c;
}

div.page_section.page_section_blue h3,
div.page_section.page_section_blue h1.section_title,
div.page_section.page_section_blue h2.section_title,
div.page_section.page_section_blue h1.subsection_title, 
div.page_section.page_section_blue h2.subsection_title, 
div.page_section.page_section_blue h4.subsection_title,
div.page_section.page_section_blue div.document_block,
div#home_middle h2{
    color:#fff;
}

div.page_section.page_section_blue h2.section_subtitle, 
div.page_section.page_section_blue h1.section_subtitle {
    color:#002D5B;
}

div.page_section.page_section_blue .team_member.team_subtitle p{
    color:#333;
}

div.col-content{padding-right:40px;}

div.page_section#page_section_part_1{
    background:#fff url('../images/univers_particulier_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_part_2{
    background:#4F81B6 url('../images/univers_particulier_2.jpg') no-repeat center bottom;
}
div.page_section#page_section_part_3{
    background:#fff url('../images/univers_particuliers_3.jpg') no-repeat center bottom;
}

div.page_section#page_section_cgp_1{
    background:#fff url('../images/univers_CGP_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_cgp_2{
    background:#4F81B6 url('../images/univers_CGP_2.jpg') no-repeat center bottom;
}
div.page_section#page_section_cgp_3{
    background:#fff url('../images/univers_CGP_3.jpg') no-repeat center bottom;
}

div.page_section#page_section_inst_1{
    background:#fff url('../images/univers_instits_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_inst_2{
    background:#4F81B6 url('../images/univers_instits_2.jpg') no-repeat center bottom;
}
div.page_section#page_section_inst_3{
    background:#fff url('../images/univers_instits_3.jpg') no-repeat center bottom;
}

div.page_section#page_section_gestion_1{
    background:#fff url('../images/gestion_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_gestion_2{
    background:#0B0E37 url('../images/gestion_2.jpg') no-repeat center bottom;
}
div.page_section#page_section_pres_1{
    background:#fff url('../images/univers_pres_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_pres_2{
    background:#4F81B6 url('../images/univers_pres_2.jpg') no-repeat center top;
}
div.page_section#page_section_fundation_1{
    background:#fff url('../images/univers_fundation_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_fundation_2{
    background:#4F81B6 url('../images/univers_fundation_2.jpg') no-repeat center bottom;
}
div.page_section#page_section_fundation_3{
    background:#fff url('../images/univers_fundation_3.jpg') no-repeat center top;
}
div.page_section#page_section_fundation_5{
    background:#fff url('../images/univers_fundation_5.jpg') no-repeat center top;
}

div.page_section#page_section_isr_1{
    background:#fff url('../images/univers_isr_1.jpg') no-repeat center bottom;
}
div.page_section#page_section_isr_2{
    background:#4F81B6 url('../images/univers_isr_2.jpg') no-repeat center top;
}
div.page_section#page_section_isr_3{
    background:#fff url('../images/univers_isr_3.jpg') no-repeat center top;
}
div.page_section#page_section_isr_4{
    background:#618DBE url('../images/univers_isr_4.jpg') no-repeat center bottom;
}
div.page_section#page_section_isr_5{
    background:#fff url('../images/univers_isr_5.jpg') no-repeat center bottom;
}
div.page_section#page_section_isr_6{
    background:#4F81B6 url('../images/univers_isr_6.jpg') no-repeat center bottom;
}

div.page_section#page_section_contact{
    background:#fff url('../images/univers_contact.jpg') no-repeat center 90px;
}

div.page_section#page_section_jobs{
    background:#fff url('../images/univers_jobs.jpg') no-repeat center 60px;
}

div.page_section#page_section_teams{
    background:#F5F5F5 url('../images/univers_teams.jpg') no-repeat center 120px;
}

.disclaimer_content{
	padding:0 20px 30px;
}

.disclaimer_content h2{
	color: #000000;
    font-size: 36px;
    font-weight: lighter;
    padding: 20px 0 5px;
	text-align:center;
}

/*
 * Sidebar
 */

#sidebar{
	background:#4F81B6;
	height:100%;
	left:0;
	min-height:100%;
	padding-top:40px;
	position:fixed;
	width:320px;
	z-index:99;
	
	/*display: none;*/
}

#sidebar p#sidebar_pres{
	color:#fff;
	font-size: 14px;
    height: 110px;
    line-height: 20px;
	margin:0;
	padding:20px;
}

#sidebar ul#sidebar_steps li{
	color:#002D5B;
	font-size:16px;
	line-height:100px;
	padding-left:70px;
	position:relative;
	text-transform:uppercase;
}
#sidebar ul#sidebar_steps li a{color:#003670; text-decoration:none;}

#sidebar ul#sidebar_steps li.selected{
	background-color:#fff;
}

#sidebar ul#sidebar_steps li .sidebar_number{
	background:#fff;
	border: 1px solid #fff;
    border-radius: 50%;
	color:#4F81B6;
	font-weight:700;
    height: 35px;
    left: 15px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: 32px;
    width: 35px;
}
#sidebar ul#sidebar_steps li.selected .sidebar_number{
	background:#4F81B6;
	border: 1px solid #4F81B6;
    border-radius: 50%;
	color:#fff;
	font-weight:700;
    height: 35px;
    left: 15px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    top: 32px;
    width: 35px;
}
#sidebar ul#sidebar_steps li a{color:#fff; display:block;}
#sidebar ul#sidebar_steps li a .sidebar_number,
#sidebar ul#sidebar_steps li.selected a .sidebar_number{
	background:url('../images/validated.png') no-repeat center center;
	background-size:31px 31px;
	border:none;
	color:#fff;
}
/*#sidebar ul#sidebar_steps li.selected.checked a .sidebar_number{
	background:url('../images/thick2.png') no-repeat center center;
	border:2px solid #1268B3;
	color:#1268B3;
}*/
#sidebar ul#sidebar_steps li.selected.checked a{color:#4F81B6;}

#sidebar ul#sidebar_steps li.checked:hover{
	background:#002D5B;
}
#sidebar ul#sidebar_steps li.selected .sidebar_number{
	background-color:#fff;
	background-repeat:no-repeat;
	background-size:100% auto !important;
	background-position:center center;
	border:none;
    border-radius:0;
	height:100%;
    left:10px;
    top:0 !important;
    width:50px;
}
#sidebar ul#sidebar_steps li#sidebar_step_1.selected .sidebar_number{background-image:url('../images/step_1.png');}
#sidebar ul#sidebar_steps li#sidebar_step_2.selected .sidebar_number{background-image:url('../images/step_2.png');}
#sidebar ul#sidebar_steps li#sidebar_step_3.selected .sidebar_number{background-image:url('../images/step_3.png');}
#sidebar ul#sidebar_steps li#sidebar_step_4.selected .sidebar_number{background-image:url('../images/step_4.png');}
#sidebar ul#sidebar_steps li#sidebar_step_5.selected .sidebar_number{background-image:url('../images/step_5.png');}
#sidebar ul#sidebar_steps li#sidebar_step_6.selected .sidebar_number{background-image:url('../images/step_6.png');}
#sidebar ul#sidebar_steps li#sidebar_step_7.selected .sidebar_number{background-image:url('../images/step_7.png');}

/*
 * Form field
 */

.radio-inline{margin-left: 20px; margin-top: -15px;}
.radio-inline label{font-weight:normal; padding-right:20px;}

img.toggle_required{
	position:relative;
	top:-15px;
}
img.toggle_required.full{
	left: -7px;
    position: absolute;
    top: 18px;
}

#step_header{
	background:#fff;
	box-shadow:0 2px 20px 1px rgba(0, 0, 0, 0.2); 
	display:none;
    height: 110px;
    padding-left: 320px;
    position: fixed;
    width: 100%;
    z-index: 98;
}

#step_header h1{
	float:left;
	line-height:110px;
	margin:0 0 0 20px;
	padding-left:75px;
	text-align:center;
}
#step_header h1#page_title_step_1{background:url('../images/step_1.png') no-repeat left center;}
#step_header h1#page_title_step_2{background:url('../images/step_2.png') no-repeat left center;}
#step_header h1#page_title_step_3{background:url('../images/step_3.png') no-repeat left center;}
#step_header h1#page_title_step_4{background:url('../images/step_4.png') no-repeat left center;}
#step_header h1#page_title_step_5{background:url('../images/step_5.png') no-repeat left center;}
#step_header h1#page_title_step_6{background:url('../images/step_6.png') no-repeat left center;}
#step_header h1#page_title_step_7{background:url('../images/step_7.png') no-repeat left center;}

#step_header h1 span{color:#4F81B6;}

#step_header p{
	color:#878787;
	display:none;
	float:left;
	font-size: 14px;
    line-height: 20px;
	margin:0;
	padding:20px 60px 0 0;
	width:50%;
}

form.step_form{
	background:url("../images/home_section_1.jpg") no-repeat fixed right bottom #F5F3F4;
	height: 100%;
    min-height: 100%;
	overflow: auto;
	padding:30px 10px 14px 330px;
}
form.step_form.consultation{background:#fff;}

form.step_form fieldset{
	background:#EDEBEC;
	border:1px solid #e3e3e3;
	border-radius:5px;
	margin:0 auto 15px;
	padding:9px 0;
	width:600px;
}

form.step_form fieldset.document_fieldset{
	text-align:center;
}
form.step_form fieldset.document_fieldset.error {
	border: 1px solid #FF0000;
}

form.step_form fieldset.valide{
	background:none;
	border:none;
	padding:14px;
	text-align:center;
	width:100%;
}

form.step_form fieldset.valide input[type=submit], a#add_account, a#change_cni, a#change_visa, a#accept_mandat, a#decline_mandat{
	background-color: #fff;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    border: 1px solid #DB8246;
    border-radius: 0;
    color: #1268b3;
    cursor: pointer;
    font-size: 15px;
    font-weight: lighter;
    line-height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    z-index: 10;
}
form.step_form fieldset.valide input[type=submit]:hover, a#add_account:hover, a#change_cni:hover, a#change_visa:hover, a#accept_mandat:hover, a#decline_mandat:hover{
	background-color: #1268b3;
    border: 1px solid #1268b3;
    color: #fff;
}
form.step_form fieldset.valide input[type=submit].loading {
	background: #1268b3 url('../images/design/loading-submit.gif') no-repeat 12px 18px;
	border: 1px solid #1268b3;
	color:#fff;
	padding-left: 40px;
}
form.step_form fieldset.valide input[type=submit][disabled=disabled], a#decline_mandat{
	border-color:#d2cecf;
	color:#d2cecf;
}
form.step_form fieldset.valide input[type=submit][disabled=disabled]:hover, a#decline_mandat:hover{
	background-color: #fff;
	border-color:#d2cecf;
	color:#d2cecf;
	cursor:not-allowed;
}
a#decline_mandat:hover{cursor:pointer;}

a#add_account, a#change_cni, a#change_visa, a#accept_mandat, a#decline_mandat{
	cursor:pointer;
	display:inline-block;
	line-height: 50px;
	text-decoration:none;
}
a#accept_mandat, a#decline_mandat{
	background-image:url('../images/btn-accept.png');
	line-height:50px;
	padding-left:60px;
}
a#decline_mandat{
	background-image:url('../images/btn-decline.png');
}

.form-group{
	margin-bottom:0;
	padding:5px 14px;
	position:relative;
}

.form-group.focus{
	background-color:#e2e2e2;
}

.form-group div.error_icon{
	
}

.form-control{
	height:40px;
	padding:6px 12px 6px 30px;
	width:95%;
}

.form-control.required{
	background:#fff url('../images/required.png') no-repeat 10px center;
}

.select_group{position:relative;}

div.select_required{
	background:url('../images/required.png') no-repeat center center;
	display:none;
	height:15px;
	left:11px;
	position:absolute;
	top:13px;
	width:15px;
}
.select_group.required div.select_required{display:block;}

body.tablet .select_group select{
	margin-left:15px;
	width:90%;
}

body.tablet div.select_required{
	left:0;
}

.form-group .error_icon,
div.col-md-3 .error_icon,
div.col-md-4 .error_icon,
div.col-md-6 .error_icon,
div.col-md-8 .error_icon{
	background-repeat:none;
	background-position:center center;
	bottom:14px;
	display:none;
	height:20px;
	position:absolute;
	right:10px;
	width:20px;
}
#step_form1 div.col-md-3 .error_icon{bottom:10px; right:-5px;}
#step_form2 div.col-md-4 .form-group .error_icon,
#step_form2 div.col-md-8 .form-group .error_icon{right:0px;}
#step_form4 div.col-md-6 .error_icon{bottom:10px;right:3px;}

.form-group.valid .error_icon,
div.col-md-3.valid .error_icon,
div.col-md-4.valid .error_icon,
div.col-md-6.valid .error_icon,
div.col-md-8.valid .error_icon{
	background-image:url('../images/accept.png');
	display:block;
}

.form-group.error .error_icon,
div.col-md-3.error .error_icon,
div.col-md-4.error .error_icon,
div.col-md-6.error .error_icon,
div.col-md-8.error .error_icon{
	background-image:url('../images/delete2.png');
	display:block;
}

.ui-slider .ui-slider-range{
	background:#4F81B6;
}

.input-group{width:95%;}

.ui-slider-horizontal {height: 16px !important;}
.ui-slider .ui-slider-handle{height:23px !important;}

.form_check{
	background-color:#fff;
	background-repeat:no-repeat;
	border:1px solid #ccc;
    border-radius:4px;
	cursor:pointer;
	display:inline-block;
	height:30px;
	margin-right:10px;
	width:30px;
}

.form_check.checked{
	background-image:url('../images/checked.png');
	background-position:center center;
}

.check_content label{
	display:inline-block;
    position:relative;
    top:-10px;
}

#green_card_content.check_content label{
	max-width:90%;
    top:0px;
}

label.sub_label{
	color:#4F81B6;
	font-size:12px;
	font-weight:normal;
}

.check_content label.sub_label{
	padding-left: 43px;
    position: relative;
    top: -17px;
}

label.inline_label{
	position:relative;
    top:8px;
}

.hide_block{
	background:#e2e2e2;
	padding: 9px 0;
}

p.advert_block_explications{
	color:#da7100;
	font-size:14px;
	font-weight:normal;
	padding: 14px;
}

/*.form-control.error, .form-control.error:focus {
	border-color: #e00000;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 0, 0, .6);
		  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 0, 0, .6);
}

.form-control.valid, .form-control.valid:focus {
	border-color: #0b8904;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(11, 137, 4, .6);
		  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(11, 137, 4, .6);
}*/

.segmented-control > label:after{z-index:50;}

#amount_natures_content .col-md-3{
	text-align:center;
}

#amount_natures_content .col-md-3 label{
	font-weight:normal;
}

#amount_natures_content .col-md-3 .form_check{
	margin:0;
}

.small_medium, .medium_large{display:none;}

#accounts_list{
	border:1px solid #edebec;
	border-radius:5px;
	margin:0 auto 15px;
	padding:9px 0;
	width:600px;
}

.account_line{
	line-height:25px;
	margin-bottom: 0;
    padding: 5px 50px 5px 14px;
    position: relative;
}

.account_type{
	color:#fff;
	display:inline-block;
	font-size:14px;
	font-weight:lighter;
	margin-right:20px;
	padding:0 10px;
	text-transform:uppercase;
}
#accounts_list .account_type {
	color: #000;
}
.account_type.compte_titre{background-color:#1268b3;}
.account_type.pea{background-color:#e8b028;}
.account_type.peapme{background-color:#00bf24;}
.account_type.assurance_vie{background-color:#df0367;}
.account_type.livret_a{background-color:#28e8bd;}
.account_type.pee{background-color:#8b28e8;}
.account_type.compte_courant{background-color:#e83a28;}

.account_amount{
	display:inline-block;
	font-size:14px;
	font-weight:700;
	float: right;
	margin-right: 20px;
}

a.suppress_account{
	background:url('../images/delete.png') no-repeat;
	cursor:pointer;
	height:18px;
	position:absolute;
	right:5px;
	top:8px;
	width:18px;
}

a.update_account{
	background:url('../images/update.png') no-repeat;
	cursor:pointer;
	height:18px;
	position:absolute;
	right:28px;
	top:8px;
	width:18px;
}

#sidebar_client{
	background:#eee;
	float:left;
	height:100%;
	min-height:100% !important;
	padding-bottom: 22px;
	position:fixed;
	width:220px;
	z-index:200;
}

#sidebar_client_container{
	height:100%;
	min-height:100% !important;
	overflow:auto;
}

#close_sidebar_block{display:none;}

#sidebar_client header{width:220px;}

#activity_block_container{
	height:100%;
	min-height:100% !important;
	position:fixed;
	right:-50px;
    width:0;
    z-index:500;
}

#activity_block{
	background:#fff;
	height:100%;
	min-height:100% !important;
	overflow: auto;
	position:fixed;
	right:0;
    width:0;
    z-index:500;
}

#activity_block header{
	background:#4F81B6;
	color:#fff;
	height:60px;
	line-height:60px;
	padding:0 12px;
	position:relative;
	text-align:right;
	text-transform:uppercase;
}

#activity_block header a{
	color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: 700;
	text-decoration:none;
}

#activity_block h2{
	border-bottom:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
	color:#c4c4c4;
	font-size:12px;
	line-height:39px;
	margin:0;
	padding-top:20px;
	padding-left:5px;
	text-transform:uppercase;
}

#activity_block ul{margin-bottom:0;}

#activity_block li{
	border-bottom:1px solid #d4d4d4;
	border-left:1px solid #d4d4d4;
	color:#000;
	font-size:13px;
	list-style:none;
	min-height:60px;
	padding:10px 5px;
	position:relative;
}

div.noti_mail,
div.noti_default,
div.noti_achat,
div.noti_vente,
div.noti_depot,
div.noti_clock,
div.noti_retrait,
div.noti_hour,
div.noti_plan,
div.noti_calendar{
	background-repeat:no-repeat;
	height:23px;
	left:13px;
	position:absolute;
	top:29px;
	width:23px;
}
div.noti_mail{background-image:url('../images/noti_mail.png');}
div.noti_clock{background-image:url('../images/noti_clock.png');}
div.noti_hour{background-image:url('../images/noti_hour.png');}
div.noti_plan{background-image:url('../images/noti_plan.png');}
div.noti_calendar{background-image:url('../images/noti_calendar.png');}
div.noti_achat{background-image:url('../images/noti_achat.png');}
div.noti_vente{background-image:url('../images/noti_vente.png');}
div.noti_depot{background-image:url('../images/noti_apport.png');}
div.noti_retrait{background-image:url('../images/noti_retrait.png');}

div.noti_date{
	color:#d4d4d4;
	display:inline-block;
	font-size:12px;
	left:5px;
	position:absolute;
    top:11px;
	width:40px;
}

div.noti_des{
	display:inline-block;
	min-height: 22px;
	padding-left:45px;
}

div.noti_new{
	border: 4px solid #1768aa;
    border-radius: 100%;
    height: 1px;
    left: 12px;
    position: absolute;
    top: 40px;
    width: 1px;
}

table.fund_details{width:100%;margin-bottom: 20px;}

table.fund_details tbody > tr > td{
	border-bottom:1px solid #fff;
	height:67px;
	padding:0 7px;
	vertical-align:middle;
}

table.fund_details tbody > tr > td:first-child{
	background-color:#acd6f2;
	color:#fff;
	font-size:14px;
	text-align:right;
	width:40%;
}

table.fund_details tbody > tr > td:last-child{
	background-color:#f7f7f7;
	color:#000;
	font-size:21px;
	font-weight:lighter;
	text-align:center;
}
table.fund_details tbody > tr.fund_field_type > td:last-child ,
table.fund_details tbody > tr.fund_field_size > td:last-child {
    font-size:18px;
}
table.fund_details tbody > tr > td:last-child strong{font-size:24px;font-weight:normal;}
table.fund_details tbody > tr > td:last-child strong span{color:#000;font-size:21px;font-weight:normal;}

table.fund_details tbody > tr.fund_field_size > td:last-child strong{font-size:20px;}
table.fund_details tbody > tr > td:last-child span.small{display:block;}

table.fund_details .fund_other_td{
	display:inline-block;
}


div#valorisation_progress{
	background-color:#002f5d;
	background-image:url('../images/progress_bg_big.png');
	background-repeat:no-repeat;
	height:49px;
	width:100%;
}

div#valorisation_left{text-align:left;}
div#valorisation_right{text-align:right;}

div#valorisation_right, div#valorisation_left{
	font-size:14px;
	margin-bottom:10px;
	margin-top:25px;
	text-transform:uppercase;
}

div#valorisation_right .amount, div#valorisation_left .amount{
	font-size:18px;
}

div#valorisation_right .amount strong, div#valorisation_left .amount strong{
	font-size:24px;
	font-weight:normal;
}

div#valorisation_right .amount span, div#valorisation_left .amount span{
	font-size:21px;
	font-weight:normal;
}

div.upload-file label, 
.btn-default.btn-file, a.btn.btn-default.fileinput-exists{
	background:none repeat scroll 0 0 #fff;
    border: 4px solid #fff;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #dad8d9;
    box-sizing: border-box;
    color: #4c5457;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 6px 12px;
    text-transform: none;
	cursor: pointer;
}

div.fileinput-preview {
	word-wrap: break-word;
}

div.fileinput-preview.loading{
	background:#F9F8F4 url('../images/loading.gif') no-repeat center center;
}

div.fileinput-preview.valid{
	background:#F9F8F4 url('../images/success_1x.jpg') no-repeat center center;
}

div.upload-file label:hover {
	color: #fff;
	background: #4c5457;
}
div.upload-file label.loading {
	opacity: 0.5;
}


a.btn.btn-default.fileinput-exists{
	background:#e00000;
	color:#fff;
	left: 15px;
    position: relative;
	text-shadow:none;
    top: 5px;
}

/*
 * Final page
 */
 
#wrapper_final{
	background:#2b4f7e url('../images/final_bg.jpg') no-repeat right bottom;
	background-size:auto 100%;
	height:100%;
	min-height:900px;
	min-width:100%;
	width:100%;
}

#final_block{
	margin:0 auto;
	padding:12% 0 0;
	width:490px;
}

#final_block header{
	background:#012d5c;
	border-radius:5px 5px 0 0;
	height:162px;
	position:relative;
	text-align:center;
}

#final_block header img{
	left:164px;
	position:absolute;
	top:-50px;
}

#final_block header h1{
	color:#fff;
	font-size:32px;
	font-weight:normal;
	margin:0;
	padding:60px 0 15px;
}

#final_block header span{
	color:#a1aab7;
	font-size:16px;
}
 
#final_block #final_content{
	background:#fff;
	border-radius:0 0 5px 5px;
	color:#012d5c;
	font-size:16px;
	font-weight:lighter;
	min-height:425px;
	padding:30px;
	text-align:center;
}

a.correcting, input.correcting {
	background: #68bb2f;
	border:none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
    text-transform: uppercase;
	display: inline-block;
	padding: 0 20px;
}
a.correcting:hover, input.correcting:hover {
	background: #5aa028;
	text-decoration: none;
}

#final_block #final_content p{
	color:#012d5c;
	font-size:20px;
	text-align:center;
}

#final_block div.final_notice, #final_block a.final_notice{
	background-position:10px 12px;
	background-repeat:no-repeat;
	border-radius:5px;
	color:#fff;
	display:block;
	font-size:14px;
	font-weight:lighter;
	margin-top:10px;
	padding:10px 10px 10px 50px;
	text-align:left;
}
#final_block div.final_notice strong, #final_block a.final_notice strong{font-size:16px;}
#final_block div.final_notice.final_warning, #final_block a.final_notice.final_warning{
	background-color:#ecbf58;
	background-image:url('../images/ico_warning.png');
	background-position: 10px 8px;
}
#final_block div.final_notice.final_mail{
	background-color:#fff;
	background-image:url('../images/ico_mail2.png');
	color:#012d5c;
}
#final_block div.final_notice.final_info, #final_block a.final_notice.final_info{
	background-color:#6fb1c7;
	background-image:url('../images/ico_info.png');
}

#final_return{
	color:#fff;
	font-size:14px;
	margin-top:10px;
	text-align:center;
}

#final_return a{
	color:#55c6f9;
	text-decoration:underline;
}

div.fileinput-preview{cursor:pointer;}

div#loading_overall{
	background:rgba(245, 243, 244,0) url('../images/loading.gif') no-repeat center center;
	display:none;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	z-index:2000;
}

.segmented-control, #horizon_alone{
	margin:0;
	
	-moz-user-select: none;
    background: none repeat scroll 0 0 white;
    border:1px solid #4F81B6;
    border-radius:0px;
    box-sizing: border-box;
    color: #4F81B6;
    display: inline-block;
    min-width: 100px;
    overflow: hidden;
    position: relative;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.segmented-control.small_size{width:25%;}
.segmented-control.medium_size{width:50%;}
.segmented-control.large_size{width:75%;}
.segmented-control.full_size{width:100%;}

.segmented-control label{margin:0; padding:6px 10px;}

a#disconnect_button{
	background:url('../images/delete2.png') no-repeat;
	display:block;
	height:20px;
	position: absolute;
    right: 5px;
    top: 10px;
	width:20px;
}

#horizon_alone{
    background: none repeat scroll 0 0 #319dd4;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    padding: 0 10px;
}

#mandat_wrapper{
	margin:0 auto;
	padding:50px 0;
	width:752px;
}

#mandat_wrapper p{
    color: #000;
    font-size: 14px;
    line-height: 20px;
    margin:0;
    margin-bottom: 20px;
}

#mandat_wrapper h2{
	color:#4f81b6;
	font-size:26px;
	font-weight:lighter;
	margin-bottom:20px;
}

#funds_iframe{
	border:none;
}

#account_breadcrump{
	top:60px;
	z-index:100;
}

#account_breadcrump #breadcrump-nav{
    background-color: #d4d4d4;
    height: 60px;
    line-height: 60px;
    z-index: 49;
}

#account_breadcrump #breadcrump-nav .container{
	margin:0;
	padding-left:250px;
	width:100%;
}

#breadcrump-nav ul li {
    color: #4F81B6;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    list-style: outside none none;
    padding: 2px 10px 0;
	text-transform:uppercase;
    z-index: 49;
}

#breadcrump-nav-selection {
    background: url("../images/breadcrump_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -32px;
    height: 14px;
    position: absolute;
    width: 24px;
}

.breadcrump_target {
    position: relative;
    top: -100px;
}

.filter_gp{text-align:center;}
.filter_gp .green{color:#005b05;}
.filter_gp .red{color:#a50801;}

#gestion_profite{
	background:#005b05;
	color:#fff;
	display:inline-block;
	font-size: 32px;
    font-weight: lighter;
	line-height: 67px;
	min-width:280px;
	padding:0;
    text-align: center;
}

#gestion_profite span{
	font-size:24px;
}

#gestion_profite table{
	padding:0;
	width:100%;
}

#gestion_profite table td#percent_profit{
	background:#008a29;
}

.synthesis_sentence{
	font-size:20px;
}

.synthesis_sentence strong{
	font-size:24px;
}

#synthesis_date{
	display: inline-block;
    font-size: 20px;
    height: 40px;
    padding: 6px;
    width: auto;
}

.synthesis_sentence.sentence_light{
	font-size:12px;
}

.synthesis_sentence.sentence_light strong{
	font-size:14px;
}

.recovery_progress_bar{
	background:#000;
	bottom:3px;
	height:1px;
	min-width:1%;
	position:absolute;
	right:0;
}

.recovery_progress_bar{
	background:#000;
	bottom:3px;
	height:2px;
	min-width:1%;
	position:absolute;
	right:0;
}

.recovery_progress_bar.positive{
	background:#3fa93a;
}

.recovery_progress_bar.negative{
	background:#ff0600;
	left:0;
}

span.decimal{
	font-size:88%;
}

font.full_number{
	white-space:nowrap;
}

#wrapper_client form.step_form{
	padding:30px 10px 14px;
}

.amChartsCompareList > div{height:24px !important;}

.segmented-control.blue > label:before {
    background: none repeat scroll 0 0 #4F81B6;
}

div.account_title{
	display:inline-block;
	left:-17px;
	line-height:24px;
	margin-left: 25px;
	/*padding-left:35px;*/
	padding-top:17px;
	position:relative;
	text-align:left;
}

/*div.account_title.PEA-PME{background:url('../images/ico_pme.jpg') no-repeat 0px 22px;}
div.account_title.PEA{background:url('../images/ico_pea.jpg') no-repeat 0px 22px;}
div.account_title.Neuflize.Vie{background:url('../images/ico_vie.jpg') no-repeat 0px 22px;}
div.account_title.Titres{background:url('../images/ico_titres.jpg') no-repeat 0px 22px;}*/

div.account_title.PROCAPITAL{
	background:url('../images/ico_vie_procapital.jpg') no-repeat 0px 15px;
	padding-left:55px;
}
div.account_title.LA.MONDIALE.PARTENAIRE{
	background:url('../images/ico_vie_ag2r.png') no-repeat 0px 15px;
	padding-left:55px;
}
div.account_title.AXA.FRANCE.VIE{
	background:url('../images/ico_vie_axa.jpg') no-repeat 0px 15px;
	padding-left:55px;
}
div.account_title.NEUFLIZE,
div.account_title.NEUFLIZE.VIE,
div.account_title.TRIPTIS.PATRIMOINE{
	background:url('../images/ico_vie_neuflize.jpg') no-repeat 0px 15px;
	padding-left:55px;
}
div.account_title.SWISSLIFE{
	background:url('../images/ico_vie_swisslife.jpg') no-repeat 0px 15px;
	padding-left:55px;
}

div.account_title span{color:#d4d4d4;}

.filter_gp .segmented-control{
	box-shadow:0 0 0 1px #d4d4d4;
	color:#4F81B6;
}

.filter_gp span.label_title, #account_top_right span.label_title{
	color:#000;
	font-size:14px;
	font-weight:700;
}

#account_top_left{
	float:left;
	width:50%;
}

#account_top_right{
	float: right;
    padding-top: 30px;
    text-align: right;
    width: 50%;
}

/*************************************************************
 *                                                           *
 *               Site Consultation - Graphique               *
 *                                                           *
 *************************************************************/

#histo_positions a{display:none !important;}
#histo_positions2 a{display:none !important;}

div.graph_account{
	display:inline-block;
	margin:0 20px;
}

div#histo_positions.loading{
	background:rgba(245, 243, 244, 0.8) url('../images/loading.gif') no-repeat center center;
}

div#histo_positions{
	height:500px;
	width:100%;
}

@media screen and (max-width:760px) {
	div#histo_positions{
		height:400px;
	}
}

@media screen and (max-width:420px) {
	div#histo_positions{
		height:300px;
	}
}

@media screen and (min-width:1100px) {
	div.account_synthesis{
		float:left;
		width:320px;
	}
	div.account_synthesis + div{
		margin-left:320px;  /* must match the fixed width in the .fixed class */
		overflow:hidden;
	}
	
	div.histo_container{
		min-height: 100%;
		position: relative;
	}
	
	div.histo_container:after{
		background-color:inherit;
		bottom: 0;
		content: "";
		height: auto;
		min-height: 100%;
		left: 0;
		margin:inherit;
		right: 0;
		position: absolute;
		top: 0;
		width: inherit;
		z-index: -1;  
	}
}

/*************************************************************
 *                                                           *
 *               Site Consultation - Gérant                  *
 *                                                           *
 *************************************************************/
 
#footer_left{
	background:#002e5f;
	bottom:0;
	height:40px;
	left:0;
	padding:4px 2px;
	position:absolute;
	width:220px;
}

#footer_left #manager_img_container{
	background:url('../images/footer_logo.jpg') no-repeat;
	float:left;
	height:32px;
	margin-right:5px;
	width:32px;
}

#footer_left #manager_img_container img{
	height:32px;
	width:32px;
}

#footer_left #manager_infos{
	color:#fff;
	font-size: 12px;
	float:left;
    width:175px;
}

#footer_left #manager_infos strong{
    display: block;
    height: 15px;
    line-height: 12px;
    overflow: hidden;
}

#footer_left #phone_img{
	height: 19px;
    position: relative;
    top: -4px;
}

#footer_left #email_img{
	margin-left: 5px;
    position: relative;
    top: -4px;
}

#footer_left #manager_infos span{
	position:relative;
    top:-2px;
}

#footer_left #manager_infos a{color:#fff;}

/*************************************************************
 *                                                           *
 *          Site Consultation - Menu de gauche               *
 *                                                           *
 *************************************************************/

#sidebar_client li{
	font-size:14px;
	height: 49px;
    padding: 8px 0;
	list-style:none;
	margin-bottom:5px;
	position:relative;
}

#sidebar_client_container > ul > li{
	border-left:6px solid #eee;
}

#sidebar_client_container > ul > li.selected{
	border-left:6px solid #ddd;
	background:#ddd;
	
}

#sidebar_client_container li.selected a{
	font-weight:700;
}

#sidebar_client_container li#menu_profil.selected{
	background:none;
	border-left:6px solid #f2f2f2;
	height:auto;
}

#sidebar_client_container > ul > li:hover{
	background-color:#e9e9e9 !important;
	border-left:6px solid #e9e9e9;
}

#sidebar_client_container > ul > li.selected:hover{
	border-left:6px solid #e9e9e9;
}

#sidebar_client_container > ul > li#menu_profil.selected:hover{
	background-color:#f2f2f2 !important;
}

#sidebar_client_container #sidebar_account_list li{
	margin-bottom:0;
	padding-bottom:10px;
}

#sidebar_client_container li a{
	color:#4F81B6;
	display:inline-block;
	height:35px;
	line-height:32px;
	overflow:hidden;
	padding-left:44px;
	text-decoration:none;
	width:214px;
}

#sidebar_client li#menu_global a{background:url('../images/ico_global.png') no-repeat 5px 3px;}
#sidebar_client li#menu_profil > a{background:url('../images/ico_profile.png') no-repeat 5px 3px;}
#sidebar_client li#menu_valorisation a{background:url('../images/ico_val.png') no-repeat 5px 3px;}
#sidebar_client li#menu_mouvements a{background:url('../images/ico_mov.png') no-repeat 5px 3px;}
#sidebar_client li#menu_pmvalues a{background:url('../images/ico_pmvalues.png') no-repeat 5px 3px;}
#sidebar_client li#menu_funds a{background:url('../images/ico_excelsior.png') no-repeat 5px 3px;}
#sidebar_client li#menu_documents a{background:url('../images/ico_docs.png') no-repeat 5px 3px;}

#sidebar_client li.PEA-PME a{background:url('../images/ico_pme.jpg') no-repeat 0px 3px;}
#sidebar_client li.PEA a{background:url('../images/ico_pea.jpg') no-repeat 0px 3px;}
#sidebar_client li.Compte.Assurance.Vie a{background:url('../images/ico_vie.jpg') no-repeat 0px 3px;}
#sidebar_client li.Titres a{background:url('../images/ico_titres.jpg') no-repeat 0px 3px;}

#sidebar_client li ul{
	display:none;
}

#sidebar_client li.selected ul{
	display:block;
}

#sidebar_client li.selected li a{
	font-weight:normal;
}

#sidebar_client li.selected li.selected a{
	font-weight:700;
}

#sidebar_client li ul li{
	font-size: 13px;
    font-weight: lighter;
    height:30px;
    line-height: 21px;
	margin:0;
	padding:0 0 5px 10px;
}

#sidebar_client li ul li a{
	border-left:2px solid #f2f2f2;
	height: 30px;
    line-height: 29px;
}

#sidebar_client li ul{
	padding-bottom:1px;
}

#sidebar_client ul#sidebar_account_list{
	border-bottom:1px solid #e9e9e9;
	margin:0 0 15px;
	padding:80px 0 5px;
}

#sidebar_client li ul li:hover{
	background-color:#e9e9e9 !important;
}

#sidebar_client li ul li:hover a{
	border-left:2px solid #e9e9e9;
}

#sidebar_client ul#sidebar_account_list a{
	line-height:15px;
	overflow:initial;
}

#sidebar_client ul#sidebar_account_list a > span{
	display:block;
	height:17px;
	overflow:hidden;
}

#sidebar_client ul#sidebar_account_list a div{color:#1468b1;}

#sidebar_client ul#sidebar_account_list li{
	height:50px;
	padding:8px 0;
}

#sidebar_client ul#sidebar_account_list li.selected, #sidebar_client ul#sidebar_account_list li.selected:hover{
	background:#d4d4d4 !important;
	border-left:6px solid #d4d4d4 !important;
    height:60px;
    margin-bottom:-10px;
    padding:15px 0;
    position:relative;
    top:-20px;
}

#sidebar_client ul#sidebar_account_list li.selected a span, #sidebar_client ul#sidebar_account_list li.selected a div{
	color:#000;
}

#sidebar_client ul#sidebar_account_list li.selected a div{
	display:none;
}

#sidebar_client ul#sidebar_account_list li.selected a span{
	position: relative;
    top: 10px;
}

#sidebar_client ul#sidebar_account_list li a span span{
	display:none;
}

#sidebar_client ul#sidebar_account_list li.selected a{
	background-position: 0px center;
}

/*************************************************************
 *                                                           *
 *          Site Consultation - Comptes (Synthèse)           *
 *                                                           *
 *************************************************************/

div.desktop_account{
	border:1px solid #d4d4d4;
	display:inline-block;
	height:172px;
	margin:10px;
	position:relative;
	width:300px;
}
div.desktop_account.global{margin:0; border-color:#333;}
div.desktop_account.last{margin-right:0;}

div.desktop_account div.account_show{
	color:#4f81b6;
	cursor:pointer;
	font-size:11px;
	height:33px;
	line-height:36px;
	position:absolute;
	right:8px;
	text-align:center;
	top:-1px;
	z-index:2;
}

div.desktop_account h2{
	background-position:7px 3px;
	background-repeat:no-repeat;
	font-size:14px;
	font-weight:normal;
	line-height:32px;
	margin:0;
	position:relative;
	text-align:left;
	text-transform:uppercase;
}

div.desktop_account h2 span{
	color:#b9b9b9;
}

div.desktop_account h2 div{
	left: 8px;
    position: absolute;
    top: 20px;
}

div.desktop_account h2 a{
	background-position:7px 2px;
	background-repeat:no-repeat;
	color:#4F81B6;
	padding-left:50px;
}
div.desktop_account.inactive h2 a{color:#d5d5d5;}
div.desktop_account h2 a.Compte.PEA-PME{background-image:url('../images/ico_pme.jpg');}
div.desktop_account h2 a.Compte.PEA{background-image:url('../images/ico_pea.jpg');}
div.desktop_account h2 a.Compte.Assurance.Vie{background-image:url('../images/ico_vie.jpg');}
div.desktop_account h2 a.Compte.Titres{background-image:url('../images/ico_titres.jpg');}

div.desktop_account div.account_total{
	color:#000;
	font-size:30px;
	margin:10px 0 5px;
	text-align:center;
}
div.desktop_account.inactive div.account_total{color:#d5d5d5;}

div.account_variation{
	color:#0d9b06;
	font-size:23px;
	line-height:26px;
	text-align:center;
}
div.account_variation.negative{color:#dc1b1d;}
div.desktop_account.inactive div.account_variation,
div.desktop_account.inactive div.account_variation.negative{color:#d4d4d4;}

div.account_variation span.percent{
	background:#0d9b06;
    color:#fff;
    display:inline-block;
    font-size:16px;
    left:5px;
    line-height:30px;
    padding:0 10px;
    position:relative;
    top:-2px;
}
div.account_variation.negative span.percent{background:#dc1b1d;}
div.desktop_account.inactive div.account_variation span.percent,
div.desktop_account.inactive div.account_variation.negative span.percent{background-color:#d4d4d4;}

div.desktop_account div.account_stats{
	background:#f7f7f7;
	border-top:1px solid #d4d4d4;
	bottom:0;
	height:42px;
	position:absolute;
	width:100%;
}
div.desktop_account.global div.account_stats{border-color:#333;}

div.desktop_account div.account_stats div{
	display:inline-block;
	font-size:12px;
	margin:7px 0 6px;
	text-align:center;
	width:94px;
}
div.desktop_account.inactive div.account_stats div{color:#d4d4d4;}

div.desktop_account div.account_stats div.middle{
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	width:103px;
}
div.desktop_account.global div.account_stats div.middle{border-color:#333;}

div.desktop_account div.account_stats div h3{
	color:#d4d4d4;
	font-size:12px;
	margin:0;
	text-transform:uppercase;
}

span#synthesis_equal, span.synthesis_plus{
	color:#000;
	font-size:50px;
	font-weight:lighter;
}

span.synthesis_plus{
	margin-right:20px;
    position:relative;
    top:-10px;
}

/*************************************************************
 *                                                           *
 *          Site Consultation - Blocs chiffres               *
 *                                                           *
 *************************************************************/

div.account_block_number{
	border-left:0px solid #dad8d9;
	color:#000;
	display:inline-block;
    font-size:24px;
	line-height:25px;
	margin-bottom:20px;
	padding:0 25px;
	text-align:center;
	width:19.8%;
}
div.row.synthesis_row{
	text-align:center;
}
div.row.four div.account_block_number{
	width:24.8%;
}
div.row.third div.account_block_number{
	width:33%;
}
div.row.two div.account_block_number{
	width:49.8%;
}
div.account_block_number.first{border:none;}
div.account_block_number.green{color:#0d9b06;}
div.account_block_number.red{color:#dc1b1d;}

div.account_block_number > span.number_label, div.account_perf_pos > span.number_label{
	color:#d4d4d4;
	font-size:14px;
}
div.account_perf_pos > span.number_label{
	position:relative;
	top:5px;
}

div.account_block_number > span.number_label a.tooltip_bottom, div.desktop_account a.tooltip_bottom, div.account_perf_pos a.tooltip_bottom{
	background:#fff;
	border:1px solid #d4d4d4;
    border-radius:15px;
    color:#dad8d9;
    cursor:help;
    display:inline-block;
	font-size:13px;
    height:18px;
    line-height:17px;
    margin-left:10px;
	text-align:center;
    text-decoration:none;
    width:18px;
}

.account_synthesis > div.account_block_number{
	border: 1px solid #d4d4d4;
	float:left;
	font-size:22px;
	height:86px;
	margin:10px;
    padding: 14px 0 0;
	width:140px;
}

.account_perf_pos{
	border: 1px solid #d4d4d4;
	float:left;
	height:192px;
	margin:10px;
	padding:25px 0 20px;
	text-align:center;
	width:300px;
}

.account_perf_pos .account_pos{
	font-size:50px;
	width:100%;
}

.account_perf_pos div.account_variation{font-size:36px;}
.account_perf_pos div.account_variation span.percent{font-size:24px; line-height: 37px;}

.account_perf_pos .account_perf{
	font-size:32px;
	width:49%;
}

.account_perf_pos .account_perf.left{
	padding-right: 0;
	text-align:left;
}

.account_perf_pos .account_perf.right{
	padding-left: 0;
	text-align:right;
}

@media screen and (max-width:900px) {
	
}


/*************************************************************
 *                                                           *
 *             Site Consultation - Tableaux                  *
 *                                                           *
 *************************************************************/


h2.table_title{
	border-bottom:1px solid #000;
	color:#000;
	font-size:24px;
	font-weight:lighter;
	line-height:50px;
}

table.respond_table{
	border:none;
	width:100%;
}

table.respond_table th{
	border-bottom:1px solid #eee;
	color:#002d5b;
	font-size:13px;
	font-weight:normal;
	height:34px;
	padding-left:5px;
	padding-right:25px;
	text-align:right;
	vertical-align:top;
}
table.respond_table th span{white-space: nowrap;}

table.respond_table td{
	border-bottom:1px solid #eee;
	border-right:1px solid #eee;
	color:#000;
	font-size:13px;
	line-height:34px;
	padding-left:5px;
	padding-right:25px;
	text-align:right;
}

table.respond_table th:first-child, table.respond_table td:first-child{text-align:left;}
table.respond_table td:first-child{border-left:1px solid #eee; text-transform:uppercase;}
table.respond_table tr:nth-child(2n){background-color:#f7f7f7;}

table.respond_table td span.positive{color:#3fa93a; font-weight:700;}
table.respond_table td span.negative{color:#ff0600; font-weight:700;}

table#positions td:first-child{text-transform:uppercase;}

table#mouvements td:nth-child(2), table#mouvements th:nth-child(2){text-align:left;}
table#mouvements td:nth-child(4), table#mouvements th:nth-child(4){text-align:left;}
table#mouvements td:nth-child(4){text-transform:uppercase;}

table#mouvements tr,
table#mouvements_mobile tr{display:none;}
table#mouvements tr.mouv_block_1, table#mouvements thead tr,
table#mouvements_mobile tr.mouv_block_1, table#mouvements_mobile thead tr{display:table-row;}

a.mouv_load_more{
	background:url('../images/btn_load_more.png') no-repeat;
	cursor:pointer;
	display:block;
	height:21px;
	line-height:21px;
	padding-left:25px;
	text-decoration:none;
}

a.print_page{
	background:url('../images/btn_print.png') no-repeat right center;
	cursor:pointer;
	display:none;
	height:21px;
	line-height:21px;
	padding-right:25px;
	text-decoration:none;
}

table#positions tr.total td,
table#positions tr.solde td,
table#positions tr.solde_total td{
	background:#d4d4d4;
	border:1px solid #d4d4d4;
}

table#positions tr.total td:first-child,
table#positions tr.solde_total td:first-child{
	background:#002D5B;
	color:#fff;
	font-weight:700;
}

table#positions tr.limitator td{
	background:#fff;
	border:none;
	height:35px;
}
table#positions tr.solde td{
	background:#f9f9f9;
	border:1px solid #f9f9f9;
	border-bottom:1px solid #fff;
	color:#000;
}


/*************************************************************
 *                                                           *
 *             Site Consultation - Filtres                   *
 *                                                           *
 *************************************************************/

.filter_1,
.filter_0,
.filter_3,
div.account_block_number.filter_1,
div.account_block_number.filter_0,
div.account_block_number.filter_3{display:none;}


/*************************************************************
 *                                                           *
 *       Site Consultation - Tableaux (priorités)            *
 *                                                           *
 *************************************************************/
 
#mouvements_mobile{display:none;}

@media screen and (max-width:1300px) {
	.prior_6{display:none;}
}

@media screen and (max-width:1200px) {
	.prior_5{display:none;}
}

@media screen and (max-width:1100px) {
	.prior_4{display:none;}
}

@media screen and (max-width:1000px) {
	.prior_3{display:none;}
}

@media screen and (max-width:900px) {
	.prior_2{display:none;}
}


/*************************************************************
 *                                                           *
 *          Site Consultation - Synthèse 2                   *
 *                                                           *
 *************************************************************/

#new_synthesis_left h1{
	font-size:28px;
}

#new_synthesis_left  #new_synthesis_date{
	display: block;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
}

#new_synthesis_right .segmented-control{
	position:absolute;
	right:45px;
	top:45px;
	z-index:100;
}

#new_synthesis_right{
	position:relative;
	width:100%;
}
 
@media screen and (min-width:1420px) {
	#new_synthesis_left{
		float:left;
		width:200px;
	}

	#new_synthesis_left .account_block_number{
		width:100%;
	}

	#new_synthesis_right{
		float:left;
		position:relative;
		width:900px;
	}
}

@media screen and (max-width:980px) {
	#new_synthesis_right .segmented-control{
		position:relative;
		right:0;
		top:15px;
		width: 50%;
	}
	
	#new_synthesis_right .form-group{text-align:center;}
}

p#disclaimer{
	font-size:14px;
    line-height:20px;
	margin-top:50px;
}

