<br>
<div class="">
	<a id="breadcrump_target_3" class="breadcrump_target"></a>
	<h2 class="table_title">
		Mouvements
		<button class="export-csv" charset="utf-8" type="button" ng-csv="movementsExport" filename="{{filenameMovements}}" field-separator=";">Exporter</button>
	</h2>

	<table class="respond_table" id="mouvements" ng-if="movements.length > 0">
		<thead>
			<tr>
				<th class="prior_1" ng-click="orderMovements('dateTime')" ng-class="{selected: movementsPredicate=='dateTime', desc: !movementsReverse}"><div></div>Date</th>
				<th class="prior_1" ng-click="orderMovements('operation')" ng-class="{selected: movementsPredicate=='operation', desc: !movementsReverse}"><div></div>Opération</th>
				<th class="prior_2" ng-click="orderMovements('qteBrut')" ng-class="{selected: movementsPredicate=='qteBrut', desc: !movementsReverse}"><div></div>Qté</th>
				<th class="prior_1" ng-click="orderMovements('label')" ng-class="{selected: movementsPredicate=='label', desc: !movementsReverse}"><div></div>Libellé</th>
				<th class="prior_3" ng-click="orderMovements('courtBrut')" ng-class="{selected: movementsPredicate=='courtBrut', desc: !movementsReverse}"><div></div>Cours <span>(en €)</span></th>
				<th class="prior_4" ng-click="orderMovements('amountBrutBrut')" ng-class="{selected: movementsPredicate=='amountBrutBrut', desc: !movementsReverse}"><div></div>Mt brut <span>(en €)</span></th>
				<th class="prior_1" ng-click="orderMovements('amountNetBrut')" ng-class="{selected: movementsPredicate=='amountNetBrut', desc: !movementsReverse}"><div></div>Mt net  <span>(en €)</span></th>
			</tr>
		</thead>
		<tbody>
			<tr class="mouv_block_1" ng-repeat="movement in movements | orderBy:movementsPredicate:movementsReverse">
				<td class="prior_1">{{movement.date}}</td>
				<td class="prior_1">{{movement.operation}}</td>
				<td class="prior_2"><div ng-bind-html="trustAsHtml(movement.qte)"></div></td>
				<td class="prior_1">
					<a ng-if="movement.url != ''" ng-click="showFunds(movement.url)" title="">{{movement.label}}</a>
					<span ng-if="movement.url == ''">{{movement.label}}</span>
				</td>
				<td class="prior_3"><div ng-bind-html="trustAsHtml(movement.court)"></div></td>
				<td class="prior_4"><div ng-bind-html="trustAsHtml(movement.amountBrut)"></div></td>
				<td class="prior_1"><div ng-bind-html="trustAsHtml(movement.amountNet)"></div></td>
			</tr>
		</tbody>
	</table>
	<table class="respond_table" id="mouvements_mobile" ng-if="movements.length > 0">
		<tbody>
			<tr class="mouv_block_1" ng-repeat="movement in movements">
				<td class="prior_1">
					<span class="date">{{movement.date}}</span>
					<br>
					<strong>{{movement.operation}}</strong> (<em><a ng-if="movement.url != ''" ng-click="showFunds(movement.url)" title="">{{movement.label}}</a><span ng-if="movement.url == ''">{{movement.label}}</span></em>) : <font ng-bind-html="trustAsHtml(movement.amountNet)"></font> €
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="synthesis_message" ng-if="!movements">
		<p>Il n'y a actuellement aucun mouvement sur ce compte.</p>
	</div>
</div>