<a id="breadcrump_target_1bis" class="breadcrump_target"></a>
<h2 class="table_title">
	Performances
</h2>
<table class="respond_table" id="performances">
	<thead>
		<tr>
			<th ng-repeat="perf in account.perfs" class="prior_{{perf.priority}}">{{perf.label}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-repeat="perf in account.perfs" class="prior_{{perf.priority}}">
				<div ng-class="{positive: perf.positive, negative: !perf.positive}" ng-bind-html="trustAsHtml(perf.perf)" ng-if="perf.show"></div>
				<div ng-if="!perf.show">-</div>
			</td>
		</tr>
	</tbody>
</table>