<br>
<div class="" ng-if="pmvalues.values.length > 0">
	<a id="breadcrump_target_5" class="breadcrump_target"></a>
	<h2 class="table_title">
		Plus ou moins values réalisées
		<button class="export-csv" charset="utf-8" type="button" ng-csv="pmvaluesExport" filename="{{filenamePMValues}}" field-separator=";">Exporter</button>
	</h2>

	<table class="respond_table" id="pmvalues" ng-if="pmvalues.values.length > 0">
		<thead>
			<tr>
				<th class="prior_1" ng-click="orderValues('isin')" ng-class="{selected: valuesPredicate=='isin', desc: !valuesReverse}"><div></div>ISIN</th>
				<th class="prior_1" ng-click="orderValues('name')" ng-class="{selected: valuesPredicate=='name', desc: !valuesReverse}"><div></div>Libellé</th>
				<th class="prior_2" ng-click="orderValues('valueBrut')" ng-class="{selected: valuesPredicate=='valueBrut', desc: !valuesReverse}"><div></div>+/- value réalisée (en €)</th>
			</tr>
		</thead>
		<tbody>
			<tr class="pmvalues_block_1" ng-repeat="pmvalue in pmvalues.values | orderBy:valuesPredicate:valuesReverse">
				<td class="prior_1">{{pmvalue.isin}}</td>
				<td class="prior_1">
					<a ng-if="pmvalue.url != ''" ng-click="showFunds(pmvalue.url)" title="">{{pmvalue.name}}</a>
					<span ng-if="pmvalue.url == ''">{{pmvalue.name}}</span>
				</td>
				<td class="prior_1" ng-class="{positive:pmvalue.positiveValue, negative:!pmvalue.positiveValue}"><div ng-bind-html="trustAsHtml(pmvalue.value)"></div></td>
			</tr>
			<tr class="total">
				<td class="prior_1 total">Total</td>
				<td class="prior_1"></td>
				<td class="prior_1"><div ng-bind-html="trustAsHtml(pmvalues.total)"></div></td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="synthesis_message" ng-if="!pmvalues.values">
		<p>Il n'y a actuellement aucune plus ou moins values réalisées sur ce compte.</p>
	</div>
</div>