<a id="breadcrump_target_2" class="breadcrump_target"></a>
<h2 class="table_title">
	Positions au {{datePosition}}
	<button class="export-csv" charset="utf-8" type="button" ng-csv="positionsExport" filename="{{filenamePositions}}" field-separator=";">Exporter</button>
</h2>
<table class="respond_table" id="positions">
	<thead>
		<tr>
			<th class="prior_1" ng-click="orderPositions('name')" ng-class="{selected: positionsPredicate=='name', desc: !positionsReverse}"><div></div>Nom valeur</th>
			<th class="prior_2" ng-click="orderPositions('qteBrut')" ng-class="{selected: positionsPredicate=='qteBrut', desc: !positionsReverse}"><div></div><font ng-if="typeShort != 'Vie'">Quantité</font><font ng-if="typeShort == 'Vie'">Nombre d'unités de compte / de parts</font></th>
			<th class="prior_4" ng-click="orderPositions('priceBrut')" ng-class="{selected: positionsPredicate=='priceBrut', desc: !positionsReverse}"><div></div><font ng-if="typeShort != 'Vie'">Prix d'achat moyen <span>(en €)</span></font><font ng-if="typeShort == 'Vie'">Valeur de l'unité de compte / de parts <span>(en €)</span></font></th>
			<th class="prior_3" ng-click="orderPositions('courtBrut')" ng-class="{selected: positionsPredicate=='courtBrut', desc: !positionsReverse}" ng-if="typeShort != 'Vie'"><div></div>Cours <span>(en €)</span></th>
			<th class="prior_1" ng-click="orderPositions('valorisationBrut')" ng-class="{selected: positionsPredicate=='valorisationBrut', desc: !positionsReverse}"><div></div>Valorisation <span>(en €)</span></th>
			<th class="prior_5" ng-click="orderPositions('pmValueEuroBrut')" ng-class="{selected: positionsPredicate=='pmValueEuroBrut', desc: !positionsReverse}" ng-if="typeShort != 'Vie'"><div></div>+/- values latentes <span>(en €)</span></th>
			<th class="prior_6" ng-click="orderPositions('pmValuePercentBrut')" ng-class="{selected: positionsPredicate=='pmValuePercentBrut', desc: !positionsReverse}" ng-if="typeShort != 'Vie'"><div></div>+/- values latentes <span>(en %)</span></th>
			<th class="prior_1" ng-click="orderPositions('weightBrut')" ng-class="{selected: positionsPredicate=='weightBrut', desc: !positionsReverse}"><div></div>% du portefeuille</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="position in positionsList | orderBy:positionsPredicate:positionsReverse" class="">
			<td class="prior_1">
				<a ng-if="position.url != ''" ng-click="showFunds(position.url)" title="">{{position.name}}</a>
				<span ng-if="position.url == ''">{{position.name}}</span>
			</td>
			<td class="prior_2"><div ng-bind-html="trustAsHtml(position.qte)"></div></td>
			<td class="prior_4" ng-if="typeShort != 'Vie'"><div ng-bind-html="trustAsHtml(position.price)"></div></td>
			<td class="prior_3"><div ng-bind-html="trustAsHtml(position.court)"></div></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(position.valorisation)"></div></td>
			<td class="prior_5" ng-if="typeShort != 'Vie'" ng-class="{positive:position.pmValueEuroBrut >= 0, negative:position.pmValueEuroBrut < 0}"><div ng-bind-html="trustAsHtml(position.pmValueEuro)"></div></td>
			<td class="prior_6" ng-if="typeShort != 'Vie'" ng-class="{positive:position.pmValuePercentBrut >= 0, negative:position.pmValuePercentBrut < 0}"><div ng-bind-html="trustAsHtml(position.pmValuePercent)"></div></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(position.weight)"></div></td>
		</tr>
		<tr class="total" ng-if="positionsList.length > 0">
			<td class="prior_1 total">Total</td>
			<td class="prior_2"></td>
			<td class="prior_4"></td>
			<td class="prior_3" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.total.valorisation)"></div></td>
			<td class="prior_5" ng-if="typeShort != 'Vie'"><div ng-bind-html="trustAsHtml(positions.total.pmValue)"></div></td>
			<td class="prior_6" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.total.weight)"></div></td>
		</tr>
		<tr class="limitator" ng-if="positionsList.length > 0">
			<td class="prior_1"></td>
			<td class="prior_2"></td>
			<td class="prior_4"></td>
			<td class="prior_3" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"></td>
			<td class="prior_5" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_6" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"></td>
		</tr>
		<tr class="solde">
			<td class="prior_1">{{positions.solde.name}}</td>
			<td class="prior_2"></td>
			<td class="prior_4"></td>
			<td class="prior_3" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.solde.valorisation)"></div></td>
			<td class="prior_5" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_6" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.solde.weight)"></div></td>
		</tr>
		<tr class="solde_total">
			<td class="prior_1">Total général</td>
			<td class="prior_2"></td>
			<td class="prior_4"></td>
			<td class="prior_3" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.totalGlobal.valorisation)"></div></td>
			<td class="prior_5" ng-if="typeShort != 'Vie'"><div ng-bind-html="trustAsHtml(positions.totalGlobal.pmValue)"></div></td>
			<td class="prior_6" ng-if="typeShort != 'Vie'"></td>
			<td class="prior_1"><div ng-bind-html="trustAsHtml(positions.totalGlobal.weight)"></div></td>
		</tr>
	</tbody>
</table>