<div style="display:none">
	<div id="rib_{{num}}" ng-controller="RibCtrl">
		<img src="https://client.lfde.com/static/images/procapital.jpg" id="procap" />
		<img src="https://client.lfde.com/static/images/logo-tablet.jpg" id="financiere" />
		<h1>Relevé d'Identité Bancaire</h1>
		<p id="titulaire">Titulaire du compte : <strong>{{num}}</strong></p>
		<p id="titulaire2">{{owner}}</p>
		<p id="home">Domiciliation</p>
		<p><strong>ProCapital Paris</strong></p>
		<div id="rib_data">
			<h2>Références Bancaires de votre <strong>{{type}}</strong></h2>
			<p>
				Identification Internationale (IBAN)<br>
			</p>
			<p>
				<strong>IBAN : {{iban}}</strong><br>
			</p>
			<p>
				Identification Internationale de la Banque (BIC)<br>
			</p>
			<p>
				SWIFT / BIC : <strong>{{bic}}</strong>
			</p>
		</div>
		<p>
			<strong>Pour les virements en provenance de l'étranger</strong><br><br>
		</p>
		<p>
			Virement en euros libellé à l'ordre de Procapital suivi des coordonnées indiquées ci-dessus (dont le numéro de compte)
		</p>
		<p>Pour chaque virement en faveur de votre compte, nous vous remercions de bien vouloir en aviser votre gérant privé.</span></p>
		</footer>
	</div>
	<div id="rib_{{num}}_renderer"></div>
</div>