<div id="graph_options" class="account_synthesis">
	<div  class="form-group">
		<nav class="segmented-control blue full_size">
			<input type="radio" id="graph_period1" name="graph_period" value="0" ng-model="confirmed" ng-change="changeFilter(0)" ng-checked="filter == 0" />
			<input type="radio" id="graph_period2" name="graph_period" value="1" ng-model="confirmed" ng-change="changeFilter(1)" ng-checked="filter == 1" />
			<input type="radio" id="graph_period3" name="graph_period" value="2" ng-model="confirmed" ng-change="changeFilter(2)" ng-checked="filter == 2" />
			<label id="graph_period1_label" data-value="{{currentYear}}" for="graph_period1">{{currentYear}}</label>
			<label id="graph_period2_label" data-value="1 an" for="graph_period2">1 an</label>
			<label id="graph_period3_label" data-value="3 ans" for="graph_period3">3 ans</label>
		</nav>
	</div>
	<div class="account_perf_pos" tooltip-html-unsafe='POSITION DE VOTRE COMPTE<br>La position de votre compte au {{datePosition}} est de {{accountPosition}}<br><br>PERFORMANCE DU COMPTE<br>Au cours de la période, la performance de votre compte est de {{accountPerf}} ({{accountPerfPercent}})' tooltip-placement="top" tooltip-animation="false">
		<div class="account_block_number account_pos">
			<font ng-bind-html="trustAsHtml(accountPosition)"></font><br>
			<span class="number_label">Positions</span>
		</div>
		
		<div class="account_variation {{perfPositive}}">
			<font ng-bind-html="trustAsHtml(accountPerf)"></font>
			<span class="percent"><font ng-bind-html="trustAsHtml(accountPerfPercent)"></font></span>
		</div>
		<span class="number_label">
			Performance
		</span>
	</div>
		
	<div class="account_block_number" tooltip-html-unsafe='APPORTS/RETRAITS NETS<br>Au cours de la période, la somme des apports/retraits effectués sur votre compte est de {{accountAR}}' tooltip-placement="top" tooltip-animation="false">
		<font ng-bind-html="trustAsHtml(accountAR)"></font><br>
		<span class="number_label">Apports / retraits</span>
	</div>
	
	<div class="account_block_number" tooltip-html-unsafe='FRAIS PRÉLEVÉS<br>Au cours de la période, la somme des frais prélevés sur votre compte sélectionné est de {{accountFrais}}' tooltip-placement="top" tooltip-animation="false">
		<font ng-bind-html="trustAsHtml(accountFrais)"></font><br>
		<span class="number_label">Frais</span>
	</div>

	<div class="account_block_number" ng-if="typeShort == 'Neuflize Vie' || typeShort == 'PEA' || typeShort == 'PEA-PME'">
		<font ng-bind-html="trustAsHtml(accountOpenDate)"></font>
		<br>
		<span class="number_label">Date ouverture</span>
	</div>
	
	<div class="account_block_number" ng-if="typeShort == 'PEA' || typeShort == 'PEA-PME'" tooltip-html-unsafe='SOMME DES APPORTS<br>Depuis l&#146;origine, vous avez versé la somme de {{accountApports}} sur votre compte' tooltip-placement="top" tooltip-animation="false">
		<font ng-bind-html="trustAsHtml(accountApports)"></font><br>
		<span class="number_label">Somme des apports</span>
	</div>
		
	<div class="account_block_number account_block_versement" ng-if="typeShort == 'PEA' || typeShort == 'PEA-PME'" tooltip-html-unsafe='VERSEMENTS POSSIBLES<br>Vous pouvez verser la somme de {{accountVersements}} sur votre compte' tooltip-placement="top" tooltip-animation="false">
		<font ng-bind-html="trustAsHtml(accountVersements)"></font><br>
		<span class="number_label">Versements possibles</span>
	</div>
	
	<div class="clearer"></div>
</div>
<div id="histo_container">
	<div id="histo_positions"></div>
</div>
<div class="clearer"></div>