<div ng-controller="InfosCtrl">
	<div class="alert alert-success" id="infos_success" style="display:none;" role="alert">Vos informations ont été mises à jour.</div>
	<div class="alert alert-danger" id="infos_failed" style="display:none;" role="alert">Une erreur s'est produite</div>
	<form id="step_infos" method="post" class="step_form consultation" ng-submit="submit()">
		<fieldset id="last_date_update">Dernière mise à jour : {{infos.date}}</fieldset>
		<fieldset class="fieldset-phone">
			<div class="form-group">
				<label for="email">Adresse email</label>
				<br>
				<input ng-disabled="club" id="email" class="form-control control-email required" type="text" placeholder="jean.durand@gmail.com" value="{{infos.email}}" name="email">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div class="form-group">
				<label for="familial_context">Situation familiale</label>
				<div class="select_group required">
					<div class="select_required"></div>
					<select ng-disabled="club" id="familial_context" class="form-select form-control" name="familial_context">
						<option value="">Votre situation</option>
						<option ng-selected="infos.situation == 'Célibataire'" value="Célibataire">Célibataire</option>
						<option ng-selected="infos.situation == 'Communauté réduite aux acquêts'"  value="Communauté réduite aux acquêts">Communauté réduite aux acquêts</option>
						<option ng-selected="infos.situation == 'Marié(e) communauté légale'"  value="Marié(e) communauté légale">Marié(e) en communauté légale</option>
						<option ng-selected="infos.situation == 'Marié(e) communauté universelle'"  value="Marié(e) communauté universelle">Marié(e) en communauté universelle</option>
						<option ng-selected="infos.situation == 'Marié(e) séparation de bien'"  value="Marié(e) séparation de bien">Marié(e) en séparation de bien</option>
						<option ng-selected="infos.situation == 'PACS'"  value="PACS">PACS</option>
						<option ng-selected="infos.situation == 'Séparé(e)'"  value="Séparé(e)">Séparé(e)</option>
						<option ng-selected="infos.situation == 'Divorcé(s)'"  value="Divorcé(s)">Divorcé(s)</option>
						<option ng-selected="infos.situation == 'Veuve / Veuf'"  value="Veuve / Veuf">Veuve / Veuf</option>
					</select>
				</div>
				<div class="error_icon"></div>
			</div>
		</fieldset>
		
		<fieldset>
			<div class="form-group">
				<label for="phone_number">Téléphone</label>
				<div class="input-group tooltip-input">
					<input ng-disabled="club" id="phone_number" class="form-control control-portable required" type="text" placeholder="06 60 06 60 06" value="{{infos.phone.mobile}}" name="phone_number">
					<span class="input-group-addon">Portable</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div id="phone_home" class="form-group" ng-hide="infos.phone.home1 == ''">
				<div class="input-group">
					<input ng-disabled="club" id="phone_number_home" class="form-control control-phone required" type="text" placeholder="01 60 06 60 06" value="{{infos.phone.home1}}" name="phone_number_home">
					<span class="input-group-addon">Domicile</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div id="phone_work" class="form-group" ng-hide="infos.phone.pro == ''">
				<div class="input-group">
					<input ng-disabled="club" id="phone_number_work" class="form-control control-phone required" type="text" placeholder="01 60 06 60 06" value="{{infos.phone.pro}}" name="phone_number_work">
					<span class="input-group-addon">Professionnel</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<!--<div id="phone_home2" class="form-group" ng-hide="infos.phone.home2 == ''">
				<div class="input-group">
					<input ng-disabled="club" id="phone_number_home2" class="form-control control-phone required" type="text" placeholder="01 60 06 60 06" value="{{infos.phone.home2}}" name="phone_number_home2">
					<span class="input-group-addon">Résidence secondaire</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>-->
			<div id="add_phone" class="form-group" ng-if="(infos.phone.home1 == '' || infos.phone.pro == '') && !club">
				<div class="btn-group">
					<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
						Ajouter un numéro de téléphone
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a rel="home" ng-if="infos.phone.home1 == ''">Domicile</a></li>
						<li><a rel="work" ng-if="infos.phone.pro == ''">Professionnel</a></li>
						<!--<li><a rel="home2" ng-if="infos.phone.home2 == ''">Résidence secondaire</a></li>-->
					</ul>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<div class="form-group">
				<label for="profession">Profession exercée</label>
				<br>
				<input ng-disabled="club" id="profession" class="form-control control-text required" type="text" placeholder="Avocat, Médecin, Ingénieur, ..." value="{{infos.profession}}" name="profession">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div class="form-group">
				<label for="Profession_INSEE__c">Catégorie Socio-Professionnelle</label>
				<div class="select_group required">
					<div class="select_required"></div>
					<select ng-disabled="club" id="Profession_INSEE__c" class="form-select form-control valid" name="Profession_INSEE__c">
						<option value="">Votre catégorie socio-professionnelle</option>
						<option ng-selected="infos.insee == 'Agriculteurs exploitants'" value="Agriculteurs exploitants">Agriculteurs exploitants</option>
						<option ng-selected="infos.insee == 'Artisans, commerçants et chefs d\'entreprise'" value="Artisans, commerçants et chefs d'entreprise">Artisans, commerçants et chefs d'entreprise</option>
						<option ng-selected="infos.insee == 'Artisans'" value="Artisans">Artisans</option>
						<option ng-selected="infos.insee == 'Commerçants et assimilés'" value="Commerçants et assimilés">Commerçants et assimilés</option>
						<option ng-selected="infos.insee == 'Chefs d\'entreprise de 10 salariés ou plus'" value="Chefs d'entreprise de 10 salariés ou plus">Chefs d'entreprise de 10 salariés ou plus</option>
						<option ng-selected="infos.insee == 'Cadres et professions intellectuelles supérieures'" value="Cadres et professions intellectuelles supérieures">Cadres et professions intellectuelles supérieures</option>
						<option ng-selected="infos.insee == 'Professions libérales et assimilés'" value="Professions libérales et assimilés">Professions libérales et assimilés</option>
						<option ng-selected="infos.insee == 'Cadres de la fonction publique, professions intellectuelles et artistiques'" value="Cadres de la fonction publique, professions intellectuelles et artistiques">Cadres de la fonction publique, professions intellectuelles et artistiques</option>
						<option ng-selected="infos.insee == 'Professions Intermédiaires'" value="Professions Intermédiaires">Professions Intermédiaires</option>
						<option ng-selected="infos.insee == 'Professions intermédiaires de l\'enseignement, de la santé, de la fonction publique et assimilés'" value="Professions intermédiaires de l'enseignement, de la santé, de la fonction publique et assimilés">Professions intermédiaires de l'enseignement, de la santé, de la fonction publique et assimilés</option>
						<option ng-selected="infos.insee == 'Professions intermédiaires administratives et commerciales des entreprises'" value="Professions intermédiaires administratives et commerciales des entreprises">Professions intermédiaires administratives et commerciales des entreprises</option>
						<option ng-selected="infos.insee == 'Techniciens'" value="Techniciens">Techniciens</option>
						<option ng-selected="infos.insee == 'Contremaîtres, agents de maîtrise'" value="Contremaîtres, agents de maîtrise">Contremaîtres, agents de maîtrise</option>
						<option ng-selected="infos.insee == 'Employés'" value="Employés">Employés</option>
						<option ng-selected="infos.insee == 'Employés de la fonction publique'" value="Employés de la fonction publique">Employés de la fonction publique</option>
						<option ng-selected="infos.insee == 'Employés administratifs d\'entreprise'" value="Employés administratifs d'entreprise">Employés administratifs d'entreprise</option>
						<option ng-selected="infos.insee == 'Employés de commerce'" value="Employés de commerce">Employés de commerce</option>
						<option ng-selected="infos.insee == 'Personnels des services directs aux particuliers'" value="Personnels des services directs aux particuliers">Personnels des services directs aux particuliers</option>
						<option ng-selected="infos.insee == 'Ouvriers'" value="Ouvriers">Ouvriers</option>
						<option ng-selected="infos.insee == 'Ouvriers qualifiés'" value="Ouvriers qualifiés">Ouvriers qualifiés</option>
						<option ng-selected="infos.insee == 'Ouvriers non qualifiés'" value="Ouvriers non qualifiés">Ouvriers non qualifiés</option>
						<option ng-selected="infos.insee == 'Ouvriers agricoles'" value="Ouvriers agricoles">Ouvriers agricoles</option>
						<option ng-selected="infos.insee == 'Retraités'" value="Retraités">Retraités</option>
						<option ng-selected="infos.insee == 'Anciens agriculteurs exploitants'" value="Anciens agriculteurs exploitants">Anciens agriculteurs exploitants</option>
						<option ng-selected="infos.insee == 'Anciens artisans, commerçants, chefs d\'entreprise'" value="Anciens artisans, commerçants, chefs d'entreprise">Anciens artisans, commerçants, chefs d'entreprise</option>
						<option ng-selected="infos.insee == 'Anciens cadres et professions intermédiaires'" value="Anciens cadres et professions intermédiaires">Anciens cadres et professions intermédiaires</option>
						<option ng-selected="infos.insee == 'Anciens employés et ouvriers'" value="Anciens employés et ouvriers">Anciens employés et ouvriers</option>
						<option ng-selected="infos.insee == 'Autres personnes sans activité professionnelle'" value="Autres personnes sans activité professionnelle">Autres personnes sans activité professionnelle</option>
						<option ng-selected="infos.insee == 'Chômeurs n\'ayant jamais travaillé'" value="Chômeurs n'ayant jamais travaillé">Chômeurs n'ayant jamais travaillé</option>
						<option ng-selected="infos.insee == 'Inactifs divers (autres que retraités)'" value="Inactifs divers (autres que retraités)">Inactifs divers (autres que retraités)</option>
					</select>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
		</fieldset>
		
		<fieldset>
			<div class="form-group">
				<label>Combien avez-vous d'enfants ?</label>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="minor_child">
								Mineurs :
								<span id="minor_child_number">{{infos.minors}}</span>
								<img class="slide_required" alt="" src="https://client.lfde.com/static/images/required.png">
							</label>
							<br>
							<input id="minor_child" type="hidden" value="{{infos.minors}}" name="minor_child">
							<div id="minor_child_content"></div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="major_child">
								Majeurs :
								<span id="major_child_number">{{infos.majors}}</span>
								<img class="slide_required" alt="" src="https://client.lfde.com/static/images/required.png">
							</label>
							<br>
							<input id="major_child" type="hidden" value="{{infos.majors}}" name="major_child">
							<div id="major_child_content"></div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="clearer"></div>
		<fieldset class="valide" id="submit_grp_infos" ng-if="!club">
			<input type="submit" value="Valider">
		</fieldset>
	</form>
</div>