<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml" 
	  xml:lang="fr"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
 ng-app="siteGPApp">
	<head>	
		<meta  name="robots" content="all" />
		<meta  http-equiv="content-language" content="fr" />
		<meta  http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta  name="description" content="" />
		<meta  name="keywords" content="Financière de l&#039;Echiquier" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Financière de l'Echiquier</title>
		<link type="text/css" href="static/minify/style.externals.css?v=2" rel="stylesheet" />
		<link type="text/css" href="static/css/style.css?v=2" rel="stylesheet" />
		<link type="text/css" href="static/css/consultation.css?v=3" rel="stylesheet" />
		<link type="text/css" href="static/css/consultation.print.css?v=2" rel="stylesheet" media="print" />
		<link rel="shortcut icon" href="static/images/favicon.ico" />
		<script src="js/minify/minify.angular.js"></script>
		<script src="js/angular/ng-csv.min.js"></script>
		<script src='js/pdfmake.min.js'></script>
		<script src='js/vfs_fonts.js'></script>
	</head>
	<body ng-controller="MainCtrl" ng-class="{club: clubView, cgp: club}" ng-keypress="keypressControll($event)">
		<div ng-controller="ActivitiesCtrl">
			<gpactivities></gpactivities>
			<gpheader></gpheader>
		</div>
		<gpmenu ng-if="clubView || !club"></gpmenu>
		
		<div id="wrapper" class="fr" ng-switch="activeView">
			<header id="account_breadcrump" ng-if="activeView == 'account'">
				<div id="breadcrump-nav" ng-controller="AccountCtrl">
					<div class="container">
						<div id="breadcrump_account" class="visible-xs {{typeShort}}">
							<div class="menu_account_icon">{{typeShort}}</div>
							<span>{{typeShort}} n°{{num}}</span>
							<div>
								{{amountPositive}}<font ng-bind-html="trustAsHtml(amountMenu)"></font>
							</div>
						</div>
						<ul>
							<li target="breadcrump_target_1">Aperçu</li>
							<li target="breadcrump_target_1bis" class="hidden-xs hidden-sm">Performances</li>
							<li target="breadcrump_target_2">Positions</li>
							<!--<li target="breadcrump_target_5" class="hidden-xs hidden-sm">Plus ou moins values réalisées</li>-->
							<li target="breadcrump_target_4">Répartitions</li>
							<li target="breadcrump_target_3">Mouvements</li>
							<li ng-click="showRIB(num)" ng-if="typeShort == 'PEA' || typeShort == 'PME' || typeShort == 'Titres'">RIB</li>
						</ul>
						<div id="breadcrump-nav-selection"></div>
					</div>
				</div>
			</header>
			<div id="wrapper_client" ng-class="{full: !clubView && club, max:activeView == 'mangerFunds'}" ng-if="activeView != 'funds' && activeView != 'document' && activeView != 'mangerDocument'">
				<div id="manager_home_menu" ng-if="activeView == 'mangerSynthesis' || activeView == 'mangerClients'">
					<div>
						<a ng-click="changeView('mangerSynthesis')" ng-class="{selected: activeView == 'mangerSynthesis'}">Ma Synthèse</a>
						<a ng-click="changeView('mangerClients')" ng-class="{selected: activeView == 'mangerClients'}">Mes clients</a>
						<div class="clearer"></div>
					</div>
				</div>
				<gpsynthesis ng-switch-when="synthesis"></gpsynthesis>
				<gpaccount ng-switch-when="account"></gpaccount>
				<gpdocuments ng-switch-when="documents"></gpdocuments>
				<gpprofile ng-switch-when="profile"></gpprofile>
				<gppassword ng-switch-when="password"></gppassword>
				<gpload ng-switch-when="loading"></gpload>
				
				<clubsynthesis ng-switch-when="mangerSynthesis"></clubsynthesis>
				<clubclient ng-switch-when="mangerClients"></clubclient>
				<clubdocuments ng-switch-when="mangerDocuments"></clubdocuments>
				<clubprofile ng-switch-when="mangerProfile"></clubprofile>
				<clubpassword ng-switch-when="mangerPassword"></clubpassword>
				<clubfunds ng-switch-when="mangerFunds"></clubfunds>
				<clubcontact ng-switch-when="mangerContact"></clubcontact>
				<p id="disclaimer" ng-if="activeView != 'profile' && activeView != 'mangerFunds'">
					Les informations disponibles sur ce site sont fournies à titre indicatif et ne sauraient engager la responsabilité de La Financière de l'Echiquier. La Financière de l'Echiquier, et ses fournisseurs d'information, ne pourront voir leurs responsabilités engagées du fait d'erreurs ou de retards dans la transmission desdites informations et données. Seuls les attestations et les relevés de comptes fournis par les compagnies d'assurances et les teneurs de comptes font foi.
					<br>
					<br>
					Les performances passées ne préjugent pas des performances futures et ne sont pas constantes dans le temps. Les fonds gérés par La Financière de l'Echiquier sont majoritairement investis en actions et en obligations. Ils présentent un risque de perte en capital. La gestion est discrétionnaire. Il existe un risque que les fonds ne soient pas investis à tout moment sur les valeurs les plus performantes. Pour plus d'informations, il est recommandé de se référer au DICI disponible sur simple demande auprès de votre interlocuteur ou sur le site de la société.
				</p>
				<p id="disclaimer" ng-if="activeView == 'profile'">
					La loi du 6 janvier 1978 modifiée vous donne un droit d'accès, de modification, de suppression et d'opposition à toutes les informations nominatives vous concernant qui figureraient sur tout fichier destiné à La Financière de l'Echiquier. Ces droits peuvent être exercés auprès de La Financière de l'Echiquier.
				</p>
			</div>
			<gpfunds ng-switch-when="funds"></gpfunds>
			<gpdocument ng-switch-when="document"></gpdocument>
			<clubdocument ng-switch-when="mangerDocument"></clubdocument>
		</div>
		<div id="loading_page"></div>
		
		<div id="manager_popin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-controller="MenuCtrl">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="close_manager">X</div>
					<div class="manager_img_container">
						<img class="manager_img" alt="" ng-if="manager.Id" src="https://login.lfde.com/gp/static/images/gerants/{{manager.Id}}.jpg" width="32px" height="32px">
					</div>
					<div class="manager_infos">
						Votre gérant privé<br>
						{{manager.FirstName}} {{manager.LastName}}<br>
						<img class="phone_img" alt="Tél" src="static/images/btn_call.png" width="24px" height="24px"> 
							<a href="tel:{{manager.phoneShort}}"><span>{{manager.Phone}}</span></a>
						<a title="Email" href="mailto:{{manager.Email}}"><img class="email_img" alt="Email" src="static/images/btn_email.png" width="24px" height="24px"></a>
					</div>
					<div class="clearer"></div>
					<br>
					<div class="manager_img_container">
						<img class="manager_img" alt="" ng-if="manager.Assistante.Id" src="https://login.lfde.com/gp/static/images/gerants/{{manager.Assistante.Id}}.jpg" width="32px" height="32px">
					</div>
					<div class="manager_infos">
						Son assistante<br>
						{{manager.Assistante.FirstName}} {{manager.Assistante.LastName}}<br>
						<img class="phone_img" alt="Tél" src="static/images/btn_call.png" width="24px" height="24px"> 
							<a href="tel:{{manager.Assistante.phoneShort}}"><span>{{manager.Assistante.Phone}}</span></a>
						<a title="Email" href="mailto:{{manager.Assistante.Email}}"><img class="email_img" alt="Email" src="static/images/btn_email.png" width="24px" height="24px"></a>
					</div>
					<div class="clearer"></div>
				</div>
			</div>
		</div>
		
		<div id="waiting_popin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" ng-controller="MenuCtrl">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					Génération de votre rapport de gestion en cours.<br>Veuillez patienter.
				</div>
			</div>
		</div>
		
		<div id="signature_popin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" ng-controller="MenuCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<h2 id="signature_title">VOTRE ACCORD POUR CHANGER DE TENEUR DE COMPTE</h2>
					<p>
						L’épargne dont vous nous avez confié la gestion est aujourd’hui déposée dans des comptes titres et/ou des comptes PEA qui sont 
						tenus par ProCapital, La Financière de l’Echiquier n’étant pas habilitée à tenir directement les comptes gérés en votre nom.<br><br>
						Pour des raisons stratégiques qui lui sont propres, <strong>ProCapital a pris la décision de cesser son activité de tenue de 
						compte-conservation pour compte de tiers.</strong><br><br>
						Nous avons sélectionné la société <strong>Crédit Agricole Titres</strong> pour reprendre cette mission. Ce changement n’aura 
						aucun effet sur vos conditions tarifaires ni sur le type de service que nous vous rendons. Nous vous invitons à lire les 
						<a href="http://www.lfde.com/wp-content/uploads/2015/09/ConditionsGenerales.pdf" target="_blank">conditions générales</a> de vos nouveaux comptes.<br><br>
						Afin de pouvoir continuer à gérer le mandat de gestion que vous nous avez confié, nous sollicitons <strong>votre accord exprès</strong>
						afin de réaliser le transfert de vos avoirs sur vos nouveaux comptes chez Crédit Agricole Titres.<br><br>
					</p>
					<p id="sinature_buttons">
						<a id="accept_signature" href="{{SignatureUrl}}" target="_blank">Accepter maintenant</a>
						<a id="decline_signature">Plus tard</a>
					</p>
					<p>
						Pour toute question, vous pouvez consulter notre <a href="http://www.lfde.com/la-financiere-de-lechiquier-repond-a-vos-questions/" target="_blank">FAQ</a> ou contacter votre gérant privé,<br>
						{{manager.FirstName}} {{manager.LastName}} au {{manager.Phone}}.
					</p>
				</div>
			</div>
		</div>
		
		<script src="js/minify/minify.jbootstrap.js"></script>
		<script src="js/minify/minify.amcharts.js"></script>
		<script src="js/minify/jquery.ui.touch-punch.min.js"></script>
		
		<script src="js/PhoneFormat.js"></script>
		
		<script src="js/site.js?v=2"></script>
		<script src="js/angular/config.js"></script>
		<script src="js/angular/app.js?v=2"></script>
		<script src="js/angular/controllers.js"></script>
		<script src="js/angular/services.js?v=7"></script>
		<script src="js/angular/directives.js?v=2"></script>
	</body>
</html>