<br><br>
<div ng-controller="AccountCtrl">
	<div id="account_top_left">
		<h1 align="center" class="page_title">
			<div class="account_title {{owner}} {{typeShort}}">
				<strong>{{titulaire}}</strong><br>
				<span>
					{{typeShort}} n°<strong>{{accountNumber}}</strong> 
					au <strong>{{datePosition}}</strong>
				</span>
			</div>
		</h1>
	</div>
	<a id="breadcrump_target_1" class="breadcrump_target"></a>
	<div class="clearer"></div>
	<gpaccountheader></gpaccountheader>
	<gpaccountperfs></gpaccountperfs>
	<gpaccountpositions></gpaccountpositions>
	<gpaccountpmvalues></gpaccountpmvalues>
	<gpaccountreps></gpaccountreps>
	<gpaccountmovements></gpaccountmovements>
	<gprib></gprib>
</div>