<div ng-controller="DocumentCtrl" style="height:100%;padding-top:20px;padding-left:220px;">
	<object id="doc_object" data="{{content}}" width="100%" height="100%" type="application/pdf" download="test.pdf"></object>
</div>