<div ng-controller="DocumentsCtrl">
	<div ng-repeat="category in docCategories">
		<h2 class="table_title">{{category.categorie}}</h2>
		<div class="document_list">
			<div class="document_block" ng-repeat="document in category.documents">
				{{document.Description}}
				<br>
				<a class="tracked_document" ng-click="loadDocument(document.Id)">Télécharger</a>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
	
	<div ng-if="showRibs">
		<h2 class="table_title">Relevés d'Identité Bancaire (RIB)</h2>
		<div class="document_list">
			<div class="document_block" ng-repeat="account in accounts">
				{{account.type}} n°{{account.num}}
				<br>
				<a class="tracked_document" ng-click="showRIB(account)">Télécharger</a>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
	<iframe id="doc_iframe" src="https://www.lfde.com/documents-gestion-privee/?format=light" style="border:none;" width="100%" height="460px"></iframe>
</div>