<div ng-controller="HomeCtrl">
	<div class="synthesis_message" ng-if="message && message != ''">
		<p>{{message}}</p>
	</div>
	<div id="account_top_left">
		<h1 class="page_title" align="center">
			<div class="account_title">
				<strong>Synthèse de <strong ng-if="club">ses</strong><strong ng-if="!club">mes</strong> comptes</strong>
				<br>
				<span>
					Données au <strong>{{datePosition}}</strong>
				</span>
			</div>
		</h1>
	</div>
	<div id="account_top_right">
		<div class="document_block">
			Rapport de gestion
			<br>
			<a class="tracked_document" ng-click="exportToPDF()">Télécharger</a>
		</div>
	</div>
	<div class="clearer"></div>
	<gpsynthesisheader></gpsynthesisheader>
	<gpsynthesisaccounts></gpsynthesisaccounts>
	<gpsynthesisrep></gpsynthesisrep>
	
	<div style="display:none;" id="graph_tmp_container"></div>
</div>
