<header>
	<!--[if IE 8]>
	<div style="color:#fff;background-color:#4F81B6; font-size:14px; text-align:center; line-height:24px;">
		Vous utilisez internet explorer 8. Ce site est optimisé pour fonctionner à partir de la version 9 d'internet explorer. <a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank" style="color:#fff; text-decoration:underline;">Télécharger la dernière version d'Internet Explorer</a>
	</div>
	<![endif]-->
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container" id="menu_container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" id="toggle_sidebar" ng-click="showMobileMenu()" ng-if="!club">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a ng-click="showHome()" class="navbar-brand">
					<img src="https://login.lfde.com/gp/static/images/logo-normal.png?v=2" width="216" height="60" alt="Logo de la Financière de l&#039;&amp;eagrave;" />
				</a>
			</div>
			<div id="header_partner" ng-if="club && CGPLogo">
				<img id="logo_cgp" src="{{CGPLogo}}" />
			</div>
			<div id="header_links" ng-if="!club">
				<a id="message_link" class="{{unreadClass}}" ng-click="showActivities()">{{unreadTotal}}</a>
			</div>
			<div id="header_profile" ng-if="!club">
				<strong>{{login}}</strong>
				<a class="disconnect_link" ng-click="disconnection()">Déconnexion</a>
			</div>
			<div id="header_manager" ng-if="club" ng-click="showManagerMenu()">
				<strong>{{loginCGP}}</strong><br>
				{{login}}
				<div id="header_manager_arrow"></div>
				<div id="header_manager_menu">
					<ul>
						<li ng-click="changeView('mangerSynthesis')">Ma synthèse</li>
						<li ng-click="changeView('mangerClients')">Mes clients</li>
						<li ng-click="changeView('mangerDocuments')">Mes documents</li>
						<li ng-click="changeView('mangerProfile')">Mon profil</li>
						<li ng-click="changeView('mangerPassword')">Mon mot de passe</li>
						<li ng-click="changeView('mangerFunds')">Nos fonds</li>
						<li ng-click="changeView('mangerContact')">Mes contacts</li>
						<li><a class="disconnect_link" ng-click="disconnection()">Déconnexion</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.container -->
	</div><!-- /.navbar -->
	<div id="club_return" ng-if="clubView">
		<a id="club_back" ng-click="changeView('mangerClients')"><span class="hidden-xs">Retour aux clients</span></a>
		<button type="button" class="navbar-toggle" id="toggle_sidebar" ng-click="showMobileMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<p><span class="hidden-xs">Comptes de </span><font ng-bind-html="trustAsHtml(clientName)"></font></p>
	</div>
</header>