<div id="sidebar_client" ng-controller="MenuCtrl">
	<div id="sidebar_client_container">
		<ul id="sidebar_account_list">
			<li ng-repeat="account in accounts" id="menu_{{account.num}}" class="{{account.type}} {{account.status}} {{account.selected}}" ng-click="changeAccount(account.num)">
				<a title="">
					<div class="menu_account_icon">{{account.typeShort}}</div>
					<span><span>{{account.type}} N°</span>{{account.description}}</span><div>{{account.amountPositive}} <strong>{{account.amount}}</strong> <span>€</span></div>
					<div class="menu_account_inactive_text">{{account.inactiveText}}</div>
				</a>
			</li>
		</ul>
		<ul id="sidebar_account_menu">
			<li id="menu_global" class="selected" rel="synthesis">
				<a ng-click="changeView('synthesis')" title=""><span ng-if="club">S</span><span ng-if="!club">Ma s</span>ynthèse</a>
			</li>
			<li id="menu_documents" rel="documents">
				<a ng-click="changeView('documents')" title=""><span ng-if="club">D</span><span ng-if="!club">Mes d</span>ocuments</a>
			</li>
			<li id="menu_profil" rel="profile">
				<a ng-click="changeView('profile')" title=""><span ng-if="club">P</span><span ng-if="!club">Mon p</span>rofil</a>
				<ul class="menu_submenu">
					<li id="menu_password" rel="profile">
						<a ng-click="changeView('profile')" title=""><span ng-if="club">I</span><span ng-if="!club">Mes i</span>nformations</a>
					</li>
					<li id="menu_password" rel="password" ng-if="!club">
						<a ng-click="changeView('password')" title="">Mon mot de passe</a>
					</li>
				</ul>
			</li>
			<li id="menu_funds" rel="funds" ng-if="!club">
				<a ng-click="showFunds('')" title="">Nos fonds</a>
			</li>
		</ul>
		<div id="footer_left" ng-if="!club">
			<div id="manager_link" ng-click="showManager()">Contacter mon gérant</div>
		</div>
	</div>
</div>