<div id="activity_block_container">
	<div id="activity_block">
		<header>
			<a id="close_activity_block">X</a>
			Activité
		</header>
		<div ng-if="activities.recents.length > 0">
			<h2>Nouvelles notifications</h2>
			<ul>
				<li ng-repeat="activity in activities.recents">
					<div class="noti_date">{{activity.ActivityDate}}</div>
					<div class="noti_{{activity.classType}}"></div>
					<div class="noti_des">{{activity.Text}}</div>
					<div class="noti_new"></div>
				</li>
			</ul>
		</div>
		<div ng-if="activities.olds.length > 0">
			<h2 ng-if="activities.recents.length > 0">Plus anciennes</h2>
			<ul>
				<li ng-repeat="activity in activities.olds">
					<div class="noti_date">{{activity.ActivityDate}}</div>
					<div class="noti_{{activity.classType}}"></div>
					<div class="noti_des">{{activity.Text}}</div>
				</li>
			</ul>
		</div>
	</div>
</div>