gpheader, gpmenu{display:none;}

#wrapper{
	padding:0;
}

#wrapper_client {
    margin: 0;
    max-width: 210mm;
    padding: 10px;
}

h1.page_title{margin-top:0;}

div.account_synthesis{float:none;width: 100%;}
div.account_synthesis .form-group{display:none;}

.account_perf_pos{margin-left:0;}

div#histo_container{padding-left:0;}

.progress-bar{padding-left:5px;text-align:left;}

table#accounts_table.respond_table td:last-child, table.respond_table th:last-child{display:none;}