#account_top_left{float:left;width:80%;}
#account_top_right{float:right;padding-top:38px;text-align:right;width:20%;}
#account_top_right button.export-pdf{background:url("../images/pdf.png") no-repeat right center;border:none;line-height:16px;padding-right:40px;text-align:right;}
#waiting_popin .modal-content{background:#fff url("../images/loading.gif") no-repeat center 90px;border-radius:0;padding:15px 40px 60px;text-align:center;}
p#disclaimer{font-size:14px;line-height:20px;margin-top:50px;}

#funds_iframe{padding-left:220px;}
#wrapper_client.full.max #funds_iframe{padding-left:0;}
#loading_page{background:#fff;height:100%;position:fixed;top:0;width:100%;z-index:1000;}

#waiting_message{background:#4f81b6;margin:0 300px;padding:10px;position:relative;text-align:center;top:150px;}
#waiting_message p{background:url("../images/warning.png") no-repeat;color:#fff;display:inline-block;font-size:14px;line-height:1.2;margin:0;min-height:22px;padding-left:37px;}

/*************************************************************
 *                                                           *
 *                          Header                           *
 *                                                           *
 *************************************************************/

.navbar-header{float:none;left:10px;position:absolute;}
a.navbar-brand{cursor:pointer;}
header #menu_container{position:relative;text-align:center;}
div#header_partner{display:inline-block;margin-top:5px;}
div#header_partner img#logo_cgp{max-height:50px;}
div#header_links{float:right;position:relative;right:-15px;}
div#header_links a{background-color:#4f81b6;background-image:url('../images/notifications.png');background-repeat:no-repeat;background-position:center center;color:#fff;cursor:pointer;display:block;font-size:14px;height:60px;line-height:53px;text-align:center;text-decoration:none;text-transform:uppercase;width:60px;}
div#header_links a.unread{background-color:#d55300;}
div#header_links #noti_count{background:#d55300;color:#fff;font-size:12px;left:-10px;line-height:1;padding:4px 6px;position:absolute;top:10px;}

div#header_manager{cursor:pointer;float:none;padding:11px 45px 0 15px;position:absolute;right:0px;top:0;}
div#header_manager.open, div#header_manager:hover{background:#000;}
div#header_manager strong{color:#4e81b6;}
div#header_manager #header_manager_arrow{background:url("../images/menu.png") no-repeat center center;height:36px;position:absolute;right:8px;top:14px;width:27px;}
div#header_manager.open #header_manager_arrow{background-position:0 0;}
div#header_manager #header_manager_menu{background:#000;display:none;padding:12px 12px 0;position:absolute;right:0;text-align:left;top:60px;width:100%;z-index:100;}
div#header_manager #header_manager_menu li{list-style:none;padding:10px 0;}
div#header_manager #header_manager_menu li a{text-decoration:none;}

a.disconnect_link{cursor:pointer;}

/*************************************************************
 *                                                           *
 *                      Sidebar                              *
 *                                                           *
 *************************************************************/

#sidebar_client{background:#eee;float:left;height:100%;min-height:100% !important;padding-bottom:22px;position:fixed;width:220px;z-index:200;}
#sidebar_client_container{height:100%;min-height:100% !important;overflow:auto;}
#close_sidebar_block{display:none;}
#sidebar_client header{width:220px;}
#sidebar_client li{font-size:14px;height:49px;padding:8px 0;list-style:none;margin-bottom:5px;position:relative;}
#sidebar_client_container > ul > li{border-left:6px solid #eee;}
#sidebar_client_container > ul > li.selected{border-left:6px solid #ddd;background:#ddd;}
#sidebar_client_container li a{cursor:pointer;}
#sidebar_client_container li.selected a{font-weight:700;}
#sidebar_client_container li#menu_profil.selected{height:auto;}
#sidebar_client_container > ul > li:hover{background-color:#e9e9e9 !important;border-left:6px solid #e9e9e9;}
#sidebar_client_container > ul > li.selected:hover{border-left:6px solid #e9e9e9;}
#sidebar_client_container > ul > li#menu_profil.selected:hover{background-color:#f2f2f2 !important;}
#sidebar_client_container #sidebar_account_list li{margin-bottom:0;padding-bottom:10px;}
#sidebar_client_container li a{color:#4F81B6;display:inline-block;height:35px;line-height:32px;overflow:hidden;padding-left:44px;position:relative;text-decoration:none;width:214px;}
#sidebar_client li#menu_global a{background:url('../images/menu_left.png') no-repeat 5px 0px;}
#sidebar_client li#menu_documents a{background:url('../images/menu_left.png') no-repeat 5px -35px;}
#sidebar_client li#menu_profil > a{background:url('../images/menu_left.png') no-repeat 5px -70px;}
#sidebar_client li#menu_funds a{background:url('../images/menu_left.png') no-repeat 5px -105px;}
#sidebar_client li ul{display:none;}
#sidebar_client li.selected ul{display:block;}
#sidebar_client li.selected li a{font-weight:normal;}
#sidebar_client li.selected li.selected a{font-weight:700;}
#sidebar_client li ul li{font-size:13px;font-weight:lighter;height:30px;line-height:21px;margin:0;padding:0 0 5px 10px;}
#sidebar_client li ul{padding-bottom:1px;}
#sidebar_client ul#sidebar_account_list{border-bottom:1px solid #e9e9e9;margin:0 0 15px;padding:80px 0 5px;}
#sidebar_client li ul li:hover{background-color:#e9e9e9 !important;}
#sidebar_client li ul li:hover a{border-left:2px solid #e9e9e9;}
#sidebar_client ul#sidebar_account_list a{line-height:15px;overflow:initial;}
#sidebar_client ul#sidebar_account_list a > span{display:block;height:17px;overflow:hidden;}
#sidebar_client ul#sidebar_account_list a div{color:#1468b1;}
#sidebar_client ul#sidebar_account_list li{height:50px;padding:8px 0;}
#sidebar_client ul#sidebar_account_list li.selected, #sidebar_client ul#sidebar_account_list li.selected:hover{background:#d4d4d4 !important;border-left:6px solid #d4d4d4 !important;height:60px;margin-bottom:-10px;padding:15px 0;position:relative;top:-20px;}
#sidebar_client ul#sidebar_account_list li.selected a span, #sidebar_client ul#sidebar_account_list li.selected a div{color:#000;}
#sidebar_client ul#sidebar_account_list li.selected a div{display:none;}
#sidebar_client ul#sidebar_account_list li.selected a div.menu_account_icon{display:block;top:10px;}
#sidebar_client ul#sidebar_account_list li.selected a span{position:relative;top:10px;}
#sidebar_client ul#sidebar_account_list li a span span{display:none;}
#sidebar_client ul#sidebar_account_list li.selected a{background-position:0px center;}
div.menu_account_icon{background:#fff;border:1px solid #d95802;color:#d95802 !important;font-size:9px;font-weight:700;height:15px;left:0;line-height:13px;position:absolute;text-align:center;text-transform:uppercase;top:3px;width:35px;}
td a div.menu_account_icon{top:0;}
div.menu_account_inactive_text{color:#aaa !important;font-size:9px;font-weight:700;left:0;position:absolute;text-align:center;top:20px;width:35px;}
li.inactive div.menu_account_icon, div.desktop_account.inactive div.menu_account_icon{border:1px solid #aaa;color:#aaa !important;}
li.selected div.menu_account_inactive_text{display:block !important;color:#f7f7f7 !important;top:25px;}

/*************************************************************
 *                                                           *
 *                      Activités                            *
 *                                                           *
 *************************************************************/

#activity_block_container{height:100%;min-height:100% !important;position:fixed;right:-50px;width:0;z-index:500;}
#activity_block{background:#fff;height:100%;min-height:100% !important;overflow:auto;position:fixed;right:0;width:0;z-index:500;}
#activity_block header{background:#4F81B6;color:#fff;height:60px;line-height:60px;padding:0 12px;position:relative;text-align:right;text-transform:uppercase;}
#activity_block header a{color:#fff;cursor:pointer;float:left;font-size:16px;font-weight:700;text-decoration:none;}
#activity_block h2{border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9;color:#c4c4c4;font-size:12px;line-height:39px;margin:0;padding-top:20px;padding-left:5px;text-transform:uppercase;}
#activity_block ul{margin-bottom:0;}
#activity_block li{border-bottom:1px solid #d4d4d4;border-left:1px solid #d4d4d4;color:#000;font-size:13px;list-style:none;min-height:60px;padding:10px 5px;position:relative;}
div.noti_mail,div.noti_default,div.noti_achat,div.noti_vente,div.noti_depot,div.noti_clock,div.noti_retrait,div.noti_hour,div.noti_plan,div.noti_calendar{background-image:url('../images/notifications_icons.png');background-repeat:no-repeat;height:23px;left:13px;position:absolute;top:29px;width:23px;}
div.noti_achat{background-position:0 0px;}
div.noti_vente{background-position:0 -23px;}
div.noti_depot{background-position:0 -46px;}
div.noti_retrait{background-position:0 -69px;}
div.noti_calendar{background-position:0 -92px;}
div.noti_clock{background-position:0 -115px;}
div.noti_hour{background-position:0 -138px;}
div.noti_mail{background-position:0 -161px;}
div.noti_plan{background-position:0 -184px;}
div.noti_date{color:#d4d4d4;display:inline-block;font-size:12px;left:5px;position:absolute;top:11px;width:40px;}
div.noti_des{display:inline-block;min-height:22px;padding-left:45px;}
div.noti_new{border:4px solid #1768aa;border-radius:100%;display:none;height:1px;left:20px;position:absolute;top:50px;width:1px;}

/*************************************************************
 *                                                           *
 *                    Header compte                          *
 *                                                           *
 *************************************************************/

#account_breadcrump{top:60px;z-index:100;}
#account_breadcrump #breadcrump-nav{background-color:#d4d4d4;height:60px;line-height:60px;z-index:49;}
#account_breadcrump #breadcrump-nav .container{margin:0;padding-left:250px;width:100%;}
#breadcrump-nav ul li{color:#4F81B6;cursor:pointer;display:inline-block;font-size:14px;font-weight:700;list-style:outside none none;padding:2px 10px 0;text-transform:uppercase;z-index:49;}
#breadcrump-nav-selection{background:url("../images/breadcrump_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);bottom:-32px;height:14px;position:absolute;width:24px;}
.breadcrump_target{position:relative;top:-100px;}
div.account_title{display:inline-block;left:-17px;line-height:24px;margin-left:25px;padding-top:17px;position:relative;text-align:left;}
div.account_title.PROCAPITAL{background:url('../images/ico_vie_procapital.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.LA.MONDIALE.PARTENAIRE{background:url('../images/ico_vie_ag2r.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.BALOISE{background:url('../images/ico_vie_baloise.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.AXA{background:url('../images/ico_vie_axa.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.NEUFLIZE,
div.account_title.NEUFLIZE.VIE,
div.account_title.TRIPTIS.PATRIMOINE{background:url('../images/ico_vie_neuflize.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.SWISSLIFE{background:url('../images/ico_vie_swisslife.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title.CA.TITRES{background:url('../images/ico_ca.png') no-repeat 0px 15px;padding-left:55px;}
div.account_title span{color:#d4d4d4;}

/*************************************************************
 *                                                           *
 *                       Graphique                           *
 *                                                           *
 *************************************************************/

div#histo_container{position:relative;top:-1px;padding-left:10px}
div#histo_positions{height:500px;width:100%;}
div#histo_positions a{display:none !important;}
div#histo_positions.loading{background:rgba(245, 243, 244, 0.8) url('../images/loading.gif') no-repeat center center;}
.amChartsCompareList > div{height:24px !important;}

@media screen and (max-width:760px){div#histo_positions{height:400px;}}
@media screen and (max-width:420px){div#histo_positions{height:300px;}}
@media screen and (min-width:1100px){
	div.account_synthesis{float:left;width:320px;}
	div.account_synthesis + div{margin-left:320px;overflow:hidden;}	
	div.histo_container{min-height:100%;position:relative;}	
	div.histo_container:after{background-color:inherit;bottom:0;content:"";height:auto;min-height:100%;left:0;margin:inherit;right:0;position:absolute;top:0;width:inherit;z-index:-1;}
}

/*************************************************************
 *                                                           *
 *                          Gérant                           *
 *                                                           *
 *************************************************************/
 
#footer_left{background:#4f81b6;bottom:0;height:57px;left:0;padding:4px 2px;position:absolute;width:220px;}
#manager_link{color:#fff;cursor:pointer;line-height:50px;text-align:center;text-decoration:underline;text-transform:uppercase;}
#manager_popin .modal-content{background:#ebebeb;border-radius:0;color:#000;font-size:18px;padding:10px;}
#manager_popin .manager_img_container{background:url('../images/footer_logo.jpg') no-repeat;float:left;height:76px;margin-right:5px;margin-top:5px;width:76px;}
#manager_popin .manager_img_container img{height:76px;width:76px;}
#manager_popin .manager_infos{color:#000;font-size:16px;font-weight:lighter;float:left;margin-top:5px;}
#manager_popin .manager_infos strong{display:block;height:15px;line-height:12px;overflow:hidden;}
#manager_popin .manager_infos img{text-decoration:none;}
#manager_popin .phone_img{height:19px;position:relative;top:5px;}
#manager_popin .email_img{margin-left:10px;position:relative;top:4px;}
#manager_popin .manager_infos span{color:#4f81b6;font-weight:bold;position:relative;top:7px;}
#manager_popin .manager_infos a{color:#000;}
#manager_popin .close_manager{color:#000;cursor:pointer;font-weight:lighter;padding:0 5px;position:absolute;right:0;top:0;}

#contact_cgp .media > img{width:140px;}
#contact_cgp .media-body{color:#00295d;}
#contact_cgp .media-body strong{font-size:26px;font-weight:normal;line-height:45px;}
#contact_cgp .media-body em{font-size:20px;font-weight:lighter;}

/*************************************************************
 *                                                           *
 *                       Signature                           *
 *                                                           *
 *************************************************************/

#signature_popin .modal-content{border-radius:0;}
#signature_popin .modal-content h2{color:#1268b3;font-family:"Lato";font-size:30px;font-weight:lighter;text-align:center;}
#signature_popin .modal-content p{font-size:14px;line-height:20px;padding:10px 20px;}
#signature_popin .modal-content p#sinature_buttons{text-align:center;}
#signature_popin .modal-content p a{text-decoration:underline;}
#signature_popin .modal-content p#sinature_buttons a{background-color:#fff;border:1px solid #4f81b6;color: #4f81b6;cursor:pointer;display:inline-block;font-size:16px;font-weight:lighter;line-height:30px;margin:0 10px;padding:0 20px;text-decoration:none;text-transform:uppercase;}
#signature_popin .modal-content p#sinature_buttons a#accept_signature{background-color:#4f81b6;color:#fff;}

/*************************************************************
 *                                                           *
 *                   Comptes (Synthèse)                      *
 *                                                           *
 *************************************************************/

div.desktop_account{border:1px solid #d4d4d4;display:inline-block;height:172px;margin:10px;position:relative;width:300px;}
div.desktop_account.global{margin:0; border-color:#333;}
div.desktop_account.last{margin-right:0;}
div.desktop_account div.account_show{color:#4f81b6;cursor:pointer;font-size:11px;height:33px;line-height:36px;position:absolute;right:8px;text-align:center;top:-1px;z-index:2;}
div.desktop_account h2{background-position:7px 3px;background-repeat:no-repeat;font-size:14px;font-weight:normal;line-height:32px;margin:0;position:relative;text-align:left;text-transform:uppercase;}
div.desktop_account h2 span{color:#b9b9b9;}
div.desktop_account h2 div{left:8px;position:absolute;top:20px;}
div.desktop_account h2 div.menu_account_icon{left:7px;top:10px;}
div.desktop_account h2 a{background-position:7px 2px;background-repeat:no-repeat;color:#4F81B6;padding-left:50px;}
div.desktop_account.inactive h2 a{color:#d5d5d5;}
div.desktop_account div.account_total{color:#000;font-size:30px;margin:10px 0 5px;text-align:center;}
div.desktop_account.inactive div.account_total{color:#d5d5d5;}
div.account_variation{color:#008000;font-size:23px;line-height:26px;text-align:center;}
div.account_variation.negative{color:#444444 ;}
div.desktop_account.inactive div.account_variation, div.desktop_account.inactive div.account_variation.negative{color:#d4d4d4;}
div.account_variation span.percent{background:#008000;color:#fff;display:inline-block;font-size:16px;left:5px;line-height:30px;padding:0 10px;position:relative;top:-2px;}
div.account_variation.negative span.percent{background:#444444 ;}
div.desktop_account.inactive div.account_variation span.percent, div.desktop_account.inactive div.account_variation.negative span.percent{background-color:#d4d4d4;}
div.desktop_account div.account_stats{background:#f7f7f7;border-top:1px solid #d4d4d4;bottom:0;height:42px;position:absolute;width:100%;}
div.desktop_account.global div.account_stats{border-color:#333;}
div.desktop_account div.account_stats div{display:inline-block;font-size:12px;margin:7px 0 6px;text-align:center;width:94px;}
div.desktop_account.inactive div.account_stats div{color:#d4d4d4;}
div.desktop_account div.account_stats div.middle{border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;width:103px;}
div.desktop_account.global div.account_stats div.middle{border-color:#333;}
div.desktop_account div.account_stats div h3{color:#d4d4d4;font-size:12px;margin:0;text-transform:uppercase;}
span#synthesis_equal, span.synthesis_plus{color:#000;font-size:50px;font-weight:lighter;}
span.synthesis_plus{margin-right:20px;position:relative;top:-10px;}

div.synthesis_message{background:#4f81b6;padding:10px;text-align:center;}
div.synthesis_message p{background:url("../images/warning.png") no-repeat;color:#fff;display:inline-block;font-size:14px;line-height:1.2;margin:0;min-height:22px;padding-left:37px;}

/*************************************************************
 *                                                           *
 *                Comptes (Synthèse Table)                   *
 *                                                           *
 *************************************************************/
 
a.account_title_link{position:relative;padding-left:45px;}
tr.inactive a.account_title_link{color:#d5d5d5;}
tr.inactive div.menu_account_icon{color:#d5d5d5 !important;border-color:#d5d5d5;}

/*************************************************************
 *                                                           *
 *                Comptes (Répartitions)                     *
 *                                                           *
 *************************************************************/

.repartition table.progress_line{margin-bottom:20px;}
.repartition table.progress_line td:nth-child(2){padding-right:50px;}
.repartition .progress_label{width:150px;}
.repartition .progress_value{font-size:12px;line-height:19px;padding-left:5px;}
.repartition .progress-bar{background:#4f81b6;border-radius:0px;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;height:20px;position:relative;width:100%;}
.repartition .progress-bar.Dynamique{background:#005690;}
.repartition .progress-bar.Diversifié{background:#4f81b6;}
.repartition .progress-bar.Prudent{background:#beddf2;}
.repartition .progress-bar.Autres{background:#909090;}
.repartition .progress-bar.Solde.espèce{background:#bbbdbe;}
.repartition .progress-bar div{color:#000;position:absolute;right:-50px;}

/*************************************************************
 *                                                           *
 *                    Blocs chiffres                         *
 *                                                           *
 *************************************************************/

div.account_block_number{border-left:0px solid #dad8d9;color:#000;display:inline-block;font-size:24px;line-height:25px;margin-bottom:20px;padding:0 25px;text-align:center;width:19.8%;}
div.row.synthesis_row{text-align:center;}
div.row.four div.account_block_number{width:24.8%;}
div.row.third div.account_block_number{width:33%;}
div.row.two div.account_block_number{width:49.8%;}
div.account_block_number.first{border:none;}
div.account_block_number.green{color:#008000;}
div.account_block_number.red{color:#000;}

div.account_block_number > span.number_label, div.account_perf_pos > span.number_label{color:#d4d4d4;font-size:14px;}
div.account_perf_pos > span.number_label{position:relative;top:5px;}
div.account_block_number > span.number_label a.tooltip_bottom, div.desktop_account a.tooltip_bottom, div.account_perf_pos a.tooltip_bottom{background:#fff;border:1px solid #d4d4d4;border-radius:15px;color:#dad8d9;cursor:help;display:inline-block;font-size:13px;height:18px;line-height:17px;margin-left:10px;text-align:center;text-decoration:none;width:18px;}
.account_synthesis > div.account_block_number{border:1px solid #d4d4d4;float:left;font-size:22px;height:86px;margin:10px;padding:14px 0 0;width:140px;}

.account_perf_pos{border:1px solid #d4d4d4;float:left;height:192px;margin:10px;padding:25px 0 20px;text-align:center;width:300px;}
.account_perf_pos .account_pos{font-size:40px;width:100%;}
.account_perf_pos div.account_variation{font-size:30px;}
.account_perf_pos div.account_variation span.percent{font-size:24px; line-height:37px;}
.account_perf_pos .account_perf{font-size:32px;width:49%;}
.account_perf_pos .account_perf.left{padding-right:0;text-align:left;}
.account_perf_pos .account_perf.right{padding-left:0;text-align:right;}

/*************************************************************
 *                                                           *
 *                       Tableaux                            *
 *                                                           *
 *************************************************************/

h2.table_title{border-bottom:1px solid #000;color:#000;font-size:24px;font-weight:lighter;line-height:50px;position:relative;}
h2.table_title button.export-csv{background:#fff url("../images/excel.png") no-repeat scroll right center / 20px 20px;border:none;float:right;font-size:16px;padding-right:30px;}

table.respond_table{border:none;width:100%;}
table.respond_table th{border-bottom:1px solid #eee;color:#002d5b;cursor:pointer;font-size:13px;font-weight:normal;height:34px;padding-left:5px;padding-right:30px;position:relative;text-align:right;vertical-align:top;}
table.respond_table th div{background-image:url('../images/sort_icons.png');background-position:-15px 0px;background-repeat:no-repeat;height:11px;position:absolute;right:5px;top:6px;width:15px;}
table.respond_table th.selected div{background-position:0 -11px;}
table.respond_table th.desc.selected div{background-position:0 0;}
table.respond_table th span{white-space:nowrap;}
table.respond_table td{border-bottom:1px solid #eee;border-right:1px solid #eee;color:#000;font-size:13px;padding:8px 25px 8px 5px;text-align:right;}
table.respond_table#performances th{padding:0 5px;text-align:center;}
table.respond_table#performances td{padding:8px 5px;text-align:center;}
table.respond_table tr.inactive td{color:#d5d5d5;}
table.respond_table th:first-child, table.respond_table td:first-child{text-align:left;}
table.respond_table td:first-child{border-left:1px solid #eee; text-transform:uppercase;}
table.respond_table#accounts_table td:first-child{padding-left:15px;}
table.respond_table#accounts_table td:last-child{padding:8px 5px;text-align:center;}
table.respond_table tr:nth-child(2n){background-color:#f7f7f7;}
table.respond_table td span.positive{color:#3fa93a;font-weight:700;}
table.respond_table td span.negative{color:#444444;font-weight:700;}
table.respond_table#accounts_table div.percent{color:#aaa; display:inline-block;padding-left:10px;}
table.respond_table#accounts_table div.positive, table.respond_table#performances div.positive{color:#008000;font-weight:700;}
table.respond_table#accounts_table div.negative, table.respond_table#performances div.negative{color:#444444 ;font-weight:700;}
table.respond_table tr.inactive td span.positive,table.respond_table tr.inactive td span.negative,table.respond_table#accounts_table tr.inactive td div.positive, table.respond_table#accounts_table tr.inactive td div.negative{color:#d5d5d5;}
table.respond_table#accounts_table div.btn{margin-bottom:0;padding:0 20px;line-height:24px;font-size:12px;}
div#account_list_normal{display:block;}
div#account_list_mobile{display:none;}

table#positions td:first-child, table#pmvalues td:first-child{text-transform:none;}
table#mouvements td:nth-child(2), table#mouvements th:nth-child(2), table#pmvalues th:nth-child(2){text-align:left;}
table#mouvements td:nth-child(4), table#mouvements th:nth-child(4){text-align:left;}
table#mouvements td:nth-child(4){text-transform:none;}
table#mouvements tr,
table#mouvements_mobile tr{display:none;}
table#mouvements tr.mouv_block_1, table#mouvements thead tr,
table#mouvements_mobile tr.mouv_block_1, table#mouvements_mobile thead tr{display:table-row;}

a.mouv_load_more{background:url('../images/btn_load_more.png') no-repeat;cursor:pointer;display:block;height:21px;line-height:21px;padding-left:25px;text-decoration:none;}
a.print_page{background:url('../images/btn_print.png') no-repeat right center;cursor:pointer;display:none;height:21px;line-height:21px;padding-right:25px;text-decoration:none;}

table#positions tr td.positive, table#pmvalues tr td.positive{color:#008000;font-weight:700;}
table#positions tr td.negative, table#pmvalues tr td.negative{color:#8B0000;font-weight:700;}

table#pmvalues tr td:nth-child(1){width:150px;}
table#pmvalues tr td:nth-child(2){text-align:left;}
table#pmvalues tr td:nth-child(3){width:200px;}

table#positions tr.total td,
table#pmvalues tr.total td,
table#positions tr.solde td,
table#positions tr.solde_total td{background:#d4d4d4;border:1px solid #d4d4d4;}
table#positions tr.total td:first-child, table#positions tr.solde_total td:first-child, table#pmvalues tr.total td:first-child{background:#002D5B;color:#fff;font-weight:700;}
table#positions tr.limitator td{background:#fff;border:none;height:35px;}
table#positions tr.solde td{background:#f9f9f9;border:1px solid #f9f9f9;border-bottom:1px solid #fff;color:#000;}

#mouvements_mobile{display:none;}
@media screen and (max-width:1300px) {.prior_6{display:none;}}
@media screen and (max-width:1200px) {.prior_5{display:none;}}
@media screen and (max-width:1100px) {.prior_4{display:none;}}
@media screen and (max-width:1000px) {.prior_3{display:none;}}
@media screen and (max-width:900px) {.prior_2{display:none;}}

table th{position:relative;}
table th .array_sort{position:absolute;right:5px;top:-4px;}
table th .array_sort .array_sort_desc{background:url('../images/arrow_up.png') no-repeat;cursor:pointer;display:block;height:16px;width:16px;}
table th .array_sort .array_sort_asc{background:url('../images/arrow_down.png') no-repeat;cursor:pointer;display:block;height:16px;position:relative;top:-5px;width:16px;}

table a{cursor:pointer;}

/*************************************************************
 *                                                           *
 *                       Filtres                             *
 *                                                           *
 *************************************************************/

/*.filter_0, .filter_1, .filter_2, .filter_3, div.account_block_number.filter_0, div.account_block_number.filter_1, div.account_block_number.filter_2, div.account_block_number.filter_3{display:none;}*/
#graph_options .segmented-control.full_size{margin-left:10px;width:300px;}
#graph_options .segmented-control > input[checked="checked"]:nth-child(1) ~ label:nth-of-type(1)::after,
#graph_options .segmented-control > input[checked="checked"]:nth-child(1) ~ label:nth-of-type(1)::before{opacity:1;}

#graph_options .segmented-control > input[checked="checked"]:nth-child(2) ~ label:nth-of-type(2)::after,
#graph_options .segmented-control > input[checked="checked"]:nth-child(2) ~ label:nth-of-type(2)::before{opacity:1;left:33.33%;}

#graph_options .segmented-control > input[checked="checked"]:nth-child(3) ~ label:nth-of-type(3)::after,
#graph_options .segmented-control > input[checked="checked"]:nth-child(3) ~ label:nth-of-type(3)::before{opacity:1;left:66.66%;}

/*************************************************************
 *                                                           *
 *                      Formulaires                          *
 *                                                           *
 *************************************************************/
 
form.step_form fieldset{background:#edebec none repeat scroll 0 0;border:1px solid #e3e3e3;border-radius:5px;margin:0 auto 15px;padding:9px 0;width:600px;}
form.step_form fieldset.valide{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;padding:14px;text-align:center;width:100%;}
form.step_form fieldset .form-group{margin-bottom:0;padding:5px 14px;position:relative;}
form.step_form fieldset .form-control{height:40px;padding:6px 12px 6px 30px;width:95%;}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
form.step_form fieldset select.form-control{line-height:33px;text-indent:30px;}
}
form.step_form fieldset .form-control.required{background:#fff url("../images/required.png") no-repeat scroll 10px center;}
.form-group .error_icon, div.col-md-3 .error_icon, div.col-md-4 .error_icon, div.col-md-6 .error_icon, div.col-md-8 .error_icon{background-position:center center;bottom:14px;display:none;height:20px;position:absolute;right:10px;width:20px;}
form.step_form fieldset.valide input[type="submit"], a#add_account, a#change_cni, a#change_visa, a#accept_mandat, a#decline_mandat{background-color:#fff;background-position:0 -3px;background-repeat:no-repeat;border:1px solid #db8246;border-radius:0;color:#1268b3;cursor:pointer;font-size:15px;font-weight:lighter;line-height:50px;margin-bottom:10px;padding:0 20px;position:relative;text-align:right;text-transform:uppercase;z-index:10;}
form.step_form fieldset.valide input[type="submit"][disabled="disabled"], a#decline_mandat{border-color:#d2cecf;color:#d2cecf;}
.ui-slider .ui-slider-range{background:#4f81b6;}
label.sub_label{color:#4f81b6;font-size:12px;font-weight:normal;}
.form-group .error_icon, div.col-md-3 .error_icon, div.col-md-4 .error_icon, div.col-md-6 .error_icon, div.col-md-8 .error_icon {background-position:center center;bottom:14px;display:none;height:20px;position:absolute;right:10px;width:20px;}
.form-group.valid .error_icon, div.col-md-3.valid .error_icon, div.col-md-4.valid .error_icon, div.col-md-6.valid .error_icon, div.col-md-8.valid .error_icon{background-image: url("../images/accept.png");display:block;}
.form-group.error .error_icon, div.col-md-3.error .error_icon, div.col-md-4.error .error_icon, div.col-md-6.error .error_icon, div.col-md-8.error .error_icon{background-image:url('../images/delete2.png');display:block;}
.input-group{width:95%;}
form.step_form fieldset .input-group .form-control{width:100%;}
.alert-danger{background:#8b0000;border:none;color:#fff;margin:0 auto;width:600px;}
.alert-success{background:#008000;border:none;color:#fff;margin:0 auto;width:600px;}
.select_group{position:relative;}
div.select_required{background:url("../images/required.png") no-repeat center center;height:15px;left:11px;position:absolute;top:13px;width:15px;}
form.step_form fieldset#last_date_update{background:none;border:none;font-size:12px;margin:0 auto;text-align:right;}
form.step_form fieldset.valide input[type="submit"]:hover{background:#1268b3;border:1px solid #1268b3;color:#fff;}
form.step_form fieldset.valide input[type="submit"].waiting{background:#1268b3;border:1px solid #1268b3;color:#fff;cursor:wait;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color: #eee !important;}

/*************************************************************
 *                                                           *
 *                          Club                             *
 *                                                           *
 *************************************************************/

#manager_home_menu{border-bottom:1px solid #ebebeb;line-height:40px;width:100%;}
#manager_home_menu div{margin:0 auto;width:265px;}
#manager_home_menu div a{bottom:-4px;color:#b8b8b8;cursor:pointer;display:inline-block;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;width:130px;}
#manager_home_menu div a.selected{border-bottom:4px solid #5381b3;color:#5381b3;}

.search_button{width:300px;}
.search_button form{padding:0;}
.search_button .input-group span{background-image:url('../images/btn_search.png');background-position:center center;background-repeat:no-repeat;cursor:pointer;width:40px;}
.search_button .input-group input{border:1px solid #ccc;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;color:#555;display:table-cell;float:left;font-size:14px;height:40px;line-height:1.42857;margin-bottom:0;padding:6px 12px 6px 30px;position:relative;transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width:100%;z-index:2;}

#manager_synthesis{border:none;margin-top:17px;width:100%;}
#manager_synthesis th{background:#4f81b6;border-bottom:1px solid #eee;color:#fff;font-size:13px;font-weight:bold;height:34px;padding:0px;text-align:center;vertical-align:middle;}
#manager_synthesis th:first-child{background:none;}
#manager_synthesis td{border-bottom:1px solid #eee;border-right:1px solid #eee;color:#000;font-size:13px;padding:8px 25px 8px 5px;position:relative;text-align:right;}
#manager_synthesis .see_plus{background:url('../images/btn_plus.png') no-repeat;cursor:pointer;height:22px;position:absolute;right:10px;top:5px;width:22px;}
#manager_synthesis .see_plus#retrocession_link{background:url("../images/menu_left.png") no-repeat 0 -27px / 22px auto;cursor:pointer;height:22px;position:absolute;right:10px;top:5px;width:22px;}
#manager_synthesis .see_plus.menos{background-position:0 -22px;}
#manager_synthesis th:first-child, #manager_synthesis td:first-child{text-align:left;}
#manager_synthesis td{width:150px;}
#manager_synthesis td:first-child{border-left:1px solid #eee;width:320px;}
#manager_synthesis tbody:nth-child(7) tr:first-child td{border-top:2px solid #eee;}
#manager_synthesis tbody.synthesis_details{display:none;}
#manager_synthesis tbody.synthesis_details td{background:#eee;}
#manager_synthesis tbody.synthesis_details td.rowname{padding-left:30px;}
#manager_synthesis tbody.synthesis_details.level_2 td.rowname{padding-left:60px;}
#manager_synthesis tbody.synthesis_details div.sub_cell_bar{background:#ababab;display:none;height:100%;min-width:5%;position:absolute;right:0;top:0;}
#manager_synthesis tbody.synthesis_details div.sub_cell_amount{padding:8px 25px 8px 5px;position:absolute;right:0;top:0;}

#repartition_bar{background:#ababab;height:63px;position:relative;width:100%;}
#repartition_bar #repartition_ae, #repartition_bar #repartition_dt, #repartition_bar #repartition_li{height:100%;position:absolute;top:0;}
#repartition_bar #repartition_ae{background:#000;}
#repartition_bar #repartition_dt{background:#012d5c;}
#repartition_bar #repartition_li{background:#4f81b6;}

#repartition_legend li{font-size:16px;list-style:none;margin:0;}
#repartition_legend li span{font-size:18px;font-weight:bold;}
#repartition_legend li:nth-child(1){color:#000;}
#repartition_legend li:nth-child(2){color:#012d5c;}
#repartition_legend li:nth-child(3){color:#4f81b6;}
#repartition_legend li:nth-child(4){color:#ababab;}

#encours_repartition_graph{width:100%;height:400px;}
#encours_repartition_graph a[title="JavaScript charts"]{display:none !important;}

#club_return{background:#4f81b6;height:47px;width:100%;}
body.club #account_breadcrump{top:107px;}
body.club #wrapper_client{padding:87px 40px 80px 260px;}
body.club #sidebar_client ul#sidebar_account_list{padding:127px 0 5px;}

div#club_return a#club_back{background:#4f81b6 url('../images/clubback.png') no-repeat left center;color:#fff;cursor:pointer;display:block;font-weight:bold;height:47px;line-height:46px;padding-left:50px;position:absolute;text-decoration:none;width:220px;}
div#club_return p{color:#fff;height:47px;line-height:46px;padding-left:0px;text-align:center;width:100%;}
div#club_return p span.uppercase{text-transform:uppercase;}

div.club_documents_container{padding:0 15px;}

#client_list_table_content{height:50vh;overflow:auto;}

table.respond_table .clientcol1{width:34%}
table.respond_table .clientcol2{width:14%}
table.respond_table .clientcol3{width:11%}
table.respond_table .clientcol4{width:9%}
table.respond_table .clientcol5{width:9%}
table.respond_table .clientcol6{width:9%}
table.respond_table .clientcol7{width:12%}

/*************************************************************
 *                                                           *
 *                       Tablette                            *
 *                                                           *
 *************************************************************/

@media screen and (max-width:1200px) {	
	p{font-size:16px;font-weight:lighter;}	
	.hidden-sm{display:none !important;}
	.visible-sm{display:block !important;}	
	h1.page_title{font-size:16px;line-height:34px;}	
	#wrapper .step_form{padding-left:230px;}	
	#wrapper .step_form fieldset{width:520px;}	
	div.account_block_number{font-size:20px;line-height:25px;padding:0 25px;width:22%;}	
	div.row.four div.account_block_number{width:24%;}
	div.account_block_number > span.number_label{font-size:14px;}	
	div.account_block_number > span.number_label a.tooltip_bottom{display:block;margin:0 auto;}	
	div#histo_container{top:0;}	
	#graph_options .segmented-control.full_size{margin-left:10px;width:100%;}	
}

/*************************************************************
 *                                                           *
 *                       Mobile                              *
 *                                                           *
 *************************************************************/

@media screen and (max-width:768px) {
	#funds_iframe{padding-left:0px;}
	div#account_list_normal{display:none;}
	div#account_list_mobile{display:block;}
	p{font-size:14px !important;line-height:21px !important;font-weight:lighter;margin-bottom:20px;text-align:left;}	
	#sidebar_client{display:none;}	
	div.navbar{padding-left:0;}	
	header div.navbar-header{float:left;}	
	body.cgp header div.navbar-header{padding-left:10px;}	
	#close_sidebar_block{display:block;color:#fff;cursor:pointer;float:left;font-size:16px;font-weight:700;position:absolute;right:5px;text-decoration:none;top:9px;}
	#wrapper_client{padding:40px 5px 80px 10px;}	
	#graph_options.account_synthesis{padding-left:5px;}	
	div#mandat_wrapper{width:100%;padding:50px 10px;}	
	div#mandat_wrapper img{width:100%;}	
	#mandat_wrapper h2{font-size:4vw;}	
	#mandat_wrapper p {font-size:3vw !important;line-height:2vh !important;}	
	form.step_form{padding:30px 10px 14px;}	
	div.navbar{height:50px;min-height:50px;}	
	header #menu_container.container{margin:0 auto;padding-left:60px;position:relative;min-width:320px;text-align:left;}	
	div#header_partner{margin-top:0;}
	#account_breadcrump{top:50px;}	
	div#header_profile {height:50px;padding-top:7px;}	
	div#header_manager {height:50px;padding:7px 52px 0 15px;right:0;}	
	div#header_manager #header_manager_arrow{top:13px;}
	div#header_manager #header_manager_menu{top:50px;}
	div#header_links a {height:50px;line-height:43px;width:50px;}	
	.navbar-toggle {background:none repeat scroll 0 0 #4f81b6;border:medium none;border-radius:0;float:left;height:50px;margin:0 10px 0 0;}	
	#wrapper{min-width:320px;padding:30px 0 0;}	
	.navbar > .container .navbar-brand{height:32px;margin-left:0;margin-right:0;margin-top:9px;overflow:hidden;padding:0;width:33px;}	
	.navbar > .container .navbar-brand img{height:32px;width:117px;}	
	#account_breadcrump #breadcrump-nav .container {margin:0;padding-left:5px;min-width:320px;}	
	#breadcrump-nav ul li {font-size:10px;padding:15px 3px 0;}	
	h1.page_title {font-size:14px;line-height:20px;}	
	.filter_gp .form-group{padding:0;}
	.synthesis_sentence{font-size:16px;}
	.synthesis_sentence strong{font-size:20px;}
	#synthesis_date{font-size:16px;}	
	#wrapper .step_form{padding-top:50px;padding-left:10px;}	
	#wrapper .step_form{padding:50px 0 30px;}	
	#wrapper .step_form fieldset{min-width:320px;width:100%;}	
	#breadcrump_account{left:24px;line-height:19px;padding-left:40px;padding-top:8px;position:absolute;}	
	#breadcrump_account span{color:#000;font-size:14px;font-weight:700;}	
	#breadcrump_account div{display:none;}	
	#breadcrump_account div.menu_account_icon{display:block;left:-4px;top:10px;}
	div#header_profile, div#header_profile a{font-size:12px;}	
	div#header_manager, div#header_manager a{font-size:12px;}	
	div.row div.account_block_number, div.row div.account_block_number.first{border-left:none;border-bottom:1px solid #dad8d9;display:block;font-size:20px;line-height:25px;margin:0;padding:10px 0;width:100%;}
	div.row.five div.account_block_number, div.row.four div.account_block_number, div.row.third div.account_block_number, div.row.two div.account_block_number{width:100%;}
	div.row div.account_block_number.first{border-bottom:1px solid #dad8d9;}
	div.account_block_number > span.number_label{font-size:14px;}	
	div.account_block_number > span.number_label a.tooltip_bottom{display:inline-block;margin:0 0 0 10px;}	
	div.row div.account_block_number > br{display:none;}	
	div.account_block_number > .number_label{margin-left:0px;}	
	#mouvements{display:none;}
	#mouvements_mobile{display:block;}
	#mouvements_mobile td span.date{color:#bbb;}
	table.respond_table#mouvements_mobile td{line-height:22px; font-size:12px;}	
	h2.table_title{font-size:18px;}	
	#account_perf_pos .account_perf{width:100%;}	
	#account_top_left{width:100%;}
	#account_top_right{text-align:center;width:100%;}	
	.account_perf_pos{margin:5px 0;width:290px;}	
	.account_synthesis > div.account_block_number{margin:5px 10px 5px 0;}	
	div#histo_container{padding-left:5px;padding-top:20px;}	
	div.desktop_account{margin:5px 0;}	
	#graph_options .segmented-control.full_size{margin-left:0px;width:100%;}
	
	#wrapper_client.full{padding:20px 0 80px;}
	#manager_home_menu div{width:100%;}
	#manager_home_menu div a{width:50%;float:left;}
	#manager_synthesis td{border-top:1px solid #eee;font-size:11px;}
	#manager_synthesis td.rowname.major{padding-right:32px;}
	
	#wrapper_client.full p#disclaimer{font-size:12px !important;padding:0 10px;}
	
	div#club_return a#club_back{background:#4f81b6 url('../images/clubback.png') no-repeat center center;padding-left:0px;width:42px;}
	div#club_return p{color:#fff;font-size:12px !important;height:47px;line-height:44px !important;padding-left:0px;text-align:right;width:100%;}
	div#club_return .navbar-toggle{background:#4f81b6 url('../images/menu.png') no-repeat center center;float:right;height:47px;margin:0 0 0 10px;}
	div#club_return .navbar-toggle .icon-bar{background:none;}
	
	body.club #wrapper_client{padding:87px 5px 80px 10px;}
	
	body.club #account_breadcrump{top:97px;}
	body.club #sidebar_client{width:100%;}
	
	#signature_popin .modal-content h2{font-size:18px;}
	#signature_popin .modal-content p#sinature_buttons a{display:block;margin-bottom:10px;}
	
	.account_block_versement > span{line-height:18px !important;display:block;}
	
	#clients_header > div{padding:0 25px;}
	.search_button, .search_button .input-group{width:100%}
	#clients_header #graph_options{margin-top:10px;}
	#graph_options .segmented-control.full_size{margin-left:0;}
}

/*************************************************************
 *                                                           *
 *                   Autres tailles                          *
 *                                                           *
 *************************************************************/

@media screen and (min-width:660px) {
	div.desktop_account {margin:10px;}
	#clients_header > div{padding:0 25px;}
	.search_button, .search_button .input-group{width:100%}
	#clients_header #graph_options{margin-top:10px;}
}

@media screen and (min-width:450px) {
	.account_perf_pos{margin-right:5px;}
}
