div.page-error {margin-top:100px;}
div.page-error p{text-align: center;}

/*************************************************************
 *                                                           *
 *                      Sidebar                              *
 *                                                           *
 *************************************************************/

#sidebar{background:#4F81B6;height:100%;left:0;min-height:100%;padding-top:40px;position:fixed;width:320px;z-index:99;}
#sidebar p#sidebar_pres{color:#fff;font-size:14px;height:110px;line-height:20px;margin:0;padding:20px;}
#sidebar ul#sidebar_steps li{color:#002D5B;font-size:16px;line-height:100px;padding-left:70px;position:relative;text-transform:uppercase;}
#sidebar ul#sidebar_steps li a{color:#003670; text-decoration:none;}
#sidebar ul#sidebar_steps li.selected{background-color:#fff;}
#sidebar ul#sidebar_steps li .sidebar_number{background:#fff;border:1px solid #fff;border-radius:50%;color:#4F81B6;font-weight:700;height:35px;left:15px;line-height:33px;position:absolute;text-align:center;top:32px;width:35px;}
#sidebar ul#sidebar_steps li.selected .sidebar_number{background:#4F81B6;border:1px solid #4F81B6;border-radius:50%;color:#fff;font-weight:700;height:35px;left:15px;line-height:33px;position:absolute;text-align:center;top:32px;width:35px;}
#sidebar ul#sidebar_steps li a{color:#fff; display:block;}
#sidebar ul#sidebar_steps li a .sidebar_number,
#sidebar ul#sidebar_steps li.selected a .sidebar_number{background:url('../images/validated.png') no-repeat center center;background-size:31px 31px;border:none;color:#fff;}
#sidebar ul#sidebar_steps li.selected.checked a{color:#4F81B6;}
#sidebar ul#sidebar_steps li.checked:hover{background:#002D5B;}
#sidebar ul#sidebar_steps li.selected .sidebar_number{background-color:#fff;background-repeat:no-repeat;background-size:100% auto !important;background-position:center center;border:none;border-radius:0;height:100%;left:10px;top:0 !important;width:50px;}
#sidebar ul#sidebar_steps li#sidebar_step_1.selected .sidebar_number{background-image:url('../images/step_1.png');}
#sidebar ul#sidebar_steps li#sidebar_step_2.selected .sidebar_number{background-image:url('../images/step_2.png');}
#sidebar ul#sidebar_steps li#sidebar_step_3.selected .sidebar_number{background-image:url('../images/step_3.png');}
#sidebar ul#sidebar_steps li#sidebar_step_4.selected .sidebar_number{background-image:url('../images/step_4.png');}
#sidebar ul#sidebar_steps li#sidebar_step_5.selected .sidebar_number{background-image:url('../images/step_5.png');}
#sidebar ul#sidebar_steps li#sidebar_step_6.selected .sidebar_number{background-image:url('../images/step_6.png');}
#sidebar ul#sidebar_steps li#sidebar_step_7.selected .sidebar_number{background-image:url('../images/step_7.png');}


.radio-inline{margin-left:20px; margin-top:-15px;}
.radio-inline label{font-weight:normal; padding-right:20px;}

img.toggle_required{position:relative;top:-15px;}
img.toggle_required.full{left:-7px;position:absolute;top:18px;}

#step_header{background:#fff;box-shadow:0 2px 20px 1px rgba(0, 0, 0, 0.2); 
	display:none;height:110px;padding-left:320px;position:fixed;width:100%;z-index:98;}

#step_header h1{float:left;line-height:110px;margin:0 0 0 20px;padding-left:75px;text-align:center;}
#step_header h1#page_title_step_1{background:url('../images/step_1.png') no-repeat left center;}
#step_header h1#page_title_step_2{background:url('../images/step_2.png') no-repeat left center;}
#step_header h1#page_title_step_3{background:url('../images/step_3.png') no-repeat left center;}
#step_header h1#page_title_step_4{background:url('../images/step_4.png') no-repeat left center;}
#step_header h1#page_title_step_5{background:url('../images/step_5.png') no-repeat left center;}
#step_header h1#page_title_step_6{background:url('../images/step_6.png') no-repeat left center;}
#step_header h1#page_title_step_7{background:url('../images/step_7.png') no-repeat left center;}

#step_header h1 span{color:#4F81B6;}

#step_header p{color:#878787;display:none;float:left;font-size:14px;line-height:20px;margin:0;padding:20px 60px 0 0;width:50%;}

form.step_form{background:url("../images/home_section_1.jpg") no-repeat fixed right bottom #F5F3F4;height:100%;min-height:100%;overflow:auto;padding:30px 10px 14px 330px;}
form.step_form.consultation{background:#fff;}

form.step_form fieldset{background:#EDEBEC;border:1px solid #e3e3e3;border-radius:5px;margin:0 auto 15px;padding:9px 0;width:600px;}

form.step_form fieldset.document_fieldset{text-align:center;}
form.step_form fieldset.document_fieldset.error {border:1px solid #FF0000;}

form.step_form fieldset.valide{background:none;border:none;padding:14px;text-align:center;width:100%;}

form.step_form fieldset.valide input[type=submit], a#add_account, a#change_cni, a#change_visa, a#accept_mandat, a#decline_mandat{background-color:#fff;background-position:0 -3px;background-repeat:no-repeat;border:1px solid #DB8246;border-radius:0;color:#1268b3;cursor:pointer;font-size:15px;font-weight:lighter;line-height:50px;margin-bottom:10px;padding:0 20px;position:relative;text-align:right;text-transform:uppercase;z-index:10;}
form.step_form fieldset.valide input[type=submit]:hover, a#add_account:hover, a#change_cni:hover, a#change_visa:hover, a#accept_mandat:hover, a#decline_mandat:hover{background-color:#1268b3;border:1px solid #1268b3;color:#fff;}
form.step_form fieldset.valide input[type=submit].loading {background:#1268b3 url('../images/design/loading-submit.gif') no-repeat 12px 18px;border:1px solid #1268b3;color:#fff;padding-left:40px;}
form.step_form fieldset.valide input[type=submit][disabled=disabled], a#decline_mandat{border-color:#d2cecf;color:#d2cecf;}
form.step_form fieldset.valide input[type=submit][disabled=disabled]:hover, a#decline_mandat:hover{background-color:#fff;border-color:#d2cecf;color:#d2cecf;cursor:not-allowed;}
a#decline_mandat:hover{cursor:pointer;}

a#add_account, a#change_cni, a#change_visa, a#accept_mandat, a#decline_mandat{cursor:pointer;display:inline-block;line-height:50px;text-decoration:none;}
a#accept_mandat, a#decline_mandat{background-image:url('../images/btn-accept.png');line-height:50px;padding-left:60px;}
a#decline_mandat{background-image:url('../images/btn-decline.png');}

.form-group{margin-bottom:0;padding:5px 14px;position:relative;}

.form-group.focus{background-color:#e2e2e2;}

.form-group div.error_icon{
}

.form-control{height:40px;padding:6px 12px 6px 30px;width:95%;}

.form-control.required{background:#fff url('../images/required.png') no-repeat 10px center;}

.select_group{position:relative;}

div.select_required{background:url('../images/required.png') no-repeat center center;display:none;height:15px;left:11px;position:absolute;top:13px;width:15px;}
.select_group.required div.select_required{display:block;}

body.tablet .select_group select{margin-left:15px;width:90%;}

body.tablet div.select_required{left:0;}

.form-group .error_icon,
div.col-md-3 .error_icon,
div.col-md-4 .error_icon,
div.col-md-6 .error_icon,
div.col-md-8 .error_icon{background-repeat:none;background-position:center center;bottom:14px;display:none;height:20px;position:absolute;right:10px;width:20px;}
#step_form1 div.col-md-3 .error_icon{bottom:10px; right:-5px;}
#step_form2 div.col-md-4 .form-group .error_icon,
#step_form2 div.col-md-8 .form-group .error_icon{right:0px;}
#step_form4 div.col-md-6 .error_icon{bottom:10px;right:3px;}

.form-group.valid .error_icon,
div.col-md-3.valid .error_icon,
div.col-md-4.valid .error_icon,
div.col-md-6.valid .error_icon,
div.col-md-8.valid .error_icon{background-image:url('../images/accept.png');display:block;}

.form-group.error .error_icon,
div.col-md-3.error .error_icon,
div.col-md-4.error .error_icon,
div.col-md-6.error .error_icon,
div.col-md-8.error .error_icon{background-image:url('../images/delete2.png');display:block;}

.ui-slider .ui-slider-range{background:#4F81B6;}

.input-group{width:95%;}

.ui-slider-horizontal {height:16px !important;}
.ui-slider .ui-slider-handle{height:23px !important;}

.form_check{background-color:#fff;background-repeat:no-repeat;border:1px solid #ccc;border-radius:4px;cursor:pointer;display:inline-block;height:30px;margin-right:10px;width:30px;}

.form_check.checked{background-image:url('../images/checked.png');background-position:center center;}

.check_content label{display:inline-block;position:relative;top:-10px;}

#green_card_content.check_content label{max-width:90%;top:0px;}

label.sub_label{color:#4F81B6;font-size:12px;font-weight:normal;}

.check_content label.sub_label{padding-left:43px;position:relative;top:-17px;}

label.inline_label{position:relative;top:8px;}

.hide_block{background:#e2e2e2;padding:9px 0;}

p.advert_block_explications{color:#da7100;font-size:14px;font-weight:normal;padding:14px;}

/*.form-control.error, .form-control.error:focus {border-color:#e00000;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 0, 0, .6);	  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 0, 0, .6);}

.form-control.valid, .form-control.valid:focus {border-color:#0b8904;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(11, 137, 4, .6);	  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(11, 137, 4, .6);}*/

.segmented-control > label:after{z-index:50;}

#amount_natures_content .col-md-3{text-align:center;}

#amount_natures_content .col-md-3 label{font-weight:normal;}

#amount_natures_content .col-md-3 .form_check{margin:0;}

.small_medium, .medium_large{display:none;}

#accounts_list{border:1px solid #edebec;border-radius:5px;margin:0 auto 15px;padding:9px 0;width:600px;}

.account_line{line-height:25px;margin-bottom:0;padding:5px 50px 5px 14px;position:relative;}

.account_type{color:#fff;display:inline-block;font-size:14px;font-weight:lighter;margin-right:20px;padding:0 10px;text-transform:uppercase;}
#accounts_list .account_type {color:#000;}
.account_type.compte_titre{background-color:#1268b3;}
.account_type.pea{background-color:#e8b028;}
.account_type.peapme{background-color:#00bf24;}
.account_type.assurance_vie{background-color:#df0367;}
.account_type.livret_a{background-color:#28e8bd;}
.account_type.pee{background-color:#8b28e8;}
.account_type.compte_courant{background-color:#e83a28;}

.account_amount{display:inline-block;font-size:14px;font-weight:700;float:right;margin-right:20px;}

a.suppress_account{background:url('../images/delete.png') no-repeat;cursor:pointer;height:18px;position:absolute;right:5px;top:8px;width:18px;}

a.update_account{background:url('../images/update.png') no-repeat;cursor:pointer;height:18px;position:absolute;right:28px;top:8px;width:18px;}


div.upload-file label, 
.btn-default.btn-file, a.btn.btn-default.fileinput-exists{background:none repeat scroll 0 0 #fff;border:4px solid #fff;border-radius:2px;box-shadow:0 0 0 1px #dad8d9;box-sizing:border-box;color:#4c5457;font-size:14px;font-weight:normal;line-height:1;padding:6px 12px;text-transform:none;cursor:pointer;}

div.fileinput-preview {word-wrap:break-word;}

div.fileinput-preview.loading{background:#F9F8F4 url('../images/loading.gif') no-repeat center center;}

div.fileinput-preview.valid{background:#F9F8F4 url('../images/success_1x.jpg') no-repeat center center;}

div.upload-file label:hover {color:#fff;background:#4c5457;}
div.upload-file label.loading {opacity:0.5;}


a.btn.btn-default.fileinput-exists{background:#e00000;color:#fff;left:15px;position:relative;text-shadow:none;top:5px;}

/*
 * Final page
 */
 
#wrapper_final{background:#2b4f7e url('../images/final_bg.jpg') no-repeat right bottom;background-size:auto 100%;height:100%;min-height:900px;min-width:100%;width:100%;}

#final_block{margin:0 auto;padding:12% 0 0;width:490px;}

#final_block header{background:#012d5c;border-radius:5px 5px 0 0;height:162px;position:relative;text-align:center;}

#final_block header img{left:164px;position:absolute;top:-50px;}

#final_block header h1{color:#fff;font-size:32px;font-weight:normal;margin:0;padding:60px 0 15px;}

#final_block header span{color:#a1aab7;font-size:16px;}
 
#final_block #final_content{background:#fff;border-radius:0 0 5px 5px;color:#012d5c;font-size:16px;font-weight:lighter;min-height:425px;padding:30px;text-align:center;}

a.correcting, input.correcting {background:#68bb2f;border:none;border-radius:3px;color:#fff;font-size:14px;font-weight:bold;height:40px;line-height:40px;margin:20px 0;text-transform:uppercase;display:inline-block;padding:0 20px;}
a.correcting:hover, input.correcting:hover {background:#5aa028;text-decoration:none;}

#final_block #final_content p{color:#012d5c;font-size:20px;text-align:center;}

#final_block div.final_notice, #final_block a.final_notice{background-position:10px 12px;background-repeat:no-repeat;border-radius:5px;color:#fff;display:block;font-size:14px;font-weight:lighter;margin-top:10px;padding:10px 10px 10px 50px;text-align:left;}
#final_block div.final_notice strong, #final_block a.final_notice strong{font-size:16px;}
#final_block div.final_notice.final_warning, #final_block a.final_notice.final_warning{background-color:#ecbf58;background-image:url('../images/ico_warning.png');background-position:10px 8px;}
#final_block div.final_notice.final_mail{background-color:#fff;background-image:url('../images/ico_mail2.png');color:#012d5c;}
#final_block div.final_notice.final_info, #final_block a.final_notice.final_info{background-color:#6fb1c7;background-image:url('../images/ico_info.png');}

#final_return{color:#fff;font-size:14px;margin-top:10px;text-align:center;}

#final_return a{color:#55c6f9;text-decoration:underline;}

div.fileinput-preview{cursor:pointer;}

#horizon_alone{background:none repeat scroll 0 0 #319dd4;color:#fff;font-weight:700;line-height:35px;padding:0 10px;}