@media screen and (max-width:1200px) {
	
	p{
		font-size:16px;
		font-weight:lighter;
	}
	
	.hidden-sm{display:none !important;}
	.visible-sm{display:block !important;}
	
	h1.page_title {
		font-size:16px;
		line-height: 34px;
	}
	
	#wrapper .step_form{
		padding-left:230px;
	}
	
	#wrapper .step_form fieldset{
		width:520px;
	}
	
	div.account_block_number{
		font-size:20px;
		line-height:25px;
		padding:0 25px;
		width:22%;
	}
	
	div.row.four div.account_block_number{
		width:24%;
	}

	div.account_block_number > span.number_label{
		font-size:14px;
	}
	
	div.account_block_number > span.number_label a.tooltip_bottom{
		display:block;
		margin: 0 auto;
	}
	
}