/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);*/

/*************************************************************
 *                                                           *
 *                         Font                              *
 *                                                           *
 *************************************************************/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*************************************************************
 *                                                           *
 *                         Divers                            *
 *                                                           *
 *************************************************************/

*{font-family:'Lato', Arial;margin:0;padding:0;}
html, body{background-color:#fff;height:100%;width:100%;}
a{color:#4F81B6;}
.clearer{clear:both;}
p{font-size:16px;font-weight:lighter;line-height:26px;text-align:justify;}
 
div.container{margin:0 auto;width:1200px;}

#wrapper{height:100%;min-height:100%;padding:40px 0 0;position:relative;}
#wrapper_client{padding:40px 40px 80px 260px;margin:0 auto;max-width:1500px;}
#wrapper_client.full{padding:40px 40px 80px;margin:0 auto;max-width:1500px;height:100%;min-height:100%;}
#wrapper_client.full.max{padding:20px 0 10px;margin:0 auto;max-width:100%;height:100%;min-height:100%;}
#wrapper_client form.step_form{padding:30px 10px 14px;}

.row > ul li, .col-md-3 ul li, .col-md-6 ul li, .col-md-9 ul li, .col-md-12 ul li{font-size:16px;font-weight:lighter;line-height:26px;margin-left:30px;text-align:justify;}
.col-md-6 ul.cbp_tmtimeline li{margin-left:0px;}
.row > ul > li, .col-md-3 .col-content > ul > li, .col-md-6 .col-content > ul > li, .col-md-8 > ul > li, .col-md-9 .col-content > ul > li, .col-md-12 .col-content > ul > li, .col-md-12 > ul > li{list-style-type:circle;}
.row > ul li li, .col-md-3 .col-content > ul li li, .col-md-6 .col-content > ul li li, .col-md-8 .col-content > ul li li, .col-md-9 .col-content > ul li li, .col-md-12 .col-content > ul li li, .col-md-12 > ul li li{list-style:disc outside none;}

#funds_iframe{border:none;}

span.decimal{font-size:88%;}
font.full_number{white-space:nowrap;}

/*************************************************************
 *                                                           *
 *                          Header                           *
 *                                                           *
 *************************************************************/
 
div#header_profile, div#header_manager{color:#fff;float:right;font-size:15px;height:60px;line-height:18px;padding-top:11px;text-align:right;}
div#header_profile a, div#header_manager a{color:#fff;display:block;font-size:14px;}
div#header_manager a{font-size:15px;}
div.navbar{background:#002d5b;border:none;border-radius:0;height:60px;min-height:60px;}
.navbar > .container .navbar-brand{margin-left:0;margin-right:50px;padding:0;}
.navbar-inverse .navbar-nav > li > a{color:#fff;font-size:14px;font-weight:700;padding:20px 15px;text-transform:uppercase;}
.navbar-inverse .navbar-nav > li > a#account_access{color:#7697c1;padding:20px 15px;}
.navbar-inverse .navbar-nav > li > a.social_link{padding:20px 7px;}
.navbar-inverse .navbar-nav > li > a.fondation_link{color:#f6b4d6;padding:0 50px 0 0;}
.navbar-inverse .navbar-nav.navbar-right > li.dropdown > a{background-color:#4f81b6;margin-left:10px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background:#4F81B6;color:#fff;}

header{height:40px;position:fixed;width:100%;z-index:300;}
header div.navbar{margin:0;}
header .container#menu_container{margin:0;width:auto;}
header .collapse.navbar-collapse{margin:0 auto;width:750px;}
header .nav.navbar-nav.navbar-right{position:absolute;right:15px;}

/*************************************************************
 *                                                           *
 *                         Boutons                           *
 *                                                           *
 *************************************************************/

a.btn, div.btn{background-color:#fff;background-position:0 -3px;background-repeat:no-repeat;border:1px solid #4f81b6;border-radius:0;color:#4f81b6;cursor:pointer;font-size:15px;font-weight:lighter;line-height:50px;margin-bottom:10px;padding:0 20px 0 66px;position:relative;text-align:right;text-transform:uppercase;z-index:10;}
a.btn:hover, div.btn:hover{background-color:#4F81B6;background-position:0 -61px;color:#fff;}
a.btn.unchange:hover{background-position:0 -3px;}
a.btn:hover .subcontent{color:#fff;}
a.btn.btn-print{background-image:url('../images/btn-plan.png');}
a.btn.btn-full{width:100%;}
a.btn.btn-center{text-align:center;}
a.btn strong{font-weight:normal;}
a.btn .subcontent{bottom:7px;color:#1268B3;display:block;font-size:12px;line-height:12px;padding-right:21px;position:absolute;right:0;}

/*************************************************************
 *                                                           *
 *                          Titres                           *
 *                                                           *
 *************************************************************/

h1.page_title{color:#000;font-size:16px;font-weight:lighter;line-height:60px;padding-left:0px;text-align:left;} 
h1.page_title span{color:#bbb;}

/*************************************************************
 *                                                           *
 *                       Documents                           *
 *                                                           *
 *************************************************************/

div.document_block{background:url('../images/document.png') no-repeat left top;color:#010101;display:inline-block;font-size:14px;font-weight:lighter;margin:0 20px 20px 0;min-height:28px;padding-left:30px;padding-top:2px;text-align:left;}
div.document_block a{color:#d95802;cursor:pointer;font-size:12px;font-weight:lighter;text-transform:uppercase;}

/*************************************************************
 *                                                           *
 *                         Tooltip                           *
 *                                                           *
 *************************************************************/

.tooltip.top .tooltip-arrow{border-top:5px solid #1268b3;}
.tooltip.left .tooltip-arrow{border-left:5px solid #1268b3;}
.tooltip.bottom .tooltip-arrow{border-bottom:5px solid #1268b3;}
.tooltip.right .tooltip-arrow{border-right:5px solid #1268b3;}
.tooltip-inner{background:#1268b3;font-size:12px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;max-width:300px !important;}

/*************************************************************
 *                                                           *
 *                         Footer                            *
 *                                                           *
 *************************************************************/

footer{background:#e8e8e8;bottom:0;height:40px;overflow:hidden;padding:0;position:fixed;width:100%;z-index:50;}
#footer_right{font-size:16px;line-height:40px;text-align:center;}
#footer_right a{text-decoration:underline;}

/*************************************************************
 *                                                           *
 *                      Formulaires                          *
 *                                                           *
 *************************************************************/

form{padding:10px;}
form .col-md-4, form .col-md-8{padding:0 10px 0 0;}

/*************************************************************
 *                                                           *
 *                      Option-Box                           *
 *                                                           *
 *************************************************************/

.segmented-control{box-shadow: 0 0 0 1px #d4d4d4;}
.segmented-control, #horizon_alone{margin:0;-moz-user-select:none;background:none repeat scroll 0 0 white;border:3px solid #fff;border-radius:0px;box-sizing:border-box;color:#d95802;display:inline-block;min-width:100px;overflow:hidden;position:relative;transition-duration:500ms;transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);}
.segmented-control.small_size{width:25%;}
.segmented-control.medium_size{width:50%;}
.segmented-control.large_size{width:75%;}
.segmented-control.full_size{width:100%;}
.segmented-control label{margin:0; padding:6px 10px;}
.segmented-control > label:after{z-index:10;}
.segmented-control.blue > label:before{background:none repeat scroll 0 0 #002D5B;}

/*************************************************************
 *                                                           *
 *                        Mandat                             *
 *                                                           *
 *************************************************************/

#mandat_wrapper{margin:0 auto;padding:50px 0;width:752px;}
#mandat_wrapper p{color:#000;font-size:14px;line-height:20px;margin:0;margin-bottom:20px;}
#mandat_wrapper h2{color:#4f81b6;font-size:26px;font-weight:lighter;margin-bottom:20px;}

/*************************************************************
 *                                                           *
 *                        Tablette                           *
 *                                                           *
 *************************************************************/

@media screen and (max-width:1200px){	
	p{font-size:16px;font-weight:lighter;}	
	.hidden-sm{display:none !important;}
	.visible-sm{display:block !important;}	
	h1.page_title {font-size:16px;line-height:34px;}	
	#wrapper .step_form{padding-left:230px;}	
	#wrapper .step_form fieldset{width:520px;}	
	div.account_block_number{font-size:20px;line-height:25px;padding:0 25px;width:22%;}	
	div.row.four div.account_block_number{width:24%;}
	div.account_block_number > span.number_label{font-size:14px;}	
	div.account_block_number > span.number_label a.tooltip_bottom{display:block;margin:0 auto;}
}

/*************************************************************
 *                                                           *
 *                        Mobile                             *
 *                                                           *
 *************************************************************/

@media screen and (max-width:768px){
	p{font-size:14px !important;line-height:21px !important;font-weight:lighter;margin-bottom:20px;text-align:left;}	
	#sidebar_client{display:none;}	
	div.navbar{padding-left:0;}	
	header div.navbar-header{float:left;}	
	#close_sidebar_block{display:block;color:#fff;cursor:pointer;float:left;font-size:16px;font-weight:700;position:absolute;right:5px;text-decoration:none;top:9px;}
	#wrapper_client{padding:40px 5px 80px 10px;}	
	#graph_options.account_synthesis{padding-left:5px;}	
	div#mandat_wrapper{width:100%;padding:50px 10px;}	
	div#mandat_wrapper img{width:100%;}	
	#mandat_wrapper h2{font-size:4vw;}	
	#mandat_wrapper p {font-size:3vw !important;line-height:2vh !important;}	
	form.step_form{padding:30px 10px 14px;}	
	div.navbar{height:50px;min-height:50px;}	
	header #menu_container.container{margin:0 auto;position:relative;min-width:320px;}	
	#account_breadcrump{top:50px;}	
	div#header_profile, div#header_manager {height:50px;padding-top:7px;}	
	div#header_links a {height:50px;line-height:43px;width:50px;}	
	.navbar-toggle {background:none repeat scroll 0 0 #4f81b6;border:medium none;border-radius:0;float:left;height:50px;margin:0 10px 0 0;}	
	#wrapper{min-width:320px;padding:30px 0 0;}	
	.navbar > .container .navbar-brand{height:32px;margin-left:0;margin-right:0;margin-top:9px;overflow:hidden;padding:0;width:33px;}	
	.navbar > .container .navbar-brand img{height:32px;}	
	#account_breadcrump #breadcrump-nav .container {margin:0;padding-left:15px;min-width:320px;}	
	#breadcrump-nav ul li {font-size:12px;padding:15px 5px 0;}	
	h1.page_title {font-size:14px;line-height:20px;}	
	.filter_gp .form-group{padding:0;}
	.synthesis_sentence{font-size:16px;}
	.synthesis_sentence strong{font-size:20px;}
	#synthesis_date{font-size:16px;}	
	#wrapper .step_form{padding-top:50px;padding-left:10px;}	
	#wrapper .step_form{padding:50px 0 30px;}	
	#wrapper .step_form fieldset{min-width:320px;width:100%;}	
	#breadcrump_account{left:24px;line-height:19px;padding-left:40px;padding-top:8px;position:absolute;}	
	#breadcrump_account.PEA{background:url("../images/ico_pea.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}
	#breadcrump_account.PEA-PME{background:url("../images/ico_pme.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}
	#breadcrump_account.Neuflize.Vie{background:url("../images/ico_vie.jpg") no-repeat scroll 0 11px rgba(0, 0, 0, 0);}	
	#breadcrump_account span{color:#000;font-size:14px;font-weight:700;}	
	#breadcrump_account div{display:none;}	
	div#header_profile, div#header_profile a, div#header_manager, div#header_manager a{font-size:12px;}	
	div.row div.account_block_number, div.row div.account_block_number.first{border-left:none;border-bottom:1px solid #dad8d9;display:block;font-size:20px;line-height:25px;margin:0;padding:10px 0;width:100%;}
	div.row.five div.account_block_number, div.row.four div.account_block_number, div.row.third div.account_block_number, div.row.two div.account_block_number{width:100%;}
	div.row div.account_block_number.first{border-bottom:1px solid #dad8d9;}
	div.account_block_number > span.number_label{font-size:14px;}	
	div.account_block_number > span.number_label a.tooltip_bottom{display:inline-block;margin:0 0 0 10px;}	
	div.row div.account_block_number > br{display:none;}	
	div.account_block_number > .number_label{margin-left:10px;}	
	#mouvements{display:none;}
	#mouvements_mobile{display:block;}
	#mouvements_mobile td span.date{color:#bbb;}
	table.respond_table#mouvements_mobile td{line-height:22px; font-size:12px;}	
	h2.table_title{font-size:18px;}	
	#account_perf_pos .account_perf{width:100%;}	
	#account_top_left{width:100%;}
	#account_top_right{text-align:center;width:100%;}	
	.account_perf_pos{margin:5px 0;width:290px;}	
	.account_synthesis > div.account_block_number{margin:5px 10px 5px 0;}	
	#histo_container{}	
	div.desktop_account{margin:5px 0;}
}