<h2 class="table_title"><span ng-if="club">Ses</span><span ng-if="!club">Mes</span> comptes</h2>
<div id="account_list_normal">
	<table class="respond_table" id="accounts_table">
		<thead>
			<tr>
				<th class="prior_1" ng-click="order('description')" ng-class="{selected: predicate=='description', desc: !reverse}"><div></div>Intitulé du compte</th>
				<th class="prior_1" ng-click="order('amountBrut')" ng-class="{selected: predicate=='amountBrut', desc: !reverse}"><div></div>Positions</th>
				<th class="prior_1" ng-click="order('perfYTDBrut')" ng-class="{selected: predicate=='perfYTDBrut', desc: !reverse}"><div></div>Perf. {{currentYear}}</th>
				<th class="prior_1" ng-click="order('perf1YBrut')" ng-class="{selected: predicate=='perf1YBrut', desc: !reverse}"><div></div>Perf. 1 an</th>
				<th class="prior_1" ng-click="order('perf3YBrut')" ng-class="{selected: predicate=='perf3YBrut', desc: !reverse}"><div></div>Perf. 3 ans</th>
				<th class="prior_1" ng-click="order('apportsBrut')" ng-class="{selected: predicate=='apportsBrut', desc: !reverse}"><div></div>Apport</th>
				<th class="prior_1" ng-click="order('retraitsBrut')" ng-class="{selected: predicate=='retraitsBrut', desc: !reverse}"><div></div>Retrait</th>
				<th class="prior_1" ng-click="order('fraisBrut')" ng-class="{selected: predicate=='fraisBrut', desc: !reverse}"><div></div>Frais</th>
				<th class="prior_1"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="account in accounts | orderBy:predicate:reverse" class="desktop_account {{account.status}}">
				<td class="prior_1">
					<a href="" class="account_title_link {{account.type}}" ng-click="changeAccount(account.num)">
						<div class="menu_account_icon">{{account.typeShort}}</div>
						{{account.description}} <div>N°{{account.num}}</div>
					</a>
				</td>
				<td class="prior_1">
					<div ng-bind-html="trustAsHtml(account.amount)"></div>
				</td>
				<td class="prior_1">
					<div class="{{account.perfYTDPositive}}" ng-bind-html="trustAsHtml(account.perfYTD)"></div>
				</td>
				<td class="prior_1">
					<div class="{{account.perf1YPositive}}" ng-bind-html="trustAsHtml(account.perf1Y)"></div>
				</td>
				<td class="prior_1">
					<div class="{{account.perf3YPositive}}" ng-bind-html="trustAsHtml(account.perf3Y)"></div>
				</td>
				<td class="prior_1">
					<div ng-bind-html="trustAsHtml(account.apports)"></div>
				</td>
				<td class="prior_1">
					<div ng-bind-html="trustAsHtml(account.retraits)"></div>
				</td>
				<td class="prior_1">
					<div ng-bind-html="trustAsHtml(account.frais)"></div>
				</td>
				<td class="prior_1">
					<div class="account_show btn" ng-click="toggleAccount(account.num)">{{account.buttonLabel}}</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="account_list_mobile">
	<div ng-repeat="account in accounts" class="desktop_account {{account.status}}">
		<div class="account_show" ng-click="toggleAccount(account.num)">{{account.buttonLabel}}</div>
		<h2>
			<a class="{{account.type}}" ng-click="changeAccount(account.num)">
				<div class="menu_account_icon">{{account.typeShort}}</div>
				{{account.description}} <div>N°{{account.num}}</div>
			</a>
		</h2>
		<div class="account_total">
			<div ng-bind-html="trustAsHtml(account.amount)"></div>
		</div>
		<div class="account_variation {{account.perfPositive}}">
			<span class="" ng-bind-html="trustAsHtml(account.perfEuro)"></span>
			<span class="percent" ng-bind-html="trustAsHtml(account.perfPercent)"></span>
			<a class="tooltip_bottom" tooltip-html-unsafe='SOMME DE VOS POSITIONS<br><br>La somme des positions de votre compte au {{datePosition}}<br>est de {{account.amount}}' tooltip-placement="top" tooltip-animation="false">?</a>
		</div>
		<div class="account_stats">
			<div>
				<h3>Apport</h3>
				<span ng-bind-html="trustAsHtml(account.apports)"></span>
			</div>
			<div class="middle">
				<h3>Retrait</h3>
				<span ng-bind-html="trustAsHtml(account.retraits)"></span>
			</div>
			<div>
				<h3>Frais</h3>
				<span ng-bind-html="trustAsHtml(account.frais)"></span>
			</div>
		</div>
	</div>
	<div class="clearer"></div>
</div>