<div class="row">
	<div class="col-md-6 col-xs-12 repartition">
		<h2 class="table_title">Répartition par classe d'actifs</h2>
		
		<table class="progress_line" style="width:100%">
			<tr>
				<td class="progress_label"><div class="progress_label">Dynamique</div></td>
				<td class="progress_bar_container">
					<div class="progress-bar Dynamique" style="width:{{actif1BarPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
						<div ng-bind-html="trustAsHtml(actif1RealPercent(false))"></div>
					</div>
				</td>
			</tr>
		</table>
		<table class="progress_line" style="width:100%">
			<tr>
				<td class="progress_label"><div class="progress_label">Diversifié</div></td>
				<td class="progress_bar_container">
					<div class="progress-bar Diversifié" style="width:{{actif2BarPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
						<div ng-bind-html="trustAsHtml(actif2RealPercent(false))"></div>
					</div>
				</td>
			</tr>
		</table>
		<table class="progress_line" style="width:100%">
			<tr>
				<td class="progress_label"><div class="progress_label">Prudent</div></td>
				<td class="progress_bar_container">
					<div class="progress-bar Prudent" style="width:{{actif3BarPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
						<div ng-bind-html="trustAsHtml(actif3RealPercent(false))"></div>
					</div>
				</td>
			</tr>
		</table>
		<table class="progress_line" style="width:100%">
			<tr>
				<td class="progress_label"><div class="progress_label">Solde espèces</div></td>
				<td class="progress_bar_container">
					<div class="progress-bar Solde espèce" style="width:{{actif4BarPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
						<div ng-bind-html="trustAsHtml(actif4RealPercent(false))"></div>
					</div>
				</td>
			</tr>
		</table>
		<table class="progress_line" style="width:100%">
			<tr>
				<td class="progress_label"><div class="progress_label">Autres</div></td>
				<td class="progress_bar_container">
					<div class="progress-bar Autres" style="width:{{actif5BarPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
						<div ng-bind-html="trustAsHtml(actif5RealPercent(false))"></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6 col-xs-12 repartition">
		<h2 class="table_title">Répartition par support</h2>
		<div ng-repeat="repartition in supportRepartitions | orderBy:['order','-realPercentBrut']">	
			<table class="progress_line" style="width:100%">
				<tr>
					<td class="progress_label"><div class="progress_label">{{repartition.supportLabel}}</div></td>
					<td class="progress_bar_container">
						<div class="progress-bar {{repartition.supportClass}}" style="width:{{repartition.barPercent}}%;" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" >
							<div ng-bind-html="trustAsHtml(repartition.realPercent)"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>