<div id="graph_options" class="account_synthesis">
	<div  class="form-group">
		<nav class="segmented-control blue full_size">
			<input type="radio" id="graph_period1" name="graph_period" value="0" ng-model="confirmed" ng-change="changeFilter(0)" ng-checked="filter == 0" />
			<input type="radio" id="graph_period2" name="graph_period" value="1" ng-model="confirmed" ng-change="changeFilter(1)" ng-checked="filter == 1" />
			<input type="radio" id="graph_period3" name="graph_period" value="2" ng-model="confirmed" ng-change="changeFilter(2)" ng-checked="filter == 2" />
			<label id="graph_period1_label" data-value="{{currentYear}}" for="graph_period1">{{currentYear}}</label>
			<label id="graph_period2_label" data-value="1 an" for="graph_period2">1 an</label>
			<label id="graph_period3_label" data-value="3 ans" for="graph_period3">3 ans</label>
		</nav>
	</div>
	<div class="account_perf_pos" tooltip-html-unsafe='SOMME DE VOS POSITIONS<br>La somme de votre/vos compte(s) sélectionné(s) au {{datePosition}} est de {{totalPositions()}}<br><br>PERFORMANCE DE VOS ACTIFS<br>Au cours de la période, la performance de votre/vos compte(s) sélectionné(s) est de {{totalPerf()}}' tooltip-placement="top" tooltip-animation="false">
		<div class="account_block_number account_pos" id="synthesis_position">
			<font ng-bind-html="trustAsHtml(totalPositions(false))"></font>
			<br>
			<span class="number_label">Positions</span>
		</div>
		
		<div class="account_variation {{perfNegative}}" id="synthesis_perf">
			<font ng-bind-html="trustAsHtml(totalPerf(false))"></font>
		</div>
		<span class="number_label">
			Performance
		</span>
	</div>
	
	<div class="account_block_number" tooltip-html-unsafe='APPORTS / RETRAITS<br>Au cours de la période, la somme des apports/retraits effectués sur votre/vos compte(s) sélectionné(s) est de {{totalAR()}}' tooltip-placement="top" tooltip-animation="false" id="synthesis_ar">
		<font ng-bind-html="trustAsHtml(totalAR(false))"></font>
		<br>
		<span class="number_label">Apports / Retraits</span>
	</div>
		
	<div class="account_block_number" tooltip-html-unsafe='FRAIS PRÉLEVÉS<br>Au cours de la période, la sommes des frais prélevés (frais de gestion et frais d’exécution) sur votre/vos compte(s) sélectionné(s) sont de {{totalFrais()}}' tooltip-placement="top" tooltip-animation="false" id="synthesis_frais">
		<font ng-bind-html="trustAsHtml(totalFrais(false))"></font>
		<br>
		<span class="number_label">Frais</span>
	</div>
	<div class="clearer"></div>
</div>
<div id="histo_container">
	<div id="histo_positions"></div>
</div>
<div class="clearer"></div>