<div ng-controller="ClientsCtrl">
	<br>
	<div id="clients_header" class="row">
		<div class="col-md-9">
			<div class="search_button">
				<form id="search_client_form">
					<div class="input-group tooltip-input">
						<input id="search_client" type="text" placeholder="Chercher un client" name="search_client" ng-keypress="keypressFilterControll($event)">
						<span class="input-group-addon" ng-click="searchClient()"></span>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-3" id="graph_options">
			<div class="form-group">
				<nav class="segmented-control blue full_size">
					<input type="radio" id="graph_period1" name="graph_period" value="0" ng-model="confirmed" ng-change="changeFilter(0)" ng-checked="filter == 0" />
					<input type="radio" id="graph_period2" name="graph_period" value="1" ng-model="confirmed" ng-change="changeFilter(1)" ng-checked="filter == 1" />
					<input type="radio" id="graph_period3" name="graph_period" value="2" ng-model="confirmed" ng-change="changeFilter(2)" ng-checked="filter == 2" />
					<label id="graph_period1_label" data-value="{{currentYear}}" for="graph_period1">{{currentYear}}</label>
					<label id="graph_period2_label" data-value="1 an" for="graph_period2">1 an</label>
					<label id="graph_period3_label" data-value="3 ans" for="graph_period3">3 ans</label>
				</nav>
			</div>
		</div>
	</div>
	<br>
	<table class="respond_table client_list">
		<thead>
			<tr>
				<th class="prior_1 clientcol1" ng-click="order('name')" ng-class="{selected: predicate=='name', desc: reverse}"><div></div>Clients</th>
				<th class="prior_2 clientcol2" ng-click="order('accountsBrut')" ng-class="{selected: predicate=='accountsBrut', desc: !reverse}"><div></div>Nombre de comptes</th>
				<th class="prior_1 clientcol3" ng-click="order('encoursBrut')" ng-class="{selected: predicate=='encoursBrut', desc: !reverse}"><div></div>Encours</th>
				<th class="prior_3 clientcol4" ng-click="order('liquideBrut')" ng-class="{selected: predicate=='liquideBrut', desc: !reverse}"><div></div>Liquidités</th>
				<th class="prior_4 clientcol5" ng-click="order('apportsBrut')" ng-class="{selected: predicate=='apportsBrut', desc: !reverse}"><div></div>Apports</th>
				<th class="prior_5 clientcol6" ng-click="order('retraitsBrut')" ng-class="{selected: predicate=='retraitsBrut', desc: !reverse}"><div></div>Retraits</th>
				<th class="prior_1 clientcol7" ng-click="order('perfEuroBrut')" ng-class="{selected: predicate=='perfEuroBrut', desc: !reverse}"><div></div>Performance (€)</th>
			</tr>
		</thead>
	</table>
	<div id="client_list_table_content">
		<table class="respond_table client_list">
			<tbody>
				<tr ng-repeat="client in clients | orderBy:predicate:reverse" class="client_row">
					<td class="prior_1 clientcol1 client_name"><a ng-click="showClient(client.fid, client.pid)">{{client.name}}</a></td>
					<td class="prior_2 clientcol2"><font ng-bind-html="trustAsHtml(client.accounts)"></font></td>
					<td class="prior_1 clientcol3"><font ng-bind-html="trustAsHtml(client.encours)"></font></td>
					<td class="prior_3 clientcol4"><font ng-bind-html="trustAsHtml(client.liquide)"></font></td>
					<td class="prior_4 clientcol5"><font ng-bind-html="trustAsHtml(client.apports)"></font></td>
					<td class="prior_5 clientcol6"><font ng-bind-html="trustAsHtml(client.retraits)"></font></td>
					<td class="prior_1 clientcol7" ng-class="{positive: client.perfEuroBrut > 0, negative: client.perfEuroBrut < 0}">
						<font ng-bind-html="trustAsHtml(client.perfEuro)"></font>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
