<div id="contact_cgp" ng-controller="ContactClubCtrl">
	<h2 class="table_title">Mes contacts</h2>
	<br><br>
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<div class="media">
				<img class="pull-left" src="https://client.lfde.com/static/images/gerants/{{contact.Id}}.jpg">
				<div class="media-body">
					<strong>{{contact.FirstName}} {{contact.LastName}}</strong>
					<br>
					<em>{{contact.Title}}</em>
					<br>
					<br>
					Téléphone : <img class="phone_img" alt="Tél" src="static/images/btn_call.png" width="24px" height="24px"> <a href="tel:{{contact.phoneShort}}"><span>{{contact.Phone}}</span></a><br>
					Email : <img class="email_img" alt="Email" src="static/images/btn_email.png" width="24px" height="24px"> <a title="Email" href="mailto:{{contact.Email}}">{{contact.Email}}</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="media">
				<img class="pull-left" src="https://client.lfde.com/static/images/gerants/{{assistante.Id}}.jpg">
				<div class="media-body">
					<strong>{{assistante.FirstName}} {{assistante.LastName}}</strong>
					<br>
					<em>Assistante</em>
					<br>
					<br>
					Téléphone : <img class="phone_img" alt="Tél" src="static/images/btn_call.png" width="24px" height="24px"> <a href="tel:{{assistante.phoneShort}}"><span>{{assistante.Phone}}</span></a><br>
					Email : <img class="email_img" alt="Email" src="static/images/btn_email.png" width="24px" height="24px"> <a title="Email" href="mailto:{{assistante.Email}}">{{assistante.Email}}</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="media">
				<img class="pull-left" src="https://client.lfde.com/static/images/gerants/{{rc.Id}}.jpg">
				<div class="media-body">
					<strong>{{rc.FirstName}} {{rc.LastName}}</strong>
					<br>
					<em>Responsable Commercial</em>
					<br>
					<br>
					Téléphone : <img class="phone_img" alt="Tél" src="static/images/btn_call.png" width="24px" height="24px"> <a href="tel:{{rc.phoneShort}}"><span>{{rc.Phone}}</span></a><br>
					Email : <img class="email_img" alt="Email" src="static/images/btn_email.png" width="24px" height="24px"> <a title="Email" href="mailto:{{rc.Email}}">{{rc.Email}}</a>
				</div>
			</div>
		</div>
	</div>
</div>