<div ng-controller="DocumentsClubCtrl">
	<div ng-repeat="category in docCategories" class="club_documents_container">
		<h2 class="table_title">{{category.categorie}}</h2>
		<div class="document_list">
			<div class="document_block" ng-repeat="document in category.documents">
				{{document.Name}}
				<br>
				<a class="tracked_document" ng-click="loadDocument(document.Id)">Télécharger</a>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
	<iframe id="doc_iframe" src="https://www.lfde.com/documents-echiquier-club/?format=light" style="border:none;" width="100%" height="460px"></iframe>
</div>