<div ng-controller="PasswordClubCtrl">
	<div class="alert alert-success" ng-if="changed && success" role="alert">Votre nouveau mot de passe a été changé.</div>
	<div class="alert alert-danger" ng-if="changed && !success" role="alert">Votre ancien mot de passe est incorrect.</div>
	<form id="step_infos" method="post" class="step_form consultation" ng-submit="submit()">
		<fieldset>
			<div class="form-group">
				<label for="old_password">Votre ancien mot de passe</label>
				<input id="old_password" class="form-control control-text required" type="password" placeholder="" value="" name="old_password">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div class="form-group">
				<label for="new_password">Votre nouveau mot de passe</label>
				<input id="new_password" class="form-control control-text required" type="password" placeholder="" value="" name="new_password">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div class="form-group">
				<label for="new_password_confirm">Confirmez votre nouveau mot de passe</label>
				<input id="new_password_confirm" class="form-control control-text required" type="password" placeholder="" value="" name="new_password_confirm">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<fieldset class="valide password_error" style="display:none">
				<div class="alert alert-danger" role="alert" align="center">
					Les deux mot de passe doivent être identiques.
				</div>
			</fieldset>
		</fieldset>
		
		<div class="clearer"></div>
		<fieldset class="valide" id="submit_grp">
			<input type="submit" value="Valider">
		</fieldset>
	</form>
</div>