<div ng-controller="InfosClubCtrl">
	<div class="alert alert-success" id="infos_success" style="display:none;" role="alert">Vos informations ont été mises à jour.</div>
	<div class="alert alert-danger" id="infos_failed" style="display:none;" role="alert">Une erreur s'est produite</div>
	<form id="step_infos" method="post" class="step_form consultation" ng-submit="submit()">
		<fieldset id="last_date_update">Dernière mise à jour : {{infos.date}}</fieldset>
		<fieldset class="fieldset-phone">
			<div class="form-group">
				<label for="email">Adresse email</label>
				<br>
				<input id="email" class="form-control control-email required" type="text" placeholder="jean.durand@gmail.com" value="{{infos.email}}" name="email">
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
		</fieldset>
		
		<fieldset>
			<div class="form-group">
				<label for="phone_number">Téléphone</label>
				<div class="input-group tooltip-input">
					<input id="phone_number" class="form-control control-portable required" type="text" placeholder="06 60 06 60 06" value="{{infos.phone.mobile}}" name="phone_number">
					<span class="input-group-addon">Portable</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
			<div id="phone_work" class="form-group">
				<div class="input-group">
					<input id="phone_number_work" class="form-control control-phone required" type="text" placeholder="01 60 06 60 06" value="{{infos.phone.pro}}" name="phone_number_work">
					<span class="input-group-addon">Professionnel</span>
				</div>
				<div class="error_icon"></div>
				<div class="error_msg"></div>
			</div>
		</fieldset>
		
		<div class="clearer"></div>
		<fieldset class="valide" id="submit_grp_infos">
			<input type="submit" value="Valider">
		</fieldset>
	</form>
</div>