<div ng-controller="ClubSynthesisCtrl">
	<br><br>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<table id="manager_synthesis">
				<thead>
					<tr>
						<th class="prior_1"></th>
						<th class="prior_2">{{lastYear}}</th>
						<th class="prior_1">{{currentYear}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="rowname major prior_1">Encours sous gestion <div class="see_plus" id="see_plus_1" ng-click="showEncoursDetails(1)"></div></td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.encours)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.encours)"></font></td>
					</tr>
				</tbody>
				<tbody class="synthesis_details level_1">
					<tr>
						<td class="rowname major prior_1">{{synthesis.EOY.encoursLevel1.lfdeFunds.label}} <div class="see_plus" id="see_plus_2" ng-click="showEncoursDetails(2)"></div></td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.EOY.encoursLevel1.lfdeFunds.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.EOY.encoursLevel1.lfdeFunds.total)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.YTD.encoursLevel1.lfdeFunds.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.YTD.encoursLevel1.lfdeFunds.total)"></font></div>
						</td>
					</tr>
				</tbody>
				<tbody class="synthesis_details level_2">
					<tr ng-repeat="fund in synthesis.YTD.encoursLevel1.lfdeFunds.funds">
						<td class="rowname prior_1">{{fund.label}}</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{fund.percentEOY}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(fund.encoursEOY)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{fund.percentYTD}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(fund.encoursYTD)"></font></div>
						</td>
					</tr>
				</tbody>
				<tbody class="synthesis_details level_1">
					<!--<tr>
						<td class="rowname prior_1">{{synthesis.EOY.encoursLevel1.euroFunds.label}}</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.EOY.encoursLevel1.euroFunds.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.EOY.encoursLevel1.euroFunds.total)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.YTD.encoursLevel1.euroFunds.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.YTD.encoursLevel1.lfdeFunds.total)"></font></div>
						</td>
					</tr>-->
					<tr>
						<td class="rowname prior_1">{{synthesis.EOY.encoursLevel1.money.label}}</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.EOY.encoursLevel1.money.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.EOY.encoursLevel1.money.total)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.YTD.encoursLevel1.money.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.YTD.encoursLevel1.money.total)"></font></div>
						</td>
					</tr>
					<tr>
						<td class="rowname prior_1">{{synthesis.EOY.encoursLevel1.others.label}}</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.EOY.encoursLevel1.others.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.EOY.encoursLevel1.others.total)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{synthesis.YTD.encoursLevel1.others.percent}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(synthesis.YTD.encoursLevel1.others.total)"></font></div>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td class="rowname prior_1">Collecte Brute</td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.collecteBrut)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.collecteBrut)"></font></td>
					</tr>
					<tr>
						<td class="rowname prior_1">Collecte Nette</td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.collecteNet)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.collecteNet)"></font></td>
					</tr>
					<tr>
						<td class="rowname major prior_1">Rétrocessions <div class="see_plus" id="retrocession_link" ng-click="changeView('mangerDocuments')"></div></td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.retro)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.retro)"></font></td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td class="rowname prior_1">Nombre de clients <!--<div class="see_plus" id="see_plus_3" ng-click="showEncoursDetails(3)"></div>--></td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.clients)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.clients)"></font></td>
					</tr>
				</tbody>
				<!--<tbody class="synthesis_details level_3">
					<tr>
						<td class="rowname prior_1">Comptes Titres</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">3</div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">4</div>
						</td>
					</tr>
					<tr>
						<td class="rowname prior_1">Comptes PEA</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">3</div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">4</div>
						</td>
					</tr>
					<tr>
						<td class="rowname prior_1">Comptes PEA-PME</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">3</div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">4</div>
						</td>
					</tr>
					<tr>
						<td class="rowname prior_1">Assurance Vie</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">3</div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:30%;"></div>
							<div class="sub_cell_amount">4</div>
						</td>
					</tr>
				</tbody>-->
				<tbody>
					<tr>
						<td class="rowname prior_1">Nombre de nouveaux clients</td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.newClients)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.newClients)"></font></td>
					</tr>
					<tr>
						<td class="rowname major prior_1">Nombre de comptes <div class="see_plus" id="see_plus_4" ng-click="showEncoursDetails(4)"></div></td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.accounts)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.accounts)"></font></td>
					</tr>
				</tbody>
				<tbody class="synthesis_details level_4">
					<tr ng-repeat="account in synthesis.YTD.accountsLevel1">
						<td class="rowname prior_1">{{account.label}}</td>
						<td class="number prior_2 sub_cell">
							<div class="sub_cell_bar" style="width:{{account.percentEOY}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(account.totalEOY)"></font></div>
						</td>
						<td class="number prior_1 sub_cell">
							<div class="sub_cell_bar" style="width:{{account.percentYTD}}%;"></div>
							<div class="sub_cell_amount"><font ng-bind-html="trustAsHtml(account.totalYTD)"></font></div>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<td class="rowname prior_1">Nombre d'ouverture de comptes</td>
						<td class="number prior_2"><font ng-bind-html="trustAsHtml(synthesis.EOY.newAccounts)"></font></td>
						<td class="number prior_1"><font ng-bind-html="trustAsHtml(synthesis.YTD.newAccounts)"></font></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 col-xs-12">
			<h2 class="table_title" style="margin-top:0;">Répartition des encours</h2>
			<br>
			<!--<div id="repartition_bar">
				<div id="repartition_ae" style="left:0;width:{{synthesis.repartition.AE}}%;"></div>
				<div id="repartition_dt" style="left:{{synthesis.repartition.AE}}%;width:{{synthesis.repartition.DT}}%;"></div>
				<div id="repartition_li" style="left:{{synthesis.repartition.DT}}%;width:{{synthesis.repartition.LD}}%;"></div>
			</div>
			<br>
			<ul id="repartition_legend">
				<li><span><font ng-bind-html="trustAsHtml(synthesis.repartition.percentAE)"></font></span> Actions européennes</li>
				<li><span><font ng-bind-html="trustAsHtml(synthesis.repartition.percentDT)"></font></span> Diversifiés et taux</li>
				<li><span><font ng-bind-html="trustAsHtml(synthesis.repartition.percentLD)"></font></span> Liquidités</li>
				<li><span><font ng-bind-html="trustAsHtml(synthesis.repartition.percentOT)"></font></span> Autres</li>
			</ul>-->
			<div id="encours_repartition_graph"></div>
		</div>
	</div>
</div>
